{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/panel_admin.css' %}">
<link href="{% static 'js/vanilla-calendar/build/vanilla-calendar.min.css' %}" rel="stylesheet">
<script src="{% static 'js/vanilla-calendar/build/vanilla-calendar.min.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/modalWindows.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
{% endblock css %}

{% block content %}

    {% for reporte in tiposDeReportes %}
        <div class="wrapperSections">
            <div class ="tittleWrapper">
                <h4>{{reporte}}</h4>
            </div>
            <div class="buttonWrapper">
                <a id="expCannons" class="buttonMore buttonActiveModalFilter">
                {% comment %} <a href="{% url 'users:panelPermisos' %}" id="expCannons" class="buttonMore"> {% endcomment %}
                    <div>
                        <h3>Exportar Excel</h3>
                        <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
                    </div>
                </a>
            </div>
        
        </div>
    {% endfor %}
    
    <!-- MODAL DE FILTROS DEFAULT  -->
    <!-- Respetar estructura del modal-->
    <div class="modalFilterContainer">
        <div class="background"></div>
        <div class="windowModal">
        
            <button type="button" id="closeFormFilter">
                <img src="{% static 'images/icons/close.svg' %}" alt="">
            </button>

            <form method="POST" id="filterForm" class="filterForm">
                {% csrf_token %}
                <input type="hidden" name="typeReporte" value="Cannons">

                <div class="wrapperCalendario wrapperTypeFilter">
                    <h3 class="labelFilterElement">Filtrar por fecha</h3>
                    <div class="containerCalendario">
                        <input id="calendar-input" name="fecha" class="filterInput input-read-write-default" type="text" placeholder="Choose date" readonly />
                        <div class="calendar" id="calendar"></div>
                    </div>
                </div>

                <div id="selectWrapperSelectTypePayments" class="wrapperTypeFilter">
                    <h3 class="labelFilterElement">Filtrar por tipo de pago</h3>
                    <div class="containerInputAndOptions">
                      <img class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">

                      <input type="text" name="tipoPago" class = "input-select-custom multipleSelect" id ="tipoDePago" placeholder ="Elija el metodo de pago" autocomplete="off" readonly>
                      <ul class="list-select-custom options">
                            <li data-value="Efectivo">Efectivo</li>
                            <li data-value="Banco">Banco</li>
                            <li data-value="Mercado Pago">Mercado Pago</li>
                            <li data-value="Posnet">Posnet</li>
                            <li data-value="Transferencia">Transferencia</li>
                      </ul>
                    </div>
                </div>
                
                <div id="selectWrapperSelectAgency" class="wrapperTypeFilter">
                    <h3 class="labelFilterElement">Filtrar por sucursal</h3>
                    <div class="containerInputAndOptions">
                      <img class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                      <input type="text" name="sucursal" class = "multipleSelect input-select-custom" id ="sucursalInput" value="{{user.sucursal.pseudonimo}}"placeholder ="Elija la sucursal" autocomplete="off" readonly>
                      <ul class="list-select-custom options">
                            <li data-value="Efectivo">Efectivo</li>
                            <li data-value="Banco">Banco</li>
                            <li data-value="Mercado Pago">Mercado Pago</li>
                            <li data-value="Posnet">Posnet</li>
                            <li data-value="Transferencia">Transferencia</li>
                      </ul>
                    </div>
                </div>

                <div id="selectWrapperSelectCobrador"class="wrapperTypeFilter">
                    <h3 class="labelFilterElement">Filtrar por cobrador</h3>
                    <div class="containerInputAndOptions">
                      <img class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                      <input type="text" name="cobrador" class = "multipleSelect input-select-custom" id ="cobradorInput" value="" placeholder ="Elija el cobrador" autocomplete="off" readonly>
                      <ul class="list-select-custom options">
                            {% for cobrador in cobradores %}
                                <li>{{cobrador.nombre}}</li>
                            {% endfor %}
                            <li data-value="Efectivo">Efectivo</li>
                            <li data-value="Banco">Banco</li>
                            <li data-value="Mercado Pago">Mercado Pago</li>
                            <li data-value="Posnet">Posnet</li>
                            <li data-value="Transferencia">Transferencia</li>
                      </ul>
                    </div>
                </div>  

                <div id="wrapperRadioEgresoIngreso" class="wrapperTypeFilter">
                    <h3 class="labelFilterElement">Filtrar por:</h3>
                    <div class="selectEgreso_Ingreso inputsRadiosContainer">
                        <input type="radio" name="tipoMovimiento" id="ingreso" value="Ingreso">
                        <label for="ingreso">Ingreso</label>
        
                        <input type="radio" name="tipoMovimiento" id="egreso" value="Egreso">
                        <label for="egreso">Egreso</label>
                    </div>
                </div>                  
            </form>

            <button id="submitFilter" class="add-button-default" form="filterForm" type="submit">Filtrar</button>
        </div>
    </div>


{% endblock content %}
{% block js %}
<script src="{% static 'js/inputsSelectsMultipleCustoms.js' %}"></script>
<script src="{% static 'js/inputsRadiosManage.js' %}"></script>
<script src="{% static 'js/manageModalFilter.js' %}"></script>
<script src="{% static 'js/vanilla-calendar/manageJsCalendar.js' %}" defer></script>

{% endblock js %}