{% extends 'molde.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/caja.css' %}">
{% endblock css %}

{% block content %}
    <div class="filters">
        <div class="buttonsFilters">
            <a href="{% url 'sales:exportExcel' %}">Excel</a>
            <a href="{% url 'sales:cierreDeCaja' %}">Cierre de caja</a>
            <button class ="buttonNewMov" id="buttonEgreso" type ="button">Nuevo Egreso</button>
            <button class ="buttonNewMov" id="buttonIngreso" type ="button">Nuevo Ingreso</button>
            <div class="buttonFilterWrapper">
                <button id="openFilters" type ="button">Filtrar</button>
                <a href="{% url 'sales:caja' %}" id="clear_filters"> Limpiar filtros</a>
            </div>
        
        </div>
        
        <div class="modalFilters">
            <div class="background"></div>
            <div class="modalWrapperFilter">
                <button type="button" id="closeFormFilter">
                    <img src="{% static 'images/icons/eliminar.svg' %}" alt="">
                </button>
                <form method="GET" class="calendarFilter">
                    <div class="wrapperCalendario">
                        <div class="fromDate">
                            <h3>De</h3>
                            <div class="calendar_button">
                                <input 
                                    type="hidden" 
                                    name="fecha_inicial"
                                    id="fecha_inicial"
                                    class="inputFilter"
                                >
                                <h3 id="fromDateContent">Fecha</h3>
                                <img src="{% static '/images/icons/icon_calendario.png' %}" alt="">
                            </div>
                            <div class="calendar">
                                <div class="mes">
                                    <h3 id ="fromMonth_year"></h3>
                                    <div class="button__change_month">
                                        <button type="button" id="fromDatePrevIcon"> <img src="{% static 'images/icons/back.png' %}" alt=""> </button>
                                        <button type="button" id="fromDateNextIcon"> <img src="{% static 'images/icons/next.png' %}" alt=""> </button>
                                    </div>
                                </div>
                                <div class="dias">
                                    <ul class ="tags">
                                        <li>Dom</li>
                                        <li>Lun</li>
                                        <li>Mar</li>
                                        <li>Mie</li>
                                        <li>Jue</li>
                                        <li>Vie</li>
                                        <li>Sab</li>
                                    </ul>
                                    <ul class="fromDatenumbers"></ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="toDate">
                            <h3>Hasta</h3>
                            <div class="calendar_button">
                                <input 
                                    type="hidden" 
                                    name="fecha_final"
                                    id="fecha_final"
                                    class="inputFilter"
                                >
                                <h3 id="toDateContent">Fecha</h3>
                                <img src="{% static '/images/icons/icon_calendario.png' %}" alt="">
                            </div>
                            <div class="calendar">
                                <div class="mes">
                                    <h3 id ="toMonth_year"></h3>
                                    <div class="button__change_month">
                                        <button type="button" id="toDatePrevIcon"> <img src="{% static 'images/icons/back.png' %}" alt=""> </button>
                                        <button type="button" id="toDateNextIcon"> <img src="{% static 'images/icons/next.png' %}" alt=""> </button>
                                    </div>
                                </div>
                                <div class="dias">
                                    <ul class ="tags">
                                        <li>Dom</li>
                                        <li>Lun</li>
                                        <li>Mar</li>
                                        <li>Mie</li>
                                        <li>Jue</li>
                                        <li>Vie</li>
                                        <li>Sab</li>
                                    </ul>
                                    <ul class="toDatenumbers"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapperselectType">
                        <div class="selectTypePayments selectInputFilter">
                           <h3>Filtrar por tipo de pago</h3>
                           
                          <input type="text" name="metodoPago" class = "inputFilter" id ="tipoDePago" value="" placeholder ="Elija el metodo de pago" autocomplete="off" readonly>
                          <ul class="options">
                                <li>Efectivo</li>
                                <li>Banco</li>
                                <li>Mercado Pago</li>
                                <li>Posnet</li>
                                <li>Transferencia</li>
                          </ul>
                        </div>
                    </div>
                    
                    <div class="wrapperSelectIngresoEgreso">
                        <h3>Filtrar por:</h3>
                        <div class="selectEgreso_Ingreso">
                            <input type="radio" name="tipoMovimiento" class="inputFilter" id="ingreso" value="Ingreso">
                            <label for="ingreso">Ingreso</label>
            
                            <input type="radio" name="tipoMovimiento" class="inputFilter" id="egreso" value="Egreso">
                            <label for="egreso">Egreso</label>
                        </div>
                    </div>
                    <div class="wrapperselectCobrador">
                        <div class="selectCobrador selectInputFilter">
                          <h3>Filtrar por cobrador</h3>
                          <input type="text" name="cobrador" class = "inputFilter" id ="cobradorInput" value="" placeholder ="Elija el cobrador" autocomplete="off">
                          <ul class="options">
                                {% for cobrador in cobradores %}
                                    <li>{{cobrador.nombre}}</li>
                                {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <div class="wrapperselectSucursal">
                        <div class="selectSucursal selectInputFilter">
                          <h3>Filtrar por sucursal</h3>
                          <input type="text" name="sucursal" class = "inputFilter" id ="sucursalInput" value="" placeholder ="Elija la sucursal" autocomplete="off" readonly>
                          <ul class="options">
                                {% for sucursal in sucursales %}
                                    <li>{{sucursal}}</li>
                                {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <button id="submitFilter" type="submit">Filtrar</button>
                    
                </form>
            </div>
        </div>
    </div>


    <div class ="caja">
        
        <div class="movimientos">
            <div class="tittlesWrapper">
                <ul class="tittles">
                    <li>Fecha</li>
                    <li>Concepto</li>
                    <li>N° Cuota</li>
                    <li>Ingreso</li>
                    <li>Egreso</li>
                </ul>   
            </div>
          
            <div class="valuesWrapper">
                  <ul class="values">
                    
                  </ul>       
            </div>

            <div id="pagination_container">
                
                <button type="button" id="buttonPreviousMov">Atras</button>
                
                <h3 class="cuotasPages"></h3>

                <button type="button" id="buttonNextMov">Siguiente</button>
                
            </div>
        </div>
        <div class="resum">
            <div class="resum__cuenta">
                <div class="resum__cuenta__tipoCaja">
                    <h2>Tipo de caja</h2>
                    <h4>Saldo en efectivo</h4>
                    <h4>Saldo en banco</h4>
                    <h4>Saldo en Mer. Pago</h4>
                    <h4>Saldo en Posnet</h4>
                    <h4>Saldo en Transferencia</h4>
                    <h4>Total</h4>
                </div>
                <div class="resum__cuenta__saldo">
                    <h2>Saldo</h2>
                    {% language 'de' %}
                    <h4 id="resumEfectivo">${{efectivo}}</h4>
                    <h4 id="resumBanco">${{banco}}</h4>
                    <h4 id="resumMerPago">${{merPago}}</h4>
                    <h4 id="resumPosnet">${{posnet}}</h4>
                    <h4 id="resumTrans">${{transferencia}}</h4>
                    <h4 id="resumTotal">${{total}}</h4>
                    {% endlanguage %}

                </div>
            </div>
            {% if filtros %}    
                <div class="wrapperFiltroTexto">
                    <h3>Filtrado por: </h3>
                    <ul>
                        
                    </ul>
                </div>
            {% endif %}
            <div class="wrapperButtonInforme">
                <a href="{% url 'sales:informePDF' %}" target="_blank">Hacer informe</a>
                <a href="{% url 'sales:informeSend' %}" target="_blank">Hacer informe y enviar</a>
            </div>
        </div>
    </div>


    <div class="main_modalCuota">
        <div class="background"></div>
        <div class="modal"id="modalForCuotas">
            <div class="tittleModal">
                <h3>Detalle de cuota</h3>
                <button type="button" class="closeModal">
                    <img src="{% static 'images/icons/eliminar.svg' %}" alt="">
                </button>
            </div>
            <div class="modal_information">
                <div class="wrapperData">
                    <h2>N° de Operacion</h2>
                    <div class="backgroundInput">
                        <h2 id="numeroVenta"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Metodo de pago</h2>
                    <div class="backgroundInput">
                        <h2 id="metodoPago"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Fecha de pago</h2>
                    <div class="backgroundInput">
                        <h2 id="fechaPago"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>N° de Cuota</h2>
                    <div class="backgroundInput">
                        <h2 id="numeroCuota"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Dinero</h2>
                    <div class="backgroundInput">
                        <h2 id="dinero"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>N° de Cliente</h2>
                    <div class="backgroundInput">
                        <h2 id="numeroCliente"></h2>
                    </div>
                </div>
                
                <div class="wrapperData">
                    <h2>Cobrador</h2>
                    <div class="backgroundInput">
                        <h2 id="cobrador"></h2>
                    </div>
                </div>
                
                <div class="wrapperData">
                    <h2>Sucursal</h2>
                    <div class="backgroundInput">
                        <h2 id="sucursal"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalForMovsExternos">
             <div class="tittleModal">
                <h3>Detalle de movimiento</h3>
                <button type="button" class="closeModal">
                    <img src="{% static 'images/icons/eliminar.svg' %}" alt="">
                </button>
            </div>
            <div class="modal_information">
                <div class="wrapperData onlyEgreso">
                    <h2>Tipo de comprobante</h2>
                    <div class="backgroundInput">
                        <h2 id="tipoComprobanteMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData onlyEgreso">
                    <h2>Nro de comprobante</h2>
                    <div class="backgroundInput">
                        <h2 id="nroComprobanteMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData onlyEgreso">
                    <h2>Tipo de Identificacion</h2>
                    <div class="backgroundInput">
                        <h2 id="tipoIdentificaionMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData onlyEgreso">
                    <h2>Nro de identificacion</h2>
                    <div class="backgroundInput">
                        <h2 id="nroIdentificacionMovExterno"></h2>
                    </div>
                </div>

                <div class="wrapperData onlyEgreso">
                    <h2>Denominacion</h2>
                    <div class="backgroundInput">
                        <h2 id="denominacionMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Tipo moneda</h2>
                    <div class="backgroundInput">
                        <h2 id="tipoMonedaMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Importe</h2>
                    <div class="backgroundInput">
                        <h2 id="dineroMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Metodo de pago</h2>
                    <div class="backgroundInput">
                        <h2 id="metodoPagoMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Fecha de emicion</h2>
                    <div class="backgroundInput">
                        <h2 id="fechaMovExterno"></h2>
                    </div>
                </div>
                <div class="wrapperData">
                    <h2>Ente recaudador</h2>
                    <div class="backgroundInput">
                        <h2 id="enteMovExterno"></h2>
                    </div>
                </div>
                
                <div class="wrapperData">
                    <h2>Concepto</h2>
                    <div class="backgroundInput">
                        <h2 id="conceptoMovExterno"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main_modalNewEgresoIngreso">
        <div class="background__newEgresoIngreso"></div>
        <div class="modal_newEgresoIngreso">
            <div class="tittleModal">
                <h3 id="tittleModalEgresoIngreso"></h3>
                <button type="button" id="closeModalEgresoIngreso">
                    <img src="{% static 'images/icons/eliminar.svg' %}" alt="">
                </button>
            </div>
            <form method="POST" class="modal_form" id="formNewIngresoEgreso">
                {% csrf_token %}
                <input name="movimiento" id="typeMov" type="hidden" value="">
                <div class="wrapperInput selectInput">
                    <h2>Tipo de comprobante</h2>
                    <input name="tipoComprobante" id="tipoComprobanteMov" class="inputEgresoIngreso" readonly>
                    <ul class="select">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                        <li>TK</li>
                        <li>X</li>
                        <li>RC</li>
                    </ul>
                </div>
                <div class="wrapperInput">
                    <h2>N° de comprobante</h2>
                    <input name="nroComprobante" id="nroComprobanteMov" class="inputEgresoIngreso">
                </div>
                <div class="wrapperInput selectInput" >
                    <h2>Tipo de Identificacion</h2>
                    <input name="tipoIdentificacion" id="tipoIdentificacionMov" class="inputEgresoIngreso" readonly>
                    <ul class="select">
                        <li>DNI</li>
                        <li>CUIT</li>
                        <li>Legajo</li>
                        <li>Otro</li>
                    </ul>
                </div>
                <div class="wrapperInput">
                    <h2>N° de Identificacion</h2>
                    <input name="nroIdentificacion" id="nroIdentificacionMov" class="inputEgresoIngreso">
                </div>
                <div class="wrapperInput">
                    <h2>Denominacion</h2>
                    <input name="denominacion" id="denominacionMov" class="inputEgresoIngreso">
                </div>
                <div class="wrapperInput selectInput" >
                    <h2>Tipo de moneda</h2>
                    <input name="tipoMoneda" id="tipoMonedaMov" class="inputEgresoIngreso" readonly>
                    <ul class="select">
                        <li>ARS</li>
                        <li>USD</li>
                        <li>BRL</li>
                    </ul>
                </div>
                <div class="wrapperInput">
                    <h2>Importe</h2>
                    <input name="dinero" id="dineroMov" class="inputEgresoIngreso">
                </div>
                <div class="wrapperInput selectInput" >
                    <h2>Metodo de pago</h2>
                    <input name="metodoPago" id="metodoPagoMov" class="inputEgresoIngreso" readonly>
                    <ul class="select">
                        <li>Efectivo</li>
                        <li>Banco</li>
                        <li>Mercado Pago</li>
                        <li>Posnet</li>
                        <li>Transferencia</li>
                    </ul>
                </div>
                <div class="wrapperInput">
                    <h2>Fecha de emicion</h2>
                    <input name="fecha" id="fechaMov" class="inputEgresoIngreso">
                </div>
                <div class="wrapperInput">
                    <h2>Ente recaudador</h2>
                    <input name="ente" id="enteMov" class="inputEgresoIngreso">
                </div>
                <div class="wrapperInput">
                    <h2>Concepto</h2>
                    <input name="concepto" id="conceptoMov" class="inputEgresoIngreso">
                </div>
                <div class="wrapperInput">
                    <div class="wrapperSelectAdelanto_Premio">
                        <div>
                            <input type="radio" name="adelanto_premio" id="adelanto" value="adelanto" class="inputSelectPremio_Adelanto">
                            <label for="adelanto">Adelanto</label>
                        </div>
                        
                        <div>
                            <input type="radio" name="adelanto_premio" id="premio" value="premio" class="inputSelectPremio_Adelanto">
                            <label for="premio">Premio</label>
                        </div>
                        
                    </div>
                </div>
                
            </form>
            <button type="submit" id="confirmMovimiento" form="modal_form">Realizar</button>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/parseQueryToString.js' %}"></script>
<script src="{% static 'js/fillMovimientos.js' %}"></script>
<script src="{% static 'js/calendario.js' %}"></script>
<script src="{% static 'js/inputs_selects_filter.js' %}"></script>
<script src="{% static 'js/selects_inputs.js' %}"></script>
<script src="{% static 'js/filterCajaEgresoIngreso.js' %}"></script>
<script src="{% static 'js/modalFilters.js' %}"></script>
<script src="{% static 'js/createNewMov.js' %}"></script>
<script src="{% static 'js/clearClasses.js' %}"></script>
{% endblock js %}