{% extends 'molde.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/caja.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link rel="stylesheet" href="{% static 'modalStatic/doc/tingle/tingle.min.css' %}">

<link href="{% static 'js/vanilla-calendar-pro/styles/index.css' %}" rel="stylesheet">
<script src="{% static 'js/vanilla-calendar-pro/index.js' %}" defer></script>

<link rel="stylesheet" href="{% static 'css/vanilla_table.css' %}" />

{% endblock css %}

{% block content %}
    <div class="header_section">
        <div class="titleHeaderWrapper">
            <img src="{% static 'images/icons_sider/caja.svg' %}" alt="">
            <h1 class="titleHeader">CAJA</h1>
        </div>
        <a class="add-button-default" href="{% url 'sales:informePDF' %}" target="_blank">Generer reporte</a>
        <a class="button-default-style" href="{% url 'sales:cierreDeCaja' %}">Cierre de caja</a>
        {% comment %} <button class ="buttonNewMov" value="egreso" id="buttonEgreso" onclick="modalNewMov(this.value)" type ="button">Nuevo Egreso</button>
        <button class ="buttonNewMov" value="ingreso" id="buttonIngreso" onclick="modalNewMov(this.value)" type ="button">Nuevo Ingreso</button>
        <div class="buttonFilterWrapper">
            <button id="openFilters" class="buttonActiveModalFilter" onclick="modalFilter()" type ="button">Filtrar</button>
            <a href="{% url 'sales:caja' %}" id="clear_filters"> Limpiar filtros</a>
        </div>    {% endcomment %}
    </div>

    <!-- INFORMACION DE CAJA -->
    <div class ="caja">
        <div class="movimientos">
            <div id="caja_table" class="vt-sticky"></div>
        </div>

        <div class="resumWrapper">
            <div class="resumTableWrapper">
                <table class="resum_table">
                    <thead>
                        <tr>
                            <th>Tipo de caja</th>
                            {% comment %} <th>Ingreso</th>
                            <th>Egreso</th> {% endcomment %}
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            {% comment %} <div class="wrapperButtonInforme">
            </div> {% endcomment %}

        </div>
    </div>

{% endblock content %}

{% block js %}
<script>
    var campaniasDisponibles = {{campaniasDisponibles | safe}};
    var CSRF_TOKEN = '{% csrf_token %}';
    var imgNext = "{% static 'images/icons/arrowDown.png' %}";
    var campanias = {{campanias | safe}};
    var agencias = {{agencias_permitidas | safe}};
    var cuentas_de_cobro = {{cuentas_de_cobro | safe}};
    var metodos_de_pago = {{metodos_de_pago | safe}};
</script>


<!-- Scripts bases: manejo de multipleSelects, OnlySelect, Controlar el modal de filter, el calendario de fechas, y el manejador de los inputs radios-->
<script src="{% static 'modalStatic/doc/tingle/tingle.min.js' %}"></script>
<script src="{% static 'js/vanilla-calendar-pro/multipleCalendarManage.js' %}" defer></script>
<script src="{% static 'js/vanilla-calendar-pro/singleCalendarWithTime.js' %}" defer></script>

<script src="{% static 'js/vanilla_components/inputSelectOnly.js' %}"></script>
<script src="{% static 'js/vanilla_components/inputsMultipleSelect_v2.js' %}"></script>

<script src="{% static 'js/vanilla_components/z_index_orders_selects.js' %}"></script>
<script src="{% static 'js/sales/createNewMov.js' %}"></script>
<script type="module" src="{% static 'js/users/caja_table.js' %}"></script>

{% endblock js %}