{% extends 'molde.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/caja.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link rel="stylesheet" href="{% static 'modalStatic/doc/tingle/tingle.min.css' %}">

<link href="{% static 'js/vanilla-calendar-pro/styles/index.css' %}" rel="stylesheet">
<script src="{% static 'js/vanilla-calendar-pro/index.js' %}" defer></script>

{% endblock css %}

{% block content %}
    <div class="buttonsFilters">
        <a href="{% url 'sales:cierreDeCaja' %}">Cierre de caja</a>
        <button class ="buttonNewMov" value="egreso" id="buttonEgreso" onclick="modalNewMov(this.value)" type ="button">Nuevo Egreso</button>
        <button class ="buttonNewMov" value="ingreso" id="buttonIngreso" onclick="modalNewMov(this.value)" type ="button">Nuevo Ingreso</button>
        <div class="buttonFilterWrapper">
            <button id="openFilters" class="buttonActiveModalFilter" onclick="modalFilter()" type ="button">Filtrar</button>
            <a href="{% url 'sales:caja' %}" id="clear_filters"> Limpiar filtros</a>
        </div>   
    </div>

    <!-- INFORMACION DE CAJA -->
    <div class ="caja">
        <div class="movimientos">
            <div class="tittlesWrapper">
                <ul class="tittles">
                    <li>Fecha</li>
                    <li>Concepto</li>
                    <li>N° Cuota</li>
                    <li>Ingreso</li>
                    <li>Egreso</li>
                </ul>   
            </div>
          
            <div class="valuesWrapper">
                  <ul class="values">
                    
                  </ul>       
            </div>

            <div id="pagination_container">
                
                <button type="button" id="buttonPreviousMov">Atras</button>
                
                <h3 class="cuotasPages"></h3>

                <button type="button" id="buttonNextMov">Siguiente</button>
                
            </div>
        </div>

        <div class="resumWrapper">
            <div class="resumTableWrapper">
                <table class="resum_table">
                    <thead>
                        <tr>
                            <th>Tipo de caja</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="wrapperButtonInforme">
                <a href="{% url 'sales:informePDF' %}" target="_blank">Hacer informe</a>
            </div>

        </div>
    </div>

{% endblock content %}

{% block js %}
<script>
    var campaniasDisponibles = {{campaniasDisponibles | safe}};
    var CSRF_TOKEN = '{% csrf_token %}';
    var imgNext = "{% static 'images/icons/arrowDown.png' %}";
    var campanias = {{campanias | safe}};
    var agencias = {{agencias_permitidas | safe}};
    var cuentas_de_cobro = {{cuentas_de_cobro | safe}};
    var metodos_de_pago = {{metodos_de_pago | safe}};
</script>


<!-- Scripts bases: manejo de multipleSelects, OnlySelect, Controlar el modal de filter, el calendario de fechas, y el manejador de los inputs radios-->
<script src="{% static 'modalStatic/doc/tingle/tingle.min.js' %}"></script>
<script src="{% static 'js/vanilla-calendar-pro/multipleCalendarManage.js' %}" defer></script>
<script src="{% static 'js/vanilla-calendar-pro/singleCalendarWithTime.js' %}" defer></script>

<script src="{% static 'js/inputsSelectsOnly.js' %}"></script>
<script src="{% static 'js/inputSelectOnly_v2.js' %}"></script>
<script src="{% static 'js/inputsMultipleSelect_v2.js' %}"></script>


<!-- ------------------------------------------------------------------------------------------  -->

<script src="{% static 'js/fillMovimientos.js' %}"></script>
<script src="{% static 'js/z_index_orders_selects.js' %}"></script>
<script src="{% static 'js/createNewMov.js' %}"></script>

{% endblock js %}