{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/selectNewCustomerForChange.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
{% endblock css %}

{% block content %}
<div class="filters">
  <h3>Elija el cliente con el que desea reemplazarlo</h3>
    <div>
      <input 
      type="text"
      class = "customer input-read-write-default"
      id="customer_search">
      <img src="{% static 'images/icons/search.svg' %}" alt="">
    </div>

</div>
<form method="POST" id="formSelectCustomer" class="valuesWrapper">
  <input type="hidden" name="customer" required id="customer_input">
  {% csrf_token %}
  <table class="information">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Localidad</th>
            <th>Provincia</th>
        </tr>
    </thead>
    <tbody class="values">
          {% for customer in customers %}
          <tr class="customer_item">
              <td id="name"><input id="select_client" class="checkbox_select_client" type="checkbox" name="select_client">{{customer.nombre}}</td>
              <td id="dni">{{customer.dni}}</td>
              <td id="tel">{{customer.tel}}</td>
              <td id="loc">{{customer.loc}}</td>
              <td id="prov">{{customer.prov}}</td>
          </tr>
          {% endfor %} 
    </tbody>
  </table>
</form>
<div class="buttonsWrapper">
  <div>
    <button id="yesConfirm" disabled class="add-button-default" type="button" form="formSelectCustomer">Confirmar</button>
    <a class ="delete-button-default" href="{% url 'sales:detail_sale' object.id %}">Cancelar</a>
  </div>
</div>

{% endblock content %}
{% block js %}
<script>

  var urlGetCustomers = "{% url 'users:list_customers' %}";
  var urlGetCustomers = "{% url 'sales:changeTitu' object.pk%}";

  function actualizarResultados(resultados, contenedor) {
    // Limpia el contenedor de los datos
    contenedor.innerHTML = "";

    
    for (let i = 0; i < resultados.length; i++) {
      let element = resultados[i];
      let cliente = `
      <tr class="customer_item">
        <td id="name"><input class="checkbox_select_client" type="checkbox" name="select_client">${element.nombre}</td>
        <td id="dni">${element.dni}</td>
        <td id="tel">${element.tel}</td>
        <td id="loc">${element.loc}</td>
        <td id="prov">${element.prov}</td>
      </tr>
      `;
      contenedor.insertAdjacentHTML("beforeend", cliente);
    }
    
    seleccionarNuevoCliente();
  }
</script>
<script src="{% static 'js/selectCustomerChangeTitularidad.js' %}"></script>
<script src="{% static 'js/inputs_search_customers.js' %}"></script>
{% endblock js %}