{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/create_customer.css' %}">
{% endblock css %}
    
{% block content %}
    <div class="wrapper_tittle">
        <h1>NUEVO CLIENTE</h1>
    </div>
    <form method="post" id="form_create_customer" autocomplete="off">
        {% csrf_token %}
        {% for inp in form%} 
            <div class="inputWrapper" id="{{inp.auto_id}}w">
                <label for="">{{inp.label|truncatechars:13}}</label>
                {{inp}} 
            </div>
        {%endfor%}
    </form>
    <div class="wrapperButtons">
        <input type="submit" value="Guardar y cambiar" form="form_create_customer" id="save_customer">
        <a id ="cancelar" href="{% url 'sales:changeTitu' object.pk %}"> Cancelar </a>
    </div>
    


{% endblock content %}