{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detallesVentas.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link rel="stylesheet" href="{% static 'modalStatic/doc/tingle/tingle.min.css' %}">

{% endblock css %}

{% block content %}
<div id="wrapperLoader">
  <span id="loader"></span>
</div>

<div class="filters">
  <div class="buttonsActionsWrapper">
    <button type="button" id="showModalFiltro" class="button-default-style" onclick="newModalIFiltro()">Filtrar</button>
  </div>
{% comment %} 
  <form method="POST" id="formFilter">
    {% csrf_token %}
    <div class="filtersActionWrapper">

      Validar por permiso ------ 
      <div id="wrapperSucursal" class="inputWrapper">
        <div class="containerInputAndOptions">
            <input type="text" placeholder="Usuarios" oninput="searchElement('/usuario/search/',this)" name="nombre_usuarios" id="usuariosInput" required autocomplete="off" maxlength="50" class="input-select-custom inputSearchSelect">
            <ul id="usuarios-options" class="list-selectSearch-custom">
              {% for u in usuarios %}
                <li>{{u}}</li>
              {% endfor %}

            </ul>
        </div>
      </div>

      <div id="wrapperSucursal" class="inputWrapper">
        <div class="containerInputAndOptions">
            <input type="text" placeholder="Products" oninput="searchElement('/products/search/',this)" name="nombre_productos" id="usuariosInput" required autocomplete="off" maxlength="50" class="input-select-custom inputSearchSelect">
            <ul id="products-options" class="list-selectSearch-custom">
              {% for p in products %}
                <li>{{p.nombre}}</li>
              {% endfor %}

            </ul>
        </div>
      </div>


    </div>
    <button type="button" id="submitFilter" class="add-button-default">Filtrar</button>
    
  </form>   
{% endcomment %}
</div>



<div class="informationWrapper">
  <a href="{% url 'users:list_customers'%}" id="buttonCleanFilter">Limpiar filtros</a>
  <table class="information">
    <thead>
        <tr>
          <th>Nro op.</th>
          <th>Fecha</th>
          <th>Nro cliente</th>
          <th>Nombre cliente</th>
          <th>Agencia</th>
          <th>Nro cuotas</th>
          <th>Importe</th>
          <th>Interes</th>
          <th>Total a pagar</th>
          <th>Importe x cuota</th>
          {% comment %} <th>Total restante</th> {% endcomment %}
          <th>Producto</th>
          <th>Paquete</th>
          <th>Vendedor</th>
          <th>Supervisor</th>
        </tr>
    </thead>
    
    <tbody class="values">
      {% for v in ventas %}
          <tr class="customer_item" data-url="{% url 'sales:detail_sale' v.id %}">
            <td><p>{{v.nro_operacion}}</p></td>
            <td><p>{{v.fecha}}</p></td>
            <td><p>{{v.cliente.nro_cliente}}</p></td>
            <td><p>{{v.cliente.nombre}}</p></td>
            <td><p>{{v.agencia}}</p></td>
            <td><p>{{v.nro_cuotas}}</p></td>
            <td><p>${{v.importe}}</p></td>
            <td><p>${{v.intereses_generados}}</p></td>
            <td><p>${{v.total_a_pagar}}</p></td>
            <td><p>${{v.importe_x_cuota}}</p></td>
            <td><p>{{v.producto}}</p></td>
            <td><p>{{v.paquete}}</p></td>
            <td><p>{{v.vendedor}}</p></td>
            <td><p>{{v.supervisor}}</p></td>


          </tr>
      {% endfor %}
    </tbody>
  </table>

</div> 

{% endblock content %}
{% block js %}
<script>
  var csrf_token = '{%csrf_token%}'
  var urlImportData = "{% url 'users:importClientes' %}"
  {% comment %} var sucursalesDisponibles = {{ sucursalesDisponiblesJSON|safe }}; {% endcomment %}
  var logoDisplayMore = "{% static 'images/icons/arrowDown.png' %}";

</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Selecciona todos los <tr> con la clase 'user_item'
    document.querySelectorAll('.customer_item').forEach(row => {
      row.addEventListener('click', function() {
        // Redirecciona a la URL almacenada en el atributo 'data-url' del <tr>
        window.location.href = row.getAttribute('data-url');
      });
    });
  });
</script>

<script src="{% static 'modalStatic/doc/tingle/tingle.min.js' %}"></script>
<script src="{% static 'js/inputsSearchSelect.js' %}"></script>
<script src="{% static 'js/users/importDataCliente.js' %}"></script>
<script src="{% static 'js/x_filter_customers.js' %}"></script>
{% endblock js %}