{% extends 'molde.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail_sale.css' %}">
{% endblock css %}

{% block content %}

<div class="wrapperButtonManageVenta">
    <div class="selectAdjudicacion">
        <div class="selectedOption">
            <h2>Adjudicar</h2>
            <img src="{% static 'images/icons/iconMore.png' %}" alt="">
        </div>
        <ul class="options">
            <a href="{% url 'sales:adjSorteo' object.id%}">Por sorteo</a>
            <a href="{% url 'sales:adjNegociacion' object.id%}">Por negociacion</a>
        </ul>
    </div>

    <div class="buttonDeBaja">
        <button type="button" id="baja"> Dar baja </button>
        <div class="formConfirmWrapper">
            <form id="formBaja"  method="POST">
                {% csrf_token %}
                <div class="inputPorcentajeWrapper">
                    <div class="input">
                        <p>Porcentaje</p>
                        <div id="inputPorcentaje">
                            <div>
                                <input name='porcentage' id='porcentage' type='text' value ='{{porcetageDefault}}' onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8 || event.charCode == 13 || (event.charCode >= 37 && event.charCode <= 40)' readonly>
                                <p>%</p>
                            </div>
                            
                            <div class="editPorcentajeWrapper">
                        
                                <button type="button" id="editPorcentaje">Editar
                                    <img src="{% static "images/icons/editar.svg" %}" alt="iconEditar">
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="selectMotivoWrapper">
                    <h4>Motivo de la baja:</h4>
                    <input type="hidden" value="Motivos personales" id="motivo" name="motivo">
                    <div class="motivoSelectedWrapper">
                        <h3 class="motivoText">Motivos personales</h3>
                    </div>
                    <ul class="motivosList">
                        <li>Motivos personales</li>
                        <li>Defuncion </li>
                        <li>Otro...</li>
                    </ul>
                </div>  
                <div class="motivoBaja">
                    <h3>Observaciones:</h3>
                    <textarea rows="3" name="observacion" id="bajaObservacion"></textarea>
                </div>
                <div class="confirmWrapper">
                    <h3>¿Estás seguro que quieres dar de baja esta operación?</h3>
                    <button id="yesConfirm" type="button">Si</button>
                    <button id="noConfirm" type="button">No</button>
                </div>
            </form>
        </div>
        <div class="formClave">
            <form method="POST" id="formPassword">
                {% csrf_token %}
                <div class="inputClaveWrapper">
                    <p>Ingrese la clave</p>
                    <div id="inputClave">
                        <input name="clave" type="number" id="clave">
                    </div>
                    
                </div>
                <div class="confirmClaveWrapper">
                    <button id="confirm" type="button" name="confirmClave">Confirmar</button>
                    <button id="notConfirm" type="button">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="buttonChangePack">
        <a href="{% url 'sales:cambioPack' object.id %}">Cambiar pack</a>
    </div>
    
    <div class="buttonChangeTitularidad">
        <a href="{% url 'sales:changeTitu' object.pk %}">Cambiar titularidad</a>
    </div>
</div>


<div class="wrapperBase">
    <div class="wrapper_information">
        <h1>Operacion n° {{object.nro_operacion}}</h1>
        {% if object.adjudicado.status %}
        <h3 class="checkAdj">Credito Personal</h3>
        {% endif %}

        <div class="information">
            <div class="inputs" id="producto">
                <h2>Producto</h2>
                <div>
                    <h3>{{object.producto.nombre}}</h3>
                </div>
            </div>
            {% if object.adjudicado.status %}
                <div class="inputs"  id="paquete">
                    <h2>Tipo de adjudicacion</h2>
                    <div>
                        <h3>{{object.adjudicado.tipo|title }}</h3>
                    </div>
                </div>
            {% else %}
            <div class="inputs"  id="paquete">
                <h2>Paquete</h2>
                <div>
                    <h3>{{object.paquete}}</h3>
                </div>
            </div>
            {% endif %}
            

            <div class="inputs" id="n_solicitud">
                <h2>N° Solicitud</h2>
                <div>
                    <h3>{{object.nro_solicitud}}</h3>
                </div>
            </div>

            {% if object.adjudicado.status %}
            {% else %}
            <div class="inputs" id="n_orden">
                <h2>N° Orden</h2>
                <div>
                    <h3>{{object.nro_orden}}</h3>
                </div>
            </div>

            {% endif %}

            <div class="inputs" id="fec_inscripcion">
                <h2>Fecha de inscripcion</h2>
                <div>
                    <h3>{{object.fecha}}</h3>
                </div>
            </div> 

            <div class="inputs" id="montoXCuota">
                <h2>Monto x Cuota</h2>
                <div>
                    {% language 'de' %}
                        <h3>{{object.importe_x_cuota|floatformat:0}}</h3>
                    {% endlanguage %}

                </div>
            </div>
            
            <div class="inputs" id="total_pagar">
                <h2>Total a pagar</h2>
                <div>
                    {% language 'de' %}
                        <h3>{{object.total_a_pagar|floatformat:0}}</h3>
                    {% endlanguage %}
                </div>
            </div>

            <div class="inputs" id="anticipo">
                <h2>Cuota de inscripcion</h2>
                <div>
                    {% language 'de' %}
                        <h3>{{object.primer_cuota|floatformat:0}}</h3>
                    {% endlanguage %}
                </div>
            </div>
            {% if object.adjudicado.status %}
            {% else %}
            <div class="inputs" id="primer_cuota">
                <h2>Primer cuota</h2>
                <div>
                    {% language 'de' %}
                        <h3>{{object.primer_cuota|floatformat:0}}</h3>
                    {% endlanguage %}
                </div>
            </div>
            {% endif %}

            <div class="inputs" id="modalidad">
                <h2>Modalidad</h2>
                <div>
                    <h3>{{object.modalidad}}</h3>
                </div>
            </div>
            {% if object.adjudicado.status %}
                <div class="inputs" id="vendedor">
                    <h2>Agencia</h2>
                    <div>
                        <h3>{{object.agencia}}</h3>
                    </div>
                </div>
            {% else %}
                <div class="inputs" id="vendedor">
                    <h2>Vendedor</h2>
                    <div>
                        <h3>{{object.vendedor}}</h3>
                    </div>
                </div>

                <div class="inputs" id="supervisor">
                    <h2>Supervisor</h2>
                    <div>
                        <h3>{{object.supervisor}}</h3>
                    </div>
                </div>
            {% endif %}
            {% if object.cambioTitularidadField %}
                <div class="changeTitularidadWrapper">
                    <h2>Cambios de titularidad</h2>
                    {% for change in changeTitularidad %}
                        <div class="changeItem">
                            <div class="names">
                                <a href="{% url 'users:cuentaUser' change.pkNewCustomer %}">{{change.newCustomer}}</a>
                                <img src="{% static 'images/icons/arrowDown.png' %}" alt="">
                                <a href="{% url 'users:cuentaUser' change.pkOldCustomer %}">{{change.oldCustomer}}</a>
                            </div>
                            <div class="changeItemInformation">
                                <a id="verPDFTitularidad" href="{% url 'sales:tituPDF' object.pk change.id %}" target="_blank">Ver PDF</a>
                                <h3>Desde: <strong>{{change.lastCuota.cuota}}</strong></h3>
                                <h3>Fecha: <strong>{{change.fecha}}</strong></h3>
                                <h3>Responsable: <strong>{{change.user}}</strong></h3>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            {%endif%}

        </div>
        
        
    
    </div>

    {% if  object.deBaja.status %}

        <div class="wrapper_cuotas enBaja">
        
            <div class="cuotas">
                <h1>Cuotas no disponibles</h1>
                <h2>La operacion ya fue dada de baja</h2>
            </div>
            
        </div>

    {% else %}

        <div {% if object.adjudicado.status %} class="wrapper_cuotas adjudicado" {% else %}class="wrapper_cuotas" {% endif %}>

            {% if object.adjudicado.status %}

                <div class="cuotas">
                    <h1>Cuotas no disponibles</h1>
                    <h2>La operacion fue adjudicada</h2>
                </div>

            {% else %}

                <div class="wrapperTittleCuotas">
                    <h3>N° Cuotas: {{object.nro_cuotas}}</h3>
                </div>

                <div class="wrapperDetalleEstadoVenta">
                    <div class="wrapperCuotasList">
                        <ul class="cuotas_list">
                            {% for cuota in cuotas %}
                            <div id="{{cuota.cuota}}" class ="cuota {{cuota.status}}">
                                {% if cuota.status == "Bloqueado" %}
                                <div class="marca {{cuota.status}}" style="background-image: url('{% static 'images/icons/iconBloqueado.png' %}')">
                                </div>
                                {% endif %}

                                {% if cuota.status == "Atrasado" %}
                                    <div class="marca {{cuota.status}}"></div>
                                {% endif %}

                                {% if cuota.status == "Parcial" %}
                                    <div class="marca {{cuota.status}}"></div>
                                {% endif %}

                                {% if cuota.status == "Pagado" %}
                                    <div class="marca {{cuota.status}}"></div>
                                {% endif %}

                                {% if cuota.status == "Pendiente" %}
                                    <div class="marca {{cuota.status}}"></div>
                                {% endif %}

                                <h4>{{cuota.cuota}}</h4>
                            </div>
                            
                            {% endfor %}
                        </ul>
                    </div>

                    <form id="payCuotaForm" method ="POST" class="containerDetalleCuota">
                        {% csrf_token %}
                        <input type="hidden" name="ventaID" id="ventaID"value="{{object.id}}">
                        <input type="hidden" name="cuota" id="cuotaID">

                        <div class="buttonsActions" >
                            <button type="button" class="" id="btnDescuentoCuota"><img src="{% static 'images/icons/descuentoIcon.png' %}" alt=""></button>
                            <button type="button" id="closeFormCuota"><img src="{% static 'images/icons/close.svg' %}" alt=""></button>
                        </div>

                        <h4 class ="cuotaPicked"></h4>

                        <div class="typesPayments">
                            <h3>Elija el tipo de pago</h3>
                            <div class="wrapperChoices">
                                <div class="choice" id="choiceTotal">
                                    <input type="radio" name="typePayment" id="total" value="total" checked>
                                    <h3 for="total">Abonar total</h3>
                                </div>
                                <div class="choice"  id="choiceParcial">
                                    <input type="radio" name="typePayment" id="parcial" value="parcial">
                                    <h3 for="total">Abonar parcial</h3>
                                </div>
                            </div>
                            
                        </div>

                        <div class="pickedAmount">
                            <h4>Monto a abonar</h4>
                            <input type="text" class="input-select-custom" name="amountParcial" id="amountParcial" placeholder="Ingrese el dinero">
                            <p id="dineroRestante"></p>
                        </div>

                        <div id="selectWrapperSelectCobrador" class="wrapperSelect">
                            <h3 class="labelInput">Cobrador</h3>
                            <div class="containerInputAndOptions">
                                <img class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                                <input type="text" value="" name="cobrador" class = "input-select-custom onlySelect" id ="cobrador" placeholder ="Elija el cobrador" autocomplete="off" readonly>
                                <ul class="list-select-custom options">
                                        {% for cobrador in cobradores %}
                                            <li data-value="{{cobrador.nombre}}">{{cobrador.nombre}}</li>
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div id="selectWrapperSelectTypePayments" class="wrapperSelect">
                            <h3 class="labelInput">Metodo de pago</h3>
                            <div class="containerInputAndOptions">
                                <img class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                                <input type="text" value="" name="metodoPago" class = "input-select-custom onlySelect" id="metodoPago" placeholder ="Elija el metodo de pago" autocomplete="off" readonly>
                                <ul class="list-select-custom options">
                                        <li data-value="Efectivo">Efectivo</li>
                                        <li data-value="Banco">Banco</li>
                                        <li data-value="Mercado Pago">Mercado Pago</li>
                                        <li data-value="Posnet">Posnet</li>
                                        <li data-value="Transferencia">Transferencia</li>
                                </ul>
                            </div>
                        </div>

                        <div class="wrapperButtonPayCuota">
                            <button type="button" name="sendPayment" form="payCuotaForm"id="sendPayment" class="add-button-default blocked">Abonar</button>      
                        </div>
                    </form>

                    <div class="payCuotaStatus">
                        <img id="okPostPagoImg" src="{% static 'images/icons/checkMark.png' %}"  alt="">
                        <img id="failedPostPagoImg" src="{% static 'images/icons/error_icon.png' %}"  alt="">
                        <h2 class="infoCuotaStatus"></h2>
                    </div>
                </div>

                

            {% endif %}  

        </div>

    {% endif %}

</div>



{% endblock content %}

{% block js %}
<script src="{% static 'js/inputsSelectsOnly.js' %}"></script>

<script src="{% static 'js/manejoCuotas.js' %}"></script>
<script src="{% static 'js/selectAdjudicacion.js' %}"></script>
<script src="{% static 'js/buttonBaja.js' %}"></script>
<script src="{% static 'js/redirectBajaPDF.js' %}"></script>

{% endblock js %}