{% extends 'molde.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/panelVentasSuspendidas.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
{% endblock css %}

{% block content %}
<form class="filters" method="POST" id="form_filters_venta">
    {% csrf_token %}
    <h2>Nro de Venta</h2>
    <div class="searchFilter">
        <input type="text" name ="nro_operacion" class = "customer input-read-write-default" id="nro_ordenInput">
        <img src="{% static 'images/icons/search.svg' %}" alt="">
    </div>
    <button type="button" disabled id="submitFormVenta" class="add-button-default"> Buscar </button>
</form>

<div class="accountWrapper">

    <div class="operations">
        <div class="operationsWrapper">
            <ul class="operationsList">
                <div class="wrapperMessage">
                    <h2 class="messageInfoVacio">Coloque el numero de venta para filtrar la venta</h2>
                </div>
            </ul>       
        </div>
    </div> 
    

</div>

{% endblock content %}

{% block js %}
<script src="{% static 'js/search_ventas_suspendidas.js' %}"></script>

{% endblock js %}