{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Recibo</title>
</head>
<body>
  <div class="recibo-container">
    <div class="recibo-header">
        <div class="recibo-header-image">
            <img src="{% static 'images/logoElanelPDF.png' %}" alt="">
        </div>

      
      <div class="recibo-header-numero">
        <h1>Recibo</h1>
        <h1>N° {{numero_recibo}}</h1>

      </div>
    </div>

    <div class="recibo-sub_header">
        <div class="recibo-sub_header-sucursal_info">
            <h4>Obligado 800</h4>
            <h4>3624643544</h4>
            <h4>agenciresitencia@gmail.com</h4>
            {% comment %} <h4>{{agencia_direccion}}</h4>
            <h4>{{agencia_tel}}</h4>
            <h4>{{agencia_email}}</h4> {% endcomment %}
        </div>

        <div class="recibo-sub_header-type_receipt">
            <h1>X</h1>
            <h6>Documento no valido como factura</h6>
            <h2>RESPONSABLE MONITRIBUTO</h2>

        </div>

        <div class="recibo-sub_header-date_cuit">
            <h4>CUIT: 30-71804533-5</h4>

            <div class="recibo-sub_header-date_cuit-date_wrapper">
                <h3>Fecha</h3>
                <h2>{{fecha}}</h2>
            </div>
        </div>
      
    </div>

    <div class="recibo-info_cliente">
        <div class="recibo-info_cliente-nombres">
            <h3>Señor (es):</h3>
            <p></p>
        </div>

        <div class="recibo-info_cliente-domicilio">
            <h3>Domicilio:</h3>
            <p></p>
        </div>

        <div class="recibo-info_cliente-localidad">
            <h3>Localidad:</h3>
            <p></p>
        </div>
        
    </div>

    <div class="recibo-categoria_fiscal-cuit_wrapper">
        <div class="recibo-categoria_fiscal">

            <div class="recibo-categoria_fiscal-type">
                <h3>IVA |</h3>
                <div class="recibo-categoria_fiscal-type-item">
                    <h6>Resp. inscrip.</h6>
                    <div></div>
                </div>
                <div class="recibo-categoria_fiscal-type-item">
                    <h6>Exento</h6>
                    <div></div>
                </div>
                <div class="recibo-categoria_fiscal-type-item">
                    <h6>Resp. Monot.</h6>
                    <div></div>
                </div>
                <div class="recibo-categoria_fiscal-type-item">
                    <h6>Cons. Final.</h6>
                    <div></div>
                </div>
                <div class="recibo-categoria_fiscal-type-item">
                    <h6>Monot. Social</h6>
                    <div></div>
                </div>
            </div>
        </div>

        <div class="recibo-cuit_wrapper">
            <h3>CUIT N°:</h3>
        </div>
    </div>

    <div class="recibo-info_dinero">
        <h5>Recibí la suma de:</h5>
        <p>{{ monto_en_letras }} ( ${{ monto_numero }} )</p>
    </div>

    <div class="recibo-info_concepto">
        <h5>En concepto de:</h5>
        <p>{{ concepto_recibo }}</p>
    </div>

    <div class="recibo-forma_de_pago">
       <div class="recibo-forma_de_pago-item">
           <h5>Efectivo</h5>
           <span></span>
       </div>
       
       <div class="recibo-forma_de_pago-item">
            <h5>Cheque N°:</h5>
            <span></span>
        </div>
        <div class="recibo-forma_de_pago-item">
            <h5>Cheque N°:</h5>
            <span></span>
        </div>
        <div class="recibo-forma_de_pago-item">
            <h5>c/Banco</h5>
            <span></span>
        </div>
        <div class="recibo-forma_de_pago-item">
            <h5>c/Banco</h5>
            <span></span>
            <h5>$</h5>
            <span></span>
        </div>

    </div>

    <div class="recibo-total-firma">
        <div class="recibo-total">
            <h2>TOTAL $</h2>
            <h2>{{monto_numero}}</h2>
        </div>
        <div class="recibo-firma">
            <div class="firma-box">
                <h3>FIRMA:</h3>
                <span></span>
            </div>
        </div>
  </div>
</div>
</body>
</html>


