{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1 class="tittleOfSections">Arqueo de caja</h1>
    <div class="arqueo">
        <div id="formArqueoCaja" class="arqueoWrapper">
            
            <div class="tittleWrapper">
                <h1>Agencia {{arqueoData.agencia}}</h1>
            </div>

            <div class="subtittleWrapper">
               <ul>
                    {% comment %} <input type="hidden" name="sucursal" value="{{sucursal}}">
                    <input type="hidden" name="fecha" value="{{fecha}}">
                    <input type="hidden" name="admin" value="{{admin}}"> {% endcomment %}
                    <li class="data">
                        <div class="dataTittle"><h3>Sucursal</h3></div>
                        <div class="dataValue"><h3>{{arqueoData.agencia}}</h3></div>
                    </li>
                     <li class="data">
                        <div class="dataTittle"><h3>Fecha</h3></div>
                        <div class="dataValue"><h3>{{arqueoData.fecha}}</h3></div>
                    </li>
                     <li class="data">
                        <div class="dataTittle"><h3>Admin</h3></div>
                        <div class="dataValue"><h3>{{arqueoData.admin}}</h3></div>
                    </li>
                     <li class="data">
                        <div class="dataTittle"><h3>Responsable</h3></div>
                        <div class="dataValue"><h3>{{arqueoData.responsable}}</h3></div>
                    </li>
               </ul>
            </div>

            <div class="detalleWrapper">
                <div class="tittleEfectivo">
                    <h2>Efectivo</h2>
                </div>

                <div class="tittlesDetalles">
                   <ul>
                        <li>Billetes/Monedas</li>
                        <li>Cantidad</li>
                        <li>Importe</li>
                   </ul>
                </div>

                <div class="valuesWrapper">
                    <ul class="detalleItems">
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">2000</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p2000.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p2000.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">1000</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p1000.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p1000.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">500</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p500.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p500.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">200</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p200.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p200.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">100</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p100.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p100.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">50</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p50.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p50.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">20</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p20.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p20.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">10</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p10.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p10.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">5</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p5.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p5.importeTotal}}</p></div>
                        </li>
                        <li class="item">
                            <div class="itemMoneda"><p>$</p><p class="monedaValue">2</p></div>
                            <div class="itemCantidad"><p>{{arqueoData.p2.cantidad}}</p></div>
                            <div class="itemImporte"><p>$</p><p class="importeValue">{{arqueoData.p2.importeTotal}}</p></div>
                        </li>
                    </ul>
                    <ul class="detalleTotales">
                        <li class="total">
                            <input type="hidden" name="totalPlanillaEfectivo" value="0">
                            <div class="totalTittle"> <p>Total Planilla de Efectivo</p> </div>
                            <div class="totalImporte"><p>$</p><p class="totalImporteValue">{{arqueoData.totalPlanilla}}</p></div>
                        </li>
                        <li class="total">
                            <div class="totalTittle"> <p>Saldo según diario de caja</p> </div>
                            <div class="totalImporte"><p>$</p><p class="totalImporteValue">{{arqueoData.totalSegunDiarioCaja}}</p></div>
                        </li>
                        <li class="total">
                            <input type="hidden" name="diferencia" value="0">
                            <div class="totalTittle"> <p>Diferencia</p> </div>
                            <div class="totalImporte"><p>$</p><p class="totalImporteValue">{{arqueoData.diferencia}}</p></div>
                        </li>
                    </ul>
                </div>
               
            </div>

            <div class="observacionesWrapper">
                <div class="obsTittle">
                    <h2>Observaciones</h2>
                </div>
                <div class="inputObs">
                    <textarea name="observaciones" id="observaciones">{{arqueoData.observaciones}}</textarea>
                </div>
            </div>
        </div>
    </div>

    <h1 class="tittleOfSections">Detalle de cierre de caja</h1>
    <div class="cierreCaja">
        <table>
            <tr>
                {% for clave in movsData.0.keys %}
                    <th><p>{{clave}}</p></th>
                {% endfor %}
            </tr>
            {% for dicc in movsData %}
                <tr>
                    {% for k,v in dicc.items %}
                        <td>
                            <p>{{v}}</p>               
                        </td>
                    {% endfor %}
                </tr>
                
            {% endfor %} 
        </table>
    </div>
    <h1 class="tittleOfSections">Resúmen de dinero según métodos de pagos</h1>
    <div class="resumen">
        <div class="resum__cuenta__tipoCaja">
                    <h2>Tipo de caja</h2>
                    <h4>Saldo en efectivo</h4>
                    <h4>Saldo en banco</h4>
                    <h4>Saldo en Mer. Pago</h4>
                    <h4>Saldo en Posnet</h4>
                    <h4>Saldo en Transferencia</h4>
                    <h4>Total</h4>
        </div>
        <div class="resum__cuenta__saldo">
            <h2>Saldo</h2>
            
            <h4 id="resumEfectivo">${{resumenData.efectivo}}</h4>
            <h4 id="resumBanco">${{resumenData.banco}}</h4>
            <h4 id="resumMerPago">${{resumenData.merPago}}</h4>
            <h4 id="resumPosnet">${{resumenData.posnet}}</h4>
            <h4 id="resumTrans">${{resumenData.transferencia}}</h4>
            <h4 id="resumTotal">${{resumenData.total}}</h4>
        </div>
    </div>
    
</body>
</html>
