{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>  
    <div class="fecha">
        <p>{{fechaNow}}</p>
    </div>
    <div id="subtittle">
        <p>Elanel Servicios y Soluciones</p>
        <p>Presente</p>
    </div>
    <div id="subtittle_p2">
        <p>Referencia</p>
        <p>Cambio de titularidad</p>
        <p>Nro. Venta {{nroOperacion}}</p>
        <p>De {{oldCustomer}}</p>
    </div>

    <div id ="detalle">
        <p>De mi mayor consideración</p>
        <p>En mi carácter de titular del contrato nro.{{nroOperacion}} me dirijo a Uds. a los fines de solicitar el cambio de titular de este contrato</p>
        <p>Por lo tanto, quedan a favor del Sr/a {{cliente}} DNI: {{dni}}</p>
        <p>Con domicilio en {{domicilio}}, de la localidad de {{localidad}}, {{provincia}}, todos los beneficios que corresponden al sistema de servicios contratado</p>
        <p>Sin otro particular, saludo a Uds. atentamente.</p>
       
    </div>
    <div id="firmas">
        <div>
            <!-- <p>_______________________________</p> -->
            <p>Firma</p>
        </div>
        <div>
            <!-- <p>_______________________________</p> -->
            <p>Tipo y nro. de DNI</p>
        </div>
        <div>
            <!-- <p>_______________________________</p> -->
            <p>Aclaracion</p>
        </div>
    </div>
    <div id="page2" style="page-break-before: always;">
        <div class="fecha">
            <p>{{fechaNow}}</p>
        </div>
        <div id="subtittle">
            <p>Elanel Servicios y Soluciones</p>
            <p>Presente</p>
        </div>
        <div id="subtittle_p2">
            <p>Referencia</p>
            <p>Cambio de titularidad</p>
            <p>Nro. Venta {{nroOperacion}}</p>
            <p>De {{cliente}}</p>
        </div>
    
        <div id ="detalle">
            <p>De mi mayor consideración</p>
            <p>Tengo el agrado de dirigirme a Uds. con el fin de hacerles saber que partir de la presente, asumo los compromisos correspondientes como cliente de Elanel Servicios y Soluciones.</p>
            
            <p>Por tal motivo, le informo los datos correspondientes para hacer posible este trámite: Apellido y Nombre: {{cliente}}, DNI: {{dni}}, Estado Civil: {{estado_civil}}, Fecha de Nac.:{{fecha_nac}}, con domicilio en {{domicilio}}, localidad: {{localidad}},{{provincia}} teléfono: {{telefono}}, ocupación: {{ocupacion}}</p>
            <p>IG/FACEBOOK _________________________________________</p>
            <p>Ahora bien, hago propicia la presente para noticiar que cuento con total información sobre el contrato de Servicios de Asistencia Técnica y Mecánica y los beneficios especiales de vuestro Sistema.</p>
            <p>Sin otro particular, saludo a Uds. atentamente.</p>
        </div>
        <div id="firmas">
            <div>
            <p>Firma</p>
            </div>
            <div>
                <p>Tipo y nro. de DNI</p>
            </div>
            <div>
                <p>Aclaracion</p>
            </div>
        </div>
    </div>
</body>
</html>
