<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe</title>
</head>
<body>
    <h1 class="tittleOfSections">Detalle de cierre de caja</h1>

    <table>
        <tr>
            {% for clave in data.0.keys %}
                <th><p>{{clave}}</p></th>
            {% endfor %}
        </tr>
        {% for dicc in data %}
            <tr>
                {% for k,v in dicc.items %}
                    <td>
                        <p>{{v}}</p>               
                    </td>
                {% endfor %}
            </tr>
            
        {% endfor %} 
    </table>
    
    <h1 class="tittleOfSections">Resúmen de dinero según métodos de pagos</h1>
    <div class="resumTableWrapper">
        <table class="resum_table">
          <thead>
            <tr>
                <th>Tipo de caja</th>
                <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            {% for metodo in metodosPagosResumen %}
                <tr class="{{metodo.name_clean}}">
                    <td>{{metodo.verbose_name}}</td>
                    <td>${{metodo.money}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    
</body>
</html>