<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Auditorías</title>
</head>
<body>
    <h1 class="tittleOfSections">Informe de Auditorías</h1>
    {% for dicc in data %}
    <h2>Venta N° {{ dicc.operacion }}</h2>
    <table class="auditoriasTable" border="1">
        <thead>
            <tr>
                <th>Camp</th>
                <th>Cliente</th>
                <th>DNI</th>
                <th>Fec insc</th>
                <th>Tel</th>
                <th>CP</th>
                <th>Prov</th>
                <th>Loc</th>
                <th>Direc</th>
                <th>Vendedor</th>
                <th>Supervisor</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    {% for k, v in dicc.info.items %}
                        <td>{{ v }}</td>
                    {% endfor %}
                </tr>
                               
                    
            </tbody>
    </table>
    <h4>Auditorias</h4>
    <table border="1" class="nestedAuditoriasTable">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Fecha/Hora</th>
                <th>Comentarios</th>
            </tr>
        </thead>
        <tbody>
            {% for audit in dicc.auditorias %}
                <tr>
                    <td>{% if audit.grade %}Aprobado{% else %}Desaprobado{% endif %}</td>
                    <td>{{ audit.fecha_hora|default:'' }}</td>
                    <td>{{ audit.comentarios|default:'' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

</body>
</html>
