{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/molde.css' %}">
    <link rel="stylesheet" href="{% static 'css/resumen.css' %}">
    <script src="https://code.highcharts.com/10/highcharts.js"></script>
  
    <title>Elanel SYS</title>
</head>
<body>
    <div class="wrapper">

         <aside class="menu active" id="menu">
            <div class="button_menu-wrapper">
                <button class="toggle-button">
                    <img src="{% static 'images/icons/previous.svg' %}" alt="">
                </button>
            </div>
            
            <ul class="list">
                {% if perms.sales.my_ver_resumen%}

                    <li>
                        <a href="{% url 'sales:resumen' %}" id="resumen">
                            <img src="{% static 'images/icons/resumen.svg' %}" alt="">
                            <p>Resumen</p> 
                        </a>
                        <div class="check"></div>
                    </li>

                {% endif %}
                
                <li>
                    <a href="{% url 'users:list_customers' %}" id="clientes">
                        <img src="{% static 'images/icons/clientes.svg' %}" alt="">
                        <p>Clientes</p> 
                    </a>
                    <div class="check"></div>
                </li>

                <li>
                    <a href="{% url 'sales:caja' %}" id="caja">
                        <img src="{% static 'images/icons/dinero.svg' %}" alt="">
                        <p>Caja</p> 
                    </a>
                    <div class="check"></div>
                </li>

                {% if perms.sales.my_ver_planes%}

                    <li>
                        <a href="{% url 'products:planes' %}" id="planes">
                            <img src="{% static 'images/icons/planes.svg' %}" alt="">
                            <p>Planes</p>
                        </a>
                        <div class="check"></div>
                    </li> 

                {% endif %}

                {% if perms.sales.my_ver_postventa%}

                    <li>
                        <a href="{% url 'sales:postVentaList' %}" id="planes">
                            <img src="{% static 'images/icons/postVenta.png' %}" alt="">
                            <p>Post venta</p>
                        </a>
                        <div class="check"></div>
                    </li> 

                {% endif %}
                
                {% if perms.users.my_ver_colaboradores %}
                    <li class="add_user">
                        <a href="{% url 'users:list_users' %}" id="colaboradores">
                            <img src="{% static 'images/icons/usuarios.svg' %}" alt="">
                            <p>Colaboradores</p>
                        </a>
                        <div class="check"></div>
                    </li>
                {% endif %}
                <li class="">
                    <a href="{% url 'sales:liquidacionesPanel' %}" id="liquidaciones">
                        <img src="{% static 'images/icons/porcentaje.png' %}" alt="">
                        <p>Liquidaciones</p>
                    </a>
                    <div class="check"></div>
                </li>
                {% if perms.users.my_ver_administracion%}
                    <li>
                        <a href="{% url 'users:panelAdmin' %}" id="panelAdmin">
                            <img src="{% static 'images/icons/administracion.svg' %}" alt="">
                            <p>Administracion</p> 
                        </a>
                        <div class="check"></div>
                    </li>
                {% endif %}

                <li>
                    <a href="{% url 'logout' %}" id="close_session">
                        <img src="{% static 'images/icons/logout.png' %}" alt="">
                        <p>Cerrar sesion</p> 
                    </a>
                    <div class="check"></div>
                </li>
            </ul>
        </aside>

        <div class="wrapper_content">
            <div id="wrapperResumen1">
                <div class="wrapperBlocks"></div>
                <div class="wrapperBlocks"></div>
                <div class="wrapperBlocks"></div>
                <div class="wrapperBlocks"></div>
            </div>
            <div class="wrapperTittleFluctuacion">
                <button type="button" id="filtroButtonFluctuaciones">Filtrar</button>
                <h3>Fluctuación de dinero</h3>
            </div>
            <div class="wrapperFluctuacionDinero">
              <div class="wrapperLeyenda">
                  
              </div>
              <div id="containerDinero"></div>
            </div>
        </div>

    </div>
    
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>

</body>
</html>