{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/resumen.css' %}">
{% endblock css %}

{% block content %}

    <!-- Chart blueprint -->
  <!-- <div style="width:500px">
    <canvas id="myChart"></canvas>
  </div> -->
    

  <div class="data-container">

    <!-- Charts -->

    <div class="data-group charts">
        <!-- Chart/Ganancias -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">{{ganancias.title}}</span>
            <span class="data-value">${{ganancias.monthly|last}}</span>
            <span class="data-feedback" {% if ganancias.isPositive %} style="color:green" {% else %} style="color:red" {% endif %}>{{ganancias.feedback}}</span>
          </div>  
      

          <div style="width:700px" class="graph-container">
            <canvas id="ganancias_chart"></canvas>
          </div>
        </div>

        <!-- Chart/Gastos -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">{{gastos.title}}</span>
            <span class="data-value">${{gastos.monthly|last}}</span>
            <span class="data-feedback" {% if gastos.isPositive %} style="color:green" {% else %} style="color:red" {% endif %}>{{gastos.feedback}}</span>
          </div>  

          <div style="width:700px" class="graph-container"> 
            <canvas id="gastos_chart"></canvas>
          </div>
        </div>

        <!-- Chart/Medios Pago -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">Medios de pago</span>
          </div>

          <div style="width:700px" class="graph-container">
            <canvas id="medios_pago_chart"></canvas>
          </div>
        </div>
    </div>

      <!-- Individual Values -->

    <div class="data-group individual-data">
        <!-- Data Block/Atrasadas -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">Operaciones Atrasadas</span>
          </div>
          <span class="data-value">{{ atrasadas }}</span>
        </div>
      
        <!-- Data Block/Dinero Atrasado -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">Dinero Atrasado</span>
          </div>
          <span class="data-value">${{ atrasadas }}</span>
        </div>

        <!-- Data Block/Operaciones Activas -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">Operaciones Activas</span>
          </div>
          <span class="data-value">{{ op_activas }}</span>
        </div>

        <!-- Data Block/Operaciones de baja -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">Operaciones de Baja</span>
          </div>
          <span class="data-value">{{ op_bajas }}</span>
        </div>

        <!-- Data Block/Operaciones adjudicadas -->
        <div class="data-block">
          <div class="data-header">
            <span class="data-title">Operaciones Adjudicadas</span>
          </div>
          <span class="data-value">{{ op_adjudicadas }}</span>
        </div>
    </div>

  </div>





  {% comment %} <div class="filters">
    <div>
      <input 
      type="text"
      class = "sales"
      id="sales">
      <img src="{% static 'images/icons/search.svg' %}" alt="">
    </div>
  </div>

    <!-- Lista de productos -->
  <div class="information">
    <div class="container_data">
      <h2>N° Cliente</h2>
      <ul>
        {% for v in ventas %}
          <li><a href="{% url 'sales:detail_sale' v.id %}">{{v.nro_cliente.nro_cliente}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Nombre</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.nombre_completo.nombre}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>N° Solicitud</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.nro_solicitud}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>N° Orden</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.nro_orden}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Modalidad</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.modalidad}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>N°Cuotas</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.nro_cuotas}}</li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="container_data">
      <h2>Importe</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.importe}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Importe x Cuota</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.importe_x_cuota}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Fecha Inscripcion</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.fecha}}</li>
        {% endfor %}
      </ul>
    </div>
  
    <div class="container_data">
      <h2>Tipo Producto</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.tipo_producto}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Producto</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.producto.nombre}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Paquete</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.paquete}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Vendedor</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.vendedor}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="container_data">
      <h2>Supervisor</h2>
      <ul>
        {% for v in ventas %}
          <li>{{v.supervisor}}</li>
        {% endfor %}
      </ul>
    </div>
    
  </div> {% endcomment %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script 
    src="{% static 'js/charts.js' %}" 
    data-ganancias="{{ganancias.monthly}}"
    data-gastos="{{gastos.monthly}}"
    data-medios_list="{{medios_list}}",
    data-medios_values="{{medios_values}}"
    >
  </script>
   
{% endblock content %}