{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/ventas_comisionables.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link rel="stylesheet" href="{% static 'modalStatic/doc/tingle/tingle.min.css' %}">
{% endblock css %}

{% block content %}
<form method="POST" id="formVentasComisionables">
    {% csrf_token %}
    <h1 class="mb-4">Ventas involucradas <span>({{cantidadVentas_involucradas}} ventas)</span></h1>
    
    {% if messageAlert %}
      <div class="alert alert-warning">
        {{ messageAlert }}
      </div>
    {% endif %}
    
    {% if ventas %}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-light">
          <tr>
            <th>Comisionable</th>
            <th>Oper.</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Motivo</th>
            <th>Auditoria</th>
            <th>Comentarios</th>
          </tr>
        </thead>
        <tbody>
        {% for v in ventas %}
          <tr id="row-{{ v.id }}">
            <td class="text-center">
              <input type="checkbox"
                     class="commission-checkbox"
                     form="formVentasComisionables"
                     data-id="{{ v.id }}"
                     {% if v.is_commissionable %}checked{% endif %}>
            </td>

            <td>{{ v.nro_operacion }}</td>
            <td>{{ v.cliente }}</td>
    
            <td>
              <span class="badge
              {% if v.estado == 'Activa'%}
                badge-success
              {% elif v.estado == 'Baja' %}
                badge-danger
              {% elif v.estado == 'Suspendida' %}
                badge-warning
              {% else %}
                badge-secondary
              {% endif %}">
                {{v.estado}}
              </span>
            </td>
            <td>{{ v.motivo }}</td>
    
            <td>
              <span class="badge 
              {% if v.auditoria_grado == 'Aprobada' %}
                badge-success
              {% else %}
                badge-warning
              {% endif %}"
              ">
                {{v.auditoria_grado}}
              </span>
            </td>
    
            <td>{{ v.auditoria_comentarios }}</td>
            
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <p>No hay ventas para mostrar.</p>
    {% endif %}
</form>

{% endblock content%}


{% block js %}
    <script>
        const toggleUrl = "{% url 'sales:toggle_comisionable' %}";
    </script>
    <script src="{% static 'js/sales/ventas_comisionables.js' %}"></script>
{% endblock js %}
