{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/panel_planes.css' %}">
{% endblock css %}

{% block content %}
<div class="panel-container">
    <form method="POST" id="formNewPlan">
        {% csrf_token %}
        <div id="panel" class="panel">
            <table>
                <thead>
                    <tr>
                        <th>Valor nominal</th>
                        <th>Tipo de paquete</th>
                        <th>Suscripcion</th>
                        <th>Primer cuota</th>
                        <th>% 24 Cuotas</th>
                        <th>% 30 Cuotas</th>
                        <th>% 48 Cuotas</th>
                        <th>% 60 Cuotas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan in planes %}
                    <tr>
                        <td>{{ plan.valor_nominal }}</td>
                        <td>{{ plan.tipodePlan }}</td>
                        <td>{{ plan.suscripcion }}</td>
                        <td>{{ plan.primer_cuota }}</td>
                        <td>{{ plan.c24_porcentage }}</td>
                        <td>{{ plan.c30_porcentage }}</td>
                        <td>{{ plan.c48_porcentage }}</td>
                        <td>{{ plan.c60_porcentage }}</td>
                    </tr>
                    {% endfor %}
                </tbody>            
            </table>
            <div class="buttonsActions">
                <button class="add-button-default" id="agregarNuevoPlanButton" type="button" onclick="agregarFormularioNuevoPlan()">Agregar plan</button>
            </div>
        </div>
    </form>

</div>
    
{% endblock content %}
{% block js %}
<script>
    var logoDisplayMore = "{% static 'images/icons/arrowDown.png' %}";
    {% comment %} var urlUpdateS = "{% url 'users:updateSucursal' %}" {% endcomment %}
    {% comment %} var planes = {{ planes|safe }}; {% endcomment %}
    

</script>
<script src="{% static 'js/inputsSelectsOnly.js' %}"></script>
<script src="{% static 'js/fetch_upload_planes.js' %}"></script>

{% endblock js %} 
