{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/create_user.css' %}">
{% endblock css %}

{% block content %}
    <div class="wrapper_tittle">
        <h1>CREAR USUARIO</h1>
    </div>

    <form method="POST"  autocomplete="off" id="form_create_user">
            {% csrf_token %}
            <h2>Datos personales</h2>
            <div class="datosPersonalesWrapper">
                <div class="inputWrapper" id="nombreCompletoWrapper">
                    <label for="">Nombre completo</label>
                    <input id="nombre" type="text" name="nombre" class="input-read-write-default" required>
                </div>
                <div class="inputWrapper" id="dniWrapper">
                    
                    <label for="">DNI</label>
                    <input type="text" maxlength="9" name="dni" class="input-read-write-default" required>
                    
                </div>
                <div class="inputWrapper" id="telefonoWrapper">
                    
                    <label for="">Telefono</label>
                    <input type="text" name="tel" maxlength="11" class="input-read-write-default" required>
                </div>

                <div class="inputWrapper" id="fechaNacimientoWrapper">
                    <label for="">Fecha de nacimiento</label>
                    <input type="text" name="fec_nacimiento" class="inputFecha input-read-write-default" required>
                </div>
                
                <div class="inputWrapper" id="domicWrapper">
                    <label for="">Domicilio</label>
                    <input type="text" name="domic" class="input-read-write-default" required>
                </div>

                <div class="inputWrapper" id="provWrapper">
                    
                    <label for="">Provincia</label>
                    <input type="text" name="prov" class="input-read-write-default" required>
                </div>

                <div class="inputWrapper" id="locWrapper">
                    
                    <label for="">Localidad</label>
                    <input type="text" name="loc" class="input-read-write-default" required>
                </div>
                <div class="inputWrapper" id="cpWrapper">
                    <label for="">Codigo postal</label>
                    <input type="text" name="cp" class="input-read-write-default" maxlength="5" required>
                </div>
                <div class="inputWrapper" id="lugarNacimientoWrapper">
                    <label for="">Lugar de nacimiento</label>
                    <input type="text" name="lugar_nacimiento" class="input-read-write-default" required>
                </div>

                
                <div class="inputWrapper" id="estadoCivilWrapper">
                    <label for="">Estado civil</label>
                    <input type="text" name="estado_civil" class="input-read-write-default" required>
                </div>

                <div class="inputWrapper" id="xpLaboralWrapper">
                    <label for="">Experiencia laboral</label>
                    <textarea cols="30" rows="10" name="xp_laboral" class="input-read-write-default" required></textarea>
                        
                </div>
                <br>
                <div class ="inputWrapper" id="familiares">
                    <label for="">Datos familiares</label>
                    
                    <div class="familiar">
                        <div class="wrapperFamiliarInput">
                            <input type="text" class="input-read-write-default" name="familia_relacion_0" placeholder="Relación con el usuario">
                        </div>

                        <div class="wrapperFamiliarInput">
                            <input type="text" class="input-read-write-default" name="familia_nombre_0" placeholder="Nombre">
                        </div>

                        <div class="wrapperFamiliarInput">
                            <input type="text" class="input-read-write-default" name="familia_tel_0" placeholder="Teléfono">
                        </div>
                    </div>
                    <button type="button" id="agregar_familiar_button"onclick="agregarFamiliar()">Agregar Familiar</button>

                </div>
            </div>

            <h2>Datos logisticos</h2>
            <div class="datosLogisticosWrapper">
                <div class="inputsObligatorios">
                    <div id="sucursalWrapper" class="inputWrapper">
                        <label class="labelInput">Sucursal</label>
                        <div class="containerInputAndOptions">
                            <img id="tipoComprobanteIconDisplay"class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                            <input type="text" readonly name="sucursal" id="sucursalInput" required="required" autocomplete="off" maxlength="50" class="input-select-custom input-read-write-default multipleSelect">
                            <ul id="contenedorAgencia" class="list-select-custom options">
                                {% for agencia in sucursales %}
                                    <li data-value="{{agencia.pseudonimo}}">{{agencia.pseudonimo}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <div id="rangoWrapper" class="inputWrapper">
                        <label class="labelInput">Rango</label>
                        <div class="containerInputAndOptions">
                            <img id="tipoComprobanteIconDisplay"class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                            <input type="text" readonly name="rango" id="rangoInput" required="required" autocomplete="off" maxlength="50" class="input-select-custom input-read-write-default onlySelect">
                            <ul id="contenedorAgencia" class="list-select-custom options">
                                {% for rol in roles %}
                                    <li data-value="{{rol}}">{{rol}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="inputWrapper" id="fec_ingresoWrapper">
                        <label for="">Fecha de ingreso</label>
                        <input type="text" name="fec_ingreso" class="inputFecha input-read-write-default" required>

                    </div>

                    <div class="inputWrapper" id="emailWrraper">
                        <label for="id_email">Email</label>
                        <input type="text" name="email" class="input-read-write-default" required>


                    </div>

                    <div class="inputWrapper" id="password1Wrapper">
                        
                        <label for="">Contraseña</label>
                        <input type="text" name="password" class="input-read-write-default" required>
                    </div>
                </div>


                <div id="vendedoresWrapper">
                    <div class="textContainer">
                        <h3>Elija los vendedores</h3>
                    </div>
                    <div class="listVendedores">
                        <div class="containerList">
                            <div class="items" id="itemsVendedores">
                                <ul>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>

    </form>
    <div class="wrapperButtons">
        <button type="button" id="saveButton" form="form_create_user">Guardar</button>
        <a id ="cancelar" href="{% url 'users:list_users' %}"> Cancelar </a>
    </div>
{% endblock content %}
{% block js %}
    <script>
        let inputsFechas = document.querySelectorAll('.inputFecha');
        inputsFechas.forEach(input => {
            input.addEventListener('input', function (e) {
                var input = e.target;
                var val = input.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,2})(\d{0,4})/);
                input.value = !val[2] ? val[1] : val[1] + '/' + val[2] + (val[3] ? '/' + val[3] : '');
            });
        })
    </script>
    <script src="{% static 'js/inputsSelectsOnly.js' %}"></script>
    <script src="{% static 'js/inputsSelectsMultipleCustoms.js' %}"></script>
    <script src="{% static 'js/errorsFormManagement.js' %}"></script>
    <script src="{% static 'js/agregarFamiliar.js' %}"></script>
    <script src="{% static 'js/redirectToPDFNewUser.js' %}"></script>    

    <script src="{% static 'js/asignarVendedores.js' %}"></script>
{% endblock js %}