{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/create_customer.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link rel="stylesheet" href="{% static 'js/vanilla-calendar-pro/styles/index.css' %}">
<link rel="stylesheet" href="{% static 'js/vanilla-calendar-pro/styles/customStyles.css' %}">
{% endblock css %}
    
{% block content %}
    {% comment %} <div class="wrapper_tittle">
        <h1>NUEVO CLIENTE</h1>
    </div> {% endcomment %}
    <div class="titleHeaderWrapper">
        <img src="{% static 'images/icons/new_user.svg' %}" alt="">
        <h1 class="titleHeader">NUEVO CLIENTE</h1>
    </div>

    <form method="post" id="form_create_customer" autocomplete="off">
            {% csrf_token %}

            <div class="inputWrapper" id="wrapperNroCliente">
                <label for="">Nro Cliente</label>
                <input type="text" readonly value="{{customer_number}}" class="input-read-write-default" maxlength="15" id="id_nro_cliente">
            </div>
         
            <div class="inputWrapper" id="wrapperNombre">
                <label for="">Nombre</label>
                <input type="text" name="nombre" class="input-read-write-default" maxlength="100" required id="id_nombre">
            </div>
         
            <div class="inputWrapper" id="wrapperDNI">
                <label for="">DNI</label>
                <input type="number" name="dni" class="input-read-write-default" oninput="if(this.value.length > 9) this.value = this.value.slice(0, 9);" maxlength="9" required id="id_dni">
            </div>
         
            <div class="inputWrapper" id="wrapperDomicilio">
                <label for="">Domicilio</label>
                <input type="text" name="domic" class="input-read-write-default" maxlength="100" required= id="id_domic">
            </div>
         
            <div class="inputWrapper" id="wrapperLocalidad">
                <label for="">Localidad</label>
                <input type="text" name="loc" class="input-read-write-default" maxlength="40" required id="id_loc">
            </div>
         
            <div class="inputWrapper" id="wrapperProvincia">
                <label for="">Provincia</label>
                <input type="text" name="prov" class="input-read-write-default" maxlength="40" required id="id_prov">
            </div>
         
            <div class="inputWrapper" id="wrapperCP">
                <label for="">Código Postal</label>
                <input type="number" name="cod_postal" class="input-read-write-default" oninput="if(this.value.length > 7) this.value = this.value.slice(0, 7);" maxlength="7" required id="id_cod_postal">
            </div>
         
            <div class="inputWrapper" id="wrapperTelefono">
                <label for="">Teléfono</label>
                <input type="number" name="tel" class="input-read-write-default" required id="id_tel">
            </div>
         
            <div class="inputWrapper" id="wrapperFecNacimiento">
                <label for="">Fecha de Nacimiento</label>
                <input type="text" name="fec_nacimiento" class="input-read-write-default" maxlength="10" required readonly id="id_fec_nacimiento">
            </div>
         
            <div class="inputWrapper" id="wrapperEstadoCivil">
                <label for="">Estado Civil</label>
                <input type="text" name="estado_civil" class="input-read-write-default" maxlength="20" required id="id_estado_civil">
            </div>
         
            <div class="inputWrapper" id="wrapperOcupacion">
                <label for="">Ocupación</label>
                <input type="text" name="ocupacion" class="input-read-write-default" maxlength="50" required id="id_ocupacion">
            </div>
        
    </form>


    <div class="wrapperButtons">
        <button type="button" id="saveButton" class="add-button-default" form="form_create_customer">Guardar</button>
        <a class="delete-button-default" href="{% url 'users:list_customers' %}"> Cancelar </a>
    </div>
{% endblock content %}


{% block js %}
    <script src="{% static 'js/vanilla-calendar-pro/index.js' %}"></script>

    <script type="module">
        import { initInputCalendar } from "{% static 'js/vanilla-calendar-pro/calendarSingle-input.js' %}";
        window.addEventListener('DOMContentLoaded', () => {
            initInputCalendar('#id_fec_nacimiento', {
            locale: 'es-AR',
            autoClose: true,
            todayLabel: 'Hoy',
            clearLabel: 'Limpiar',
            scrollContainer: '#form_create_customer',   // <- clave
            popupMinWidth: 260,                     // opcional
            offsetY: 6,                         // opcional
            disableFuture: true,    // 👈 bloquea futuras
            });
        });
        
    </script>
    <script src="{% static 'js/vanilla_components/errorsFormManagement.js' %}"></script>
    <script src="{% static 'js/users/redirectNewCustomer.js' %}"></script>

{% endblock js %}