{% extends 'molde.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load util %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/cuentaCustomer.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
{% endblock css %}

{% block content %}
<div class="filters">
    <a class="add-button-default" href="{% url 'sales:create_sale' customer.id %}" id="create_customer">Agregar</a>
    <form id="formFilterVentas" method="POST">
        {% csrf_token %}
        <div>
            <div class="searchFilter">
                <input 
                type="text"
                class = "customer input-read-write-default"
                placeholder = "N° Venta"
                id="operation"
                name="nro_operacion"
                >
                
                <img src="{% static 'images/icons/search.svg' %}" alt="">
            </div>
            <div id="productoWrapper" class="inputWrapper">
                <div class="containerInputAndOptions">
                    <img id="tipoComprobanteIconDisplay" class="iconDesplegar" src="/static/images/icons/arrowDown.png" alt="">
                    <input type="text" readonly="" placeholder = "Producto" name="producto" id="productoInput" required="required" autocomplete="off" maxlength="50" class="input-read-write-default onlySelect">
                    <ul id="contenedorProducto" class="list-select-custom options">
                        {% for producto in productoDelCliente %}
                            <li data-value="{{producto}}">{{producto}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <button type="button" id="submitSearchVenta" disabled class="add-button-default">Buscar</button>
        </div>
    </form>
   
    
</div>
<div class="accountWrapper">

    <div class="operations">
        <div class="operationsWrapper">
            <ul class="operationsList">
              {% for operacion in ventas %} 
                <li class="operationItem">
                    <div class="nameStatus">
                        <img class="iconProducto" src="{% static 'images/icons/motomoto.svg' %}" alt="">

                        <h1>{{operacion.producto.nombre}}</h1>
                        {% if  operacion.adjudicado.status%}
                            <div class="iconStatus adjudicada"></div>
                            <h3>Adjudicado por {{operacion.adjudicado.tipo}}</h3>
                        {% else %}
                            {% if operacion.deBaja.status %}
                            <div class="badgeStatus baja">
                                <div class="iconStatus baja"></div>
                                <h3>De baja por {{operacion.deBaja.motivo}}</h3>
                            </div>
                                {% if operacion.deBaja.motivo == "cliente" %}
                                    <a href="{% url 'sales:bajaPDF' operacion.pk %}" target="_blank" id="downloadPDF">Descargar PDF</a>
                                {% endif %}

                                {% if operacion.deBaja.motivo == "plan recupero" %}
                                    <a href="{% url 'sales:detail_sale' operacion.deBaja.nuevaVentaPK %}" target="_blank" id="downloadPDF">Ver nuevo plan</a>
                                {% endif %}
                            {% else %}
                                {% if operacion.suspendida %}
                                    <div class="badgeStatus suspendida">
                                        <div class="iconStatus suspendida"></div>
                                        <h3>Suspendido</h3>
                                    </div>
                                {% else %}
                                    <div class="badgeStatus activo">
                                        <div class="iconStatus activo"></div>
                                        <h3>Activo</h3>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="attributes">

                        <div class="information">
                            <h2>Importe</h2>
                            <h3>${{operacion.importe|floatformat:0}}</h3>
                        </div>
                        
                        <div class ="information">
                            <h2>Fecha Inscripcion</h2>
                            <h3>{{operacion.fecha|slice:":10"}}</h3>
                        </div>

                        <div class ="information">
                            <h2>N° Operacion</h2>
                            <h3>{{operacion.nro_operacion}}</h3>
                        </div>
                        
                        <div class="information">
                            <h2>Cuotas pagadas</h2>
                            <h3>{{operacion|cuotas_pagadas_len}}</h3>
                        </div>
                        <div class="information">
                            <h2>N° Orden/es</h2>
                            <div class="ordenesWrapper">
                                {% for contrato in operacion.cantidadContratos %}
                                    {% if operacion.adjudicado.status and contrato.nro_contrato == operacion.adjudicado.contratoAdjudicado%}
                                        <h3 class="adjudicadoTag">{{contrato.nro_orden}}</h3>
                                    {% else %}
                                        <h3>{{contrato.nro_orden}}</h3>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div> 
                    </div>
                    <div class="iconsAttributes">
                        <a href="{% url 'sales:detail_sale' operacion.id %}" class="buttonMore">
                            <div>
                                <h3>Ver mas</h3>
                                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
                            </div>
                        </a>
                    </div>
                    
                </li>
              {% endfor %}  
            </ul>       
        </div>
    </div> 
    
    <div class="informationUser">
        <div class="informationUserWrapper">
            <h2>Informacion del cliente</h2>
            <ul class="data">
                <li id="nombre">
                    <h2>Nombre completo</h2>
                    <h3>{{customer.nombre}}</h3>
                </li>

                <li id="nroCliente">
                    <h2>N° Cliente</h2>
                    <h3 id="numberCliente">{{customer.nro_cliente}}</h3>
                </li>
                
                <li id="dni">
                    <h2>DNI</h2>
                    <h3>{{customer.dni}}</h3>
                </li>

                <li id="fechaNacimiento">
                    <h2>Fecha de nacimiento</h2>
                    <h3>{{customer.fec_nacimiento}}</h3>
                </li>

                <li id="loc">
                    <h2>Localidad</h2>
                    <h3>{{customer.loc}}</h3>
                </li>

                <li id="prov">
                    <h2>Provincia</h2>
                    <h3>{{customer.prov}}</h3>
                </li>

                <li id="postal">
                    <h2>Cod. Postal</h2>
                    <h3>{{customer.cod_postal}}</h3>
                </li>

                <li id="domic">
                    <h2>Domicilio</h2>
                    <h3>{{customer.domic}}</h3>
                </li>

                <li id="tel">
                    <h2>Telefono</h2>
                    <h3>{{customer.tel}}</h3>
                </li>

                <li id="estadoCivil">
                    <h2>Estado civil</h2>
                    <h3>{{customer.estado_civil}}</h3>
                </li>

                <li id="ocupacion">
                    <h2>Ocupacion</h2>
                    <h3>{{customer.ocupacion}}</h3>
                </li>
            </ul>       
        </div>
    </div> 

</div>

{% endblock content %}

{% block js %}
<script src="{% static 'js/input_search_operation.js' %}"></script>
<script src="{% static 'js/inputsSelectsOnly.js' %}"></script>
{% endblock js %}