{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/list_customers.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link rel="stylesheet" href="{% static 'modalStatic/doc/tingle/tingle.min.css' %}">
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/vanilla_table.css' %}" />

{% endblock css %}

{% block content %}
<div id="wrapperLoader">
  <span id="loader"></span>
</div>

<div class="filters">

  
  <div class="titleHeaderWrapper">
    <img src="{% static 'images/icons_sider/clientes.svg' %}" alt="">
    <h1 class="titleHeader">CLIENTES</h1>
  </div>
  
  <div class="buttonsActionsWrapper">
    <a href="{% url 'users:create_customer' %}" class="add-button-default" id="create_customer">Agregar</a>
    {% if perms.cliente.importar %}
    <button type="button" id="showModalImport" class="button-default-style" onclick="newModalImport()">Importar</button>
    {% endif%}
  </div>
</div>

<div class="informationWrapper">
  <div id=""></div>
  <div id="customers_table" class="vt-sticky"></div>
</div> 

{% endblock content %}
{% block js %}
<script>
  var csrf_token = '{%csrf_token%}'
  var urlImportData = "{% url 'users:importClientes' %}"
  var sucursalesDisponibles = {{ sucursalesDisponibles|safe }};
  var logoDisplayMore = "{% static 'images/icons/arrowDown.png' %}";
  var imgNext = "{% static 'images/icons/arrowDown.png' %}";
</script>

<script>
  var detailUrlZero = "{% url 'users:cuentaUser' 0 %}";
</script>

<script src="{% static 'modalStatic/doc/tingle/tingle.min.js' %}"></script>
<script src="{% static 'js/vanilla_components/inputSelectOnly_v2.js' %}"></script>
<script src="{% static 'js/vanilla_components/z_index_orders_selects.js' %}"></script>
<script src="{% static 'js/users/importDataCliente.js' %}"></script>
<script type="module" src="{% static 'js/users/customers_table.js' %}"></script>


{% endblock js %}