{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/list_customers.css' %}">
{% endblock css %}

{% block content %}
<div class="filters">
      <a href="{% url 'users:create_customer' %}" class="add-button-default" id="create_customer">Agregar</a>
    <div>
        <input 
        type="text"
        class = "customer input-read-write-default"
        id="customer">
        <img src="{% static 'images/icons/search.svg' %}" alt="">
    </div>
</div>

<div class="information">
    <div class="tittlesWrapper">
      <ul class="tittles">
          <li>Nombre</li>
          <li>DNI</li>
          <li>Telefono</li>
          <li>Localidad</li>
          <li>Provincia</li>
      </ul>   
    </div>

    <div class="valuesWrapper">
        <ul class="values">
          {% for customer in customers %}
            <a class ="item" href="{% url 'users:cuentaUser' customer.id %}">
              <div><p>{{customer.nombre|truncatechars:24}}</p></div>
              <div><p>{{customer.dni}}</p></div>
              <div><p>{{customer.tel}}</p></div>
              <div><p>{{customer.loc}}</p></div>
              <div><p>{{customer.prov}}</p></div>
            </a>
          {% endfor %} 
        </ul>       
    </div>
</div> 

{% endblock content %}
{% block js %}
<script src="{% static 'js/inputs_search_customers.js' %}"></script>
{% endblock js %}