{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/panelCuentaDeCobro.css' %}">
{% endblock css %}

{% block content %}
    <h1 class ="tittlePanel">Cuentas de cobros</h1>
    <div class="wrapperListCuentaCobros" id="wrapperListCuentaCobros">
        {% for cuenta in cuentas %}
            <div class="cuentaItem">
                <form method="POST" class="formCuenta">
                    {% csrf_token %}
                    {% comment %} <input type="hidden" id="inputID" name="inputID" value="{{cuenta.pk}}"> {% endcomment %}
                    <div class="containerInputs">
                        <div class="wrapperInput">
                            <label for="">Alias</label>
                            <input type="text" class="" id="inputAlias" name="inputAlias" value="{{cuenta.alias}}">
                        </div>
                    </div>
                    
                    <div class="buttonsActions">
                        <button type="button" class="uploadForm add-button-default">Confirmar</button>
                        <button type="button" class="desableForm button-default-style">Cancelar</button>
                        <button type="button" class="deleteCuenta delete-button-default" >Eliminar</button>
                    </div>
                </form>
            
            </div>
        {% endfor %}
    
    </div>
    <button type="button" class="add-button-default" id="buttonAddCuenta">Agregar cuenta</button>
    
{% endblock content %}
{% block js %}
<script>
    var CSRF_TOKEN = '{% csrf_token %}'
    // URLs - - - - - - - -
    var urlAddC = "{% url 'users:addCuenta' %}"
    var urlRemoveC = "{% url 'users:removeCuenta' %}"
    // - - - - - - - -

</script>
<script src="{% static 'js/fetch_cuentasCobros.js' %}"></script>

{% endblock js %}