{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/panel_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
<link rel="stylesheet" href="{% static 'modalStatic/doc/tingle/tingle.min.css' %}">
{% endblock css %}

{% block content %}
<div id="wrapperLoader">
    <span id="loader"></span>
</div>
<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Permisos</h4>
    </div>
    <div class="buttonWrapper">
        <a href="{% url 'users:panelPermisos' %}" class="buttonMore">
            <div>
                <h3>Editar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </a>
    </div>

</div>

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Planes<h4>
    </div>
    <div class="buttonWrapper">
        <a href="{% url 'products:planes' %}" class="buttonMore">
            <div>
                <h3>Editar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </a>
    </div>

</div>

{% comment %} <div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Contraseñas de logistica<h4>
    </div>
    <div class="buttonWrapper">
        <a href="#" class="buttonMore">
            <div>
                <h3>Editar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </a>
    </div>

</div> {% endcomment %}

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Sucursales<h4>
    </div>
    <div class="buttonWrapper">
        <a href="{% url 'users:panelSucursales' %}" class="buttonMore">
            <div>
                <h3>Editar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </a>
    </div>

</div>

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Cuenta de cobro<h4>
    </div>
    <div class="buttonWrapper">
        <a href="{% url 'users:panelCuentaDeCobro' %}" class="buttonMore">
            <div>
                <h3>Editar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </a>
    </div>

</div>

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Productos<h4>
    </div>
    <div class="buttonWrapper">
        <a href="{% url 'products:listProducts' %}" class="buttonMore">
            <div>
                <h3>Editar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </a>
    </div>

</div>

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Importar ventas<h4>
    </div>
    <div class="buttonWrapper">
        <button type="button" id="showModalImport" class="buttonMore" onclick="newModalImport()">
            <div>
                <h3>Importar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </button>
    </div>
</div>

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Importar datos de colaborador<h4>
    </div>
    <div class="buttonWrapper">
        <button type="button" id="showModalImportColaboradores" class="buttonMore"
            onclick="newModalImportColaboradores()">
            <div>
                <h3>Importar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </button>
    </div>
</div>

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Limpiar Excels<h4>
    </div>
    <div class="buttonWrapper">
        <button type="button" id="showModalCleanExcel" class="buttonMore" onclick="newModalCleanExcel()">
            <div>
                <h3>Limpiar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </button>
    </div>
</div>

<div class="wrapperSections">
    <div class="tittleWrapper">
        <h4>Sincronizar Fechas Pago<h4>
    </div>
    <div class="buttonWrapper">
        <button type="button" id="showModalSyncExcel" class="buttonMore" onclick="newModalSyncExcel()">
            <div>
                <h3>Sincronizar</h3>
                <img src="{% static 'images/icons/nextSinBackground.png' %}" alt="">
            </div>
        </button>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    var csrf_token = '{%csrf_token%}'
    var urlImportData = "{% url 'sales:importVentas' %}"
    var urlPreviewImportColaboradores = "{% url 'users:preview_import_colaboradores' %}"
    var urlConfirmImportColaboradores = "{% url 'users:confirm_import_colaboradores' %}"
    var urlPreviewCleanExcel = "{% url 'users:clean_excel_preview' %}"
    var urlExecuteCleanExcel = "{% url 'users:clean_excel_execute' %}"
    var urlExecuteSyncExcel = "{% url 'users:sync_payment_dates_execute' %}"
    var sucursalesDisponibles = {{ sucursalesDisponibles| safe }}
    var logoDisplayMore = "{% static 'images/icons/arrowDown.png' %}"      
</script>
<script src="{% static 'modalStatic/doc/tingle/tingle.min.js' %}"></script>
<script src="{% static 'js/vanilla_components/inputSelectOnly.js' %}"></script>
<script src="{% static 'js/vanilla_components/z_index_orders_selects.js' %}"></script>
<script src="{% static 'js/sales/importDataVentas.js' %}"></script>
<script src="{% static 'js/users/importDataColaborador.js' %}"></script>
<script src="{% static 'js/users/cleanExcel.js' %}"></script>
<script src="{% static 'js/users/syncDatesExcel.js' %}"></script>

{% endblock js %}