{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/panel_sucursales.css' %}">
<link rel="stylesheet" href="{% static 'modalStatic/doc/tingle/tingle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/root_base.css' %}">
<link href="{% static 'js/vanilla-calendar-pro/styles/index.css' %}" rel="stylesheet">
<script src="{% static 'js/vanilla-calendar-pro/index.js' %}" defer></script>
{% endblock css %}

{% block content %}
    <div id="wrapperLoader">
        <span id="loader"></span>
    </div>
  
    <div class="wrapperListSucursales" id="wrapperListSucursales">
        <h1>{{latest_sucursal}}</h1>
        {% for sucursal in sucursales %}
            <div class="sucursalItem">
                <h2>{{sucursal}}</h2>
                <form method="POST" class="formSucursal">
                    {% csrf_token %}
                    <input type="hidden" class="input-id" name="inputID" value="{{sucursal.pk}}">
                    <div class="containerInputs">
                        <div class="wrapperInput">
                            <label for="">Dirección</label>
                            <input type="text" class="input-direccion" name="inputDireccion" value="{{sucursal.direccion}}">
                        </div>
                        <div class="wrapperInput hora">
                            <label for="">Hora de entrada</label>
                            <input type="text" class="input-hora" name="inputHora" value="{{sucursal.hora_apertura}}">
                        </div>
                        <div id="selectWrapperSelectGerente" class="wrapperSelectFilter wrapperInput">
                            <label class="labelInput">Gerente</label>
                            <div class="containerInputAndOptions">
                                <img id="sucursalIconDisplay" class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt=""/>
                                
                                <input type="hidden" value="{% if sucursal.gerente.pk %}{{sucursal.gerente.pk}}{% endif %}" name="gerente" required="" autocomplete="off" maxlength="100" class="input-gerente">
                                
                                <div class="onlySelect pseudo-input-select-wrapper">
                                    <h3>{% if sucursal.gerente %}{{sucursal.gerente}}{% endif %}</h3>
                                </div>

                                <ul class="list-select-custom options">
                                    {% for gerente in gerentesDisponibles  %}
                                        <li data-value="{{gerente.id}}">{{gerente.nombre}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="buttonsActions">
                        <button type="button" onclick="editarSucursal(this)" class="enableForm add-button-default">Editar</button>
                        <button type="button" onclick="deleteAgencia(this)" class="deleteSucursal delete-button-default" >Eliminar</button>
                    </div>
                </form>
            
            </div>
        {% endfor %}
    
    </div>
    <button type="button" onclick='newSucursalForm_HTML()' class="add-button-default" id="buttonAddSucursal">Agregar sucursal</button>
    
{% endblock content %}
{% block js %}
<script>
    var CSRF_TOKEN = '{% csrf_token %}'
    var gerentesDisponibles = {{ gerentesDisponibles|safe }}
    var imgArrowDown = "{% static 'images/icons/arrowDown.png' %}"
    // URLs - - - - - - - -
    var urlUpdateS = "{% url 'users:updateSucursal' %}"
    var urlAddS = "{% url 'users:addSucursal' %}"
    var urlRemoveS = "{% url 'users:removeSucursal' %}"
    // - - - - - - - -

</script>
<script src="{% static 'modalStatic/doc/tingle/tingle.min.js' %}"></script>
<script src="{% static 'js/vanilla-calendar-pro/selectHoraManage.js' %}" defer></script>
<script src="{% static 'js/inputSelectOnly_v2.js' %}"></script>
<script src="{% static 'js/fetch_upload_sucursal.js' %}"></script>

{% endblock js %}