{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/comisiones.css' %}">
{% endblock css %}

{% block content %}
    <div class="wrapperHeader">
        
        <div class="wrapperInputsSearchs">
            <div id="sucursalWrapper" class="inputWrapper">
                <div class="containerInputAndOptions">
                    <img id="tipoComprobanteIconDisplay" class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                    <input type="text" readonly="" placeholder="Sucursal" name="sucursal" id="sucursalInput" required="required" autocomplete="off" maxlength="50" class="input-read-write-default onlySelect">
                    <ul id="contenedorSucursal" class="list-select-custom options">
                        {% for sucursal in sucursales %}
                            <li>{{sucursal}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="campaniaWrapper" class="inputWrapper">
                <div class="containerInputAndOptions">
                    <img id="tipoComprobanteIconDisplay" class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                    <input type="text" readonly="" placeholder="Campaña" name="campania" id="campaniaInput" required="required" autocomplete="off" maxlength="50" class="input-read-write-default onlySelect">
                    <ul id="contenedorCampania" class="list-select-custom options">
                        {% for campania in campanias %}
                            <li>{{campania}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrapperButtonsActions blocked" id="wrapperButtonsActions">
            <a href="{% url 'liquidacion:viewPDFLiquidacion' %}" id="previsualizarButton" target="_blank">Previsualizar</a>
            <button type="button" id="liquidarButton">Liquidar</button>
        </div>
    </div>
    <div class="wrapperManageLiquidacion">
        <div class="colaboradoresWrapper">
            <h3>Elige los colaboradores</h3>
            <div>
                <div class="selectTipoColaborador">
                    <div>
                        <input type="radio" name="tipoColaborador" id="todos" value="todos" class="inputSelectTipoColaborador" checked>
                        <label for="todos">Todos</label>
                    </div>
                    <div>
                        <input type="radio" name="tipoColaborador" id="vendedores" value="Vendedor" class="inputSelectTipoColaborador">
                        <label for="vendedores">Vendedores</label>
                    </div>
                    <div>
                        <input type="radio" name="tipoColaborador" id="supervisores" value="Supervisor" class="inputSelectTipoColaborador">
                        <label for="supervisores">Supervisores</label>
                    </div>
                    <div>
                        <input type="radio" name="tipoColaborador" id="gerente_sucursal" value="Gerente sucursal" class="inputSelectTipoColaborador">
                        <label for="gerente_sucursal">Gerentes de sucursal</label>
                    </div>
                </div>

                <div class="colaboradores">
                    {% comment %} <div class="searchFilter">
                        <input type="text" class="operation" id="operation" placeholder="Buscar">
                    </div> {% endcomment %}

                    <div class="listColaboradoresWrapper">
                        <div class="tittlesWrapper">
                            <ul class="tittles">
                                <li>Nombre</li>
                                <li>Comisión</li>
                            </ul>   
                        </div>
                
                        <div class="valuesWrapper">
                            <ul class="values">
                                {% comment %} {% for colaborador in colaboradores %}
                                    <li>
                                        <div>
                                            <p>{{colaborador.nombre}}</p>
                                        </div>
                                        <div>
                                            <p>$ {{colaborador.comisionTotal}}</p>
                                        </div>
                                    </li>
                                {% endfor %} {% endcomment %}
                            </ul>       
                        </div>
                    </div>
                    <div class="resumenWrapper">
                        <div>
                            <h3>Total</h3>
                            <h3 id="totalComisionesTextColaboradores">$0</h3>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
{% comment %} 
        <div class="administradoresWrapper">
            <h3>Coloque la comision para los administradores/as</h3>
            <div>
                <div class="colaboradoresWrapper">
                    <h4>Seleccione a uno/a e ingrese su comision</h4>
                    <div class="listAdmins">
                        <div class="tittlesWrapper">
                            <ul class="tittles">
                                <li>Nombre</li>
                                <li>Haberes</li>
                                <li>Honorarios</li>
                            </ul>   
                        </div>
                
                        <div class="valuesWrapper">
                            <ul class="values">
                            </ul>       
                        </div>
                    </div>
                </div>

                <div class="resumenWrapper">
                    <div>
                        <h3>Total</h3>
                        <div>
                            <p>$</p>
                            <h3 id="totalAdminText">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
   
{% endblock content %}
{% block js %}
    <script> 
        const urlRequestColaboradores = "{{urlRequestColaboradores}}"
    </script>
    <script src="{% static 'js/input_select_create_user.js' %}"></script>
    <script src="{% static 'js/filters_liquidacion.js' %}"></script>
    <script src="{% static 'js/inputsSelectsOnly.js' %}"></script>
    <script src="{% static 'js/redirectToPDFNewLiquidacion.js' %}"></script>
    
{% endblock js %}