{% extends 'molde.html' %}
{% load static %}
{% load util %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/liquidaciones_ausencias_tardanzas.css' %}">
{% endblock css %}

{% block content %}

    <div class="wrapperTittle">
        <h2>Ausencias y tardanzas</h2>
    </div>
    <div class="wrapperInputsSearchs">
        <h2>Filtros</h2>
        <div id="sucursalWrapper" class="inputWrapper">
            <div class="containerInputAndOptions">
                <img id="sucursalIconDisplay" class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                <input type="text" readonly="" value="{{sucursales.0}}" placeholder="Sucursal" name="sucursal" id="sucursalInput" required="required" autocomplete="off" maxlength="50" class="input-read-write-default onlySelect">
                <ul id="contenedorSucursal" class="list-select-custom options">
                    {% for sucursal in sucursales %}
                        <li>{{sucursal}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="rangoWrapper" class="inputWrapper">
            <div class="containerInputAndOptions">
                <img id="rangoIconDisplay" class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                <input type="text" readonly="" value="{{rangos.0}}" placeholder="Rango" name="rango" id="rangoInput" required="required" autocomplete="off" maxlength="50" class="input-read-write-default onlySelect">
                <ul id="contenedorRango" class="list-select-custom options">
                    {% for rango in rangos %}
                        <li>{{rango}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="containerWrapper">
        <div class="information">
            
            <form method="POST" id="formAusenciaTardanza">
                {%csrf_token%}
                <table class="colaboradoresContainer">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ausencias</th>
                            <th>Tardanzas</th>
                        </tr>
                    </thead>
                    <tbody class="colaboradoresDataWrapper">
                    </tbody>
                </table>     
            </form>
        </div> 
    </div>

{% endblock content %}

{% block js %} 
<script src="{% static 'js/vanilla_components/inputSelectOnly_v2.js.js' %}"></script>   
<script>
    const urlFilterUsuario = "{{urlRequestColaboradores}}"
    const urlNewIem = "{{urlNewItem}}"    
</script>
<script src="{% static 'js/vanilla_components/timePickerModule.js' %}"></script>    
<script src="{% static 'js/users/requestColaboradores_tardanzasAusencias.js' %}"></script>    
<script src="{% static 'js/users/createNewTardanzaAusencia.js' %}"></script>  


{% endblock js %}