{% extends 'molde.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/ranking_liquidaciones.css' %}">
{% endblock css %}

{% block content %}
    <div class="filterContainer">
        <h2>Ranking</h2>
        <div class="filtersWrapper">
            <div id="selectWrapperSelectAgencia" class="wrapperSelectFilter">
                <label class="labelInput">Sucursal</label>
                <div class="containerInputAndOptions">
                    <img class="iconDesplegar" src="{% static 'images/icons/arrowDown.png' %}" alt="">
                    <input
                        type="text"
                        name="agencia"
                        class="onlySelect input-select-custom inputFilter"
                        id="inputSucursal"
                        autocomplete="off"
                        readonly=""
                        value="{{defaultSucursal.pseudonimo}}"
                    />
                    <ul class="list-select-custom options">
                        {% for sucursal in sucursales %}
                        <li data-value="{{sucursal.pseudonimo}}">{{sucursal.pseudonimo}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    
            <div id="selectWrapperSelectCampania"class="inputWrapper wrapperSelectFilter">
                <label class="labelInput">Campaña</label>
                <div class="containerInputAndOptions">
                    <img
                        id="tipoComprobanteIconDisplay"
                        class="iconDesplegar"
                        src="{% static 'images/icons/arrowDown.png' %}"
                        alt=""
                    />
                    <input
                        type="text"
                        name="campania"
                        value="{{defaultCampania}}"
                        readonly
                        class="input-select-custom onlySelect inputFilter"
                        id="inputCampania"
                    />
                    <ul class="list-select-custom options">
                        {% for campania in campaniasDisponibles %}
                        <li data-value="{{campania}}">{{campania}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="containerBoth">
        <div class="containerSupervisores">
            <div class="information">
                <div class="tittleAndOrder">
                    <h2>Supervisores</h2>
                    <div id="selectWrapperSelectOrder1">
                        {% comment %} <label class="labelInput">Ordenar por</label> {% endcomment %}
                        <div class="filter-iconWrapper">
                            <input type="hidden" class="inputFilter" name="tipoOrdenamientoSupervisores" id="order1">
                            <img src="{% static 'images/icons/icons_sort.svg' %}" alt="">
                            <ul class="filter-select">
                                <li class="filter-option selected" data-value="cantidadVentas">Cantidad de ventas</li>
                                <li class="filter-option" data-value="productividad">Productividad</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="tittlesWrapper">
                    <ul class="tittles">
                        <li>Supervisor</li>
                        <li>Dinero total</li>
                        <li>Cantidad total</li>
                    </ul>   
                </div>

                <div class="valuesWrapper">
                    <ul class="values">
                        <li class ="item">
                            {% for super in supervisores %}
                                <div class="backgroundItem">
                                    <img class="imageMore" src="{% static 'images/icons/moreWhite.png' %}" alt="">
                                    <div><p>{{super.nombre_usuario}}</p></div>
                                    <div><p>${{super.productividad}}</p></div>
                                    <div><p>{{super.cantidadVentas}}</p></div>
                                </div>
                                <ul class="detallesItem">
                                    <h2>Vendedores a cargo</h2>
                                    <div class="tittlesWrapperItem">
                                        <ul class="tittles">
                                            <li>Vendedor</li>
                                            <li>Dinero total</li>
                                            <li>Cantidad total</li>
                                        </ul>   
                                    </div>
                                    <div class="valuesWrapperItem">
                                        <ul>
                                            {% for v in super.vendedoresACargo %}
                                                <li class="itemValores">
                                                    <div class="backgroundItemVendedores">
                                                        <div><p>{{v.nombre_usuario}}</p></div>
                                                        <div><p>${{v.productividad}}</p></div>
                                                        <div><p>{{v.cantidadVentas}}</p></div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </ul>
                            {% endfor %}
                            
                        </li>
                    </ul>       
                </div>
            </div> 
        </div>

        <div class="containerVendedores">
            <div class="information">
                <div class="tittleAndOrder">
                    <h2>Vendedores</h2>
                    <div id="selectWrapperSelectOrder2">
                        {% comment %} <label class="labelInput">Ordenar por</label> {% endcomment %}
                        <div class="filter-iconWrapper">
                            <input type="hidden" class="inputFilter" name="tipoOrdenamientoVendedores" id="order2">
                            
                            <img src="{% static 'images/icons/icons_sort.svg' %}" alt="">
                            <ul class="filter-select">
                                <li class="filter-option selected" data-value="cantidadVentas">Cantidad de ventas</li>
                                <li class="filter-option" data-value="productividad">Productividad</li>
                                <li class="filter-option" data-value="cuotas1Adelantadas">Cuotas 1</li>
                                
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="tittlesWrapper">
                    <ul class="tittles">
                        <li>Vendedor</li>
                        <li>Dinero total</li>
                        <li>Cantidad total</li>
                        <li>Cuotas adel.</li>
                    </ul>   
                </div>

                <div class="valuesWrapper">
                    <ul class="values">
                        {% for vendedor in vendedores %}
                            <li class="itemValores">
                                <div class="backgroundItemVendedores">
                                    <div><p>{{vendedor.nombre_usuario}}</p></div>
                                    <div><p>${{vendedor.productividad}}</p></div>
                                    <div><p>{{vendedor.cantidadVentas}}</p></div>
                                    <div><p>{{vendedor.cuotas1Adelantadas}}</p></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>       
                </div>
            </div> 
        </div>
    </div>
    
{% endblock content %}
{% block js %}
<script src="{% static 'js/displayItemsRanking.js' %}"></script>
<script src="{% static 'js/inputsSelectsOnly.js' %}"></script>
<script src="{% static 'js/filterRanking.js' %}"></script>
<script src="{% static 'js/iconFIlterEvent.js' %}"></script>



    
{% endblock js %}