{% load static %}
{% load currency_ar %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 
    <div class="reciboPairWrapper"> 
        <div class="reciboWrapper">
            <div class="recibo">
                <img class="logo" src="{% static 'images/logoElanelPDF.png' %}">
                <h1 class="tittleRecibo">Recibo de Honorarios - Servicios Profesionales</h1>
                <div class="divInfoWrapper"> 
                    <div class="infoUserWrapper">
                        <p>Agencia Posadas, Misiones</p>
                    </div>
                    <div class="campaniaWrapper infoUserWrapper">
                        <p>Marzo 2025</p>
                    </div>
                </div>
                
                
                <div class="colaboradorWrapper infoUserWrapper">
                    <p><strong>Vendedor</strong></p>
                    <p>Julian Juan Manuel</p>
                </div>
        
                <div class="detalle">
                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Motos (24/30 Cuotas)</td>
                                <td>8</td>
                                <td>$ 124 800</td>
                            </tr>
                            <tr>
                                <td>Combos/Soluciones (24/30 Cuotas)</td>
                                <td>0</td>
                                <td>$ 0</td>
                            </tr>
                            <tr>
                                <td>Ventas (48/60 Cuotas)</td>
                                <td>0</td>
                                <td>$ 0</td> 
                            </tr>
                            
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>$ 0</td>
                            </tr>
                            <tr>
                                <td>Otros premios</td>
                                <td>- - -</td>
                                <td>$ 75 200</td>
                            </tr>                              
                            
                            <tr>
                                <td>Cuotas 1</td>
                                <td>0</td>
                                <td>$ 0</td>
                            </tr>
                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>$ 200 000</td>
                            </tr>
                            <tr class ="divider"><td colspan="3"></td></tr>
                            <tr>
                                <td class="titleDescuento" colspan="3">Descuentos</td>   
                            </tr>
                            <tr>
                                <td>Ausencias</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr>
                                <td>Compras</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr>
                                <td>Adelantos/Descuestos</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr>
                                <td>Otros</td>
                                <td> - - - </td>
                                <td>$ 0</td>
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total de descuentos</td> 
                                <td>$ 0</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="totalComisionadoWrapper">
                        <p>IMPORTE</p>
                        <p>$ 200 000</p>
                    </div>
                    <div class="notaImportanteWrapper">
                        <p><span>Finiquito Final</span>: Con la firma de este recibo, el Proveedor reconoce haber recibido de ELANEL SERVICIOS SRL la suma expresada, correspondiente al período detallado, otorgando por este acto finiquito Total /Final .</p>
                    </div>
                </div>
                
                
                
            </div>
        
            <div id="firmas">
                <div>
                <p>Firma</p>
                </div>
                <div>
                    <p>Aclaracion y DNI</p>
                </div>
            </div>
        </div>
        <div class="reciboWrapper">
            <div class="recibo">
                <img class="logo" src="{% static 'images/logoElanelPDF.png' %}">
                <h1 class="tittleRecibo">Recibo de Honorarios - Servicios Profesionales</h1>
                <div class="divInfoWrapper"> 
                    <div class="infoUserWrapper">
                        <p>Agencia Posadas, Misiones</p>
                    </div>
                    <div class="campaniaWrapper infoUserWrapper">
                        <p>Marzo 2025</p>
                    </div>
                </div>
                
                
                <div class="colaboradorWrapper infoUserWrapper">
                    <p><strong>Vendedor</strong></p>
                    <p>Julian Juan Manuel</p>
                </div>
        
                <div class="detalle">
                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Motos (24/30 Cuotas)</td>
                                <td>8</td>
                                <td>$ 124 800</td>
                            </tr>
                            <tr>
                                <td>Combos/Soluciones (24/30 Cuotas)</td>
                                <td>0</td>
                                <td>$ 0</td>
                            </tr>
                            <tr>
                                <td>Ventas (48/60 Cuotas)</td>
                                <td>0</td>
                                <td>$ 0</td> 
                            </tr>
                            
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>$ 0</td>
                            </tr>
                            <tr>
                                <td>Otros premios</td>
                                <td>- - -</td>
                                <td>$ 75 200</td>
                            </tr>                              
                            
                            <tr>
                                <td>Cuotas 1</td>
                                <td>0</td>
                                <td>$ 0</td>
                            </tr>
                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>$ 200 000</td>
                            </tr>
                            <tr class ="divider"><td colspan="3"></td></tr>
                            <tr>
                                <td class="titleDescuento" colspan="3">Descuentos</td>   
                            </tr>
                            <tr>
                                <td>Ausencias</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr>
                                <td>Compras</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr>
                                <td>Adelantos/Descuestos</td>
                                <td> - - - </td>
                                <td>$ 0</td>      
                            </tr>
                            <tr>
                                <td>Otros</td>
                                <td> - - - </td>
                                <td>$ 0</td>
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total de descuentos</td> 
                                <td>$ 0</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="totalComisionadoWrapper">
                        <p>IMPORTE</p>
                        <p>$ 200 000</p>
                    </div>
                    <div class="notaImportanteWrapper">
                        <p><span>Finiquito Final</span>: Con la firma de este recibo, el Proveedor reconoce haber recibido de ELANEL SERVICIOS SRL la suma expresada, correspondiente al período detallado, otorgando por este acto finiquito Total /Final .</p>
                    </div>
                </div>
                
                
                
            </div>
        
            <div id="firmas">
                <div>
                <p>Firma</p>
                </div>
                <div>
                    <p>Aclaracion y DNI</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
