{% load static %}
{% load currency_ar %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 
    {% for recibo in data %}
    <div class="reciboPairWrapper"> 
        <div class="reciboWrapper">
            <div class="recibo">
                <img class="logo" src="{% static 'images/logoElanelPDF.png' %}">
                <h1 class="tittleRecibo">Recibo</h1>
                <div class="divInfoWrapper"> 
                    <div class="infoUserWrapper">
                        <p>{{recibo.sucursal}}</p>
                    </div>
                    <div class="campaniaWrapper infoUserWrapper">
                        <p>{{recibo.campania}}</p>
                    </div>
                    <div class="infoUserWrapper">
                        <p>{{recibo.fecha}}</p>
                    </div>
                </div>
                
                
                <div class="colaboradorWrapper infoUserWrapper">
                    <p><strong>{{ recibo.tipo_colaborador }}</strong></p>
                    <p>{{ recibo.nombre }}</p>
                </div>
                
                
                
                {% if recibo.tipo_colaborador == "Supervisor"%}
                    <div class="tittleConceptoWrapper">
                        <p>Conceptos por equipo</p>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ventas del equipo</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.cantidadVentasXEquipo}}</td>
                                <td> - - - </td>
                            </tr>
                            <tr>
                                <td >Desempeño del equipo</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.productividadXVentasEquipo|currency_ar}} </td>
                            </tr>
                            <tr>
                                <td>Comision por cant. ventas</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.comision_subtotal|currency_ar}} </td>
                            </tr>
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_equipo|currency_ar}} </td>
                            </tr>

                            <tr>
                                <td>Premio por cant. ventas</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_cantidad_ventas_equipo|currency_ar}} </td>
                            </tr>

                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="tittleConceptoWrapper">
                        <p>Conceptos propio</p>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Motos (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.comision|currency_ar}}</td>
    
                            </tr>
                            <tr>
                                <td>Combos/Soluciones (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Ventas (48/60 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.comision|currency_ar}}</td> 
                            </tr>
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_propias|currency_ar}} </td>
                            
                            </tr>
                            <tr>
                                <td>Otros premios</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_positivos|currency_ar }}</td>
                            </tr>                              
                            
                            <tr>
                                <td>Cuotas 1</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.cantidadCuotas1}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.comisionXCuotas1|currency_ar}}</td>
                            </tr>
                            
                            {% if recibo.tipo_colaborador == "Vendedor" %}
                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>
                            {% endif %}
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>{{recibo.info_total_de_comision.comision_bruta|currency_ar}}</td>
                            </tr>

                            <tr class ="divider"><td colspan="3"></td></tr>
                            <tr>
                                <td class="titleDescuento" colspan="3">Descuentos</td>   
                            </tr>
                            <tr>
                                <td>Ausencias</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.tardanzas.dinero|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Compras</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.dinero|currency_ar}}</td>      
                            </tr>

                            <tr>
                                <td>Adelantos/Descuestos</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.adelantos.dineroTotal|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Otros</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_negativos|currency_ar }}</td>
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total de descuentos</td> 
                                <td>{{recibo.info_total_de_comision.descuentoTotal|currency_ar}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="totalComisionadoWrapper">
                        <p>TOTAL COMISIONADO</p>
                        <p>{{recibo.info_total_de_comision.comision_total|currency_ar}}</p>
                    </div>
                    <div class="notaImportanteWrapper">
                        <p><span>Importante</span>: Estimado colaborador: Usted dispone de 10 días para realizar observaciones a la presente liquidación de honorarios. Luego de este plazo la misma se considera aprobada.</p>
                    </div>
                {% elif recibo.tipo_colaborador == "Vendedor" %}
                    <div class="detalle">
                        <table>
                            <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Cantidad</th>
                                    <th>Dinero</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Motos (24/30 Cuotas)</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.cantidad_ventas}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.comision|currency_ar}}</td>
        
                                </tr>
                                <tr>
                                    <td>Combos/Soluciones (24/30 Cuotas)</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.cantidad_ventas}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.comision|currency_ar}}</td>
                                </tr>
                                <tr>
                                    <td>Ventas (48/60 Cuotas)</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.cantidad_ventas}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.comision|currency_ar}}</td> 
                                </tr>
                                <tr>
                                    <td>Premio por productividad</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_propias|currency_ar}} </td>
                                
                                </tr>
                                <tr>
                                    <td>Otros premios</td>
                                    <td>- - -</td>
                                    <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_positivos|currency_ar }}</td>
                                </tr>                              
                                
                                <tr>
                                    <td>Cuotas 1</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.cantidadCuotas1}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.comisionXCuotas1|currency_ar}}</td>
                                </tr>
                                <tr>
                                    <td>Asegurado</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                                </tr>
                                <tr class="subTotalWrapper">
                                    <td colspan="2">Sub-total</td> 
                                    <td>{{recibo.info_total_de_comision.comisionado_sin_descuento|currency_ar}}</td>
                                </tr>

                                <tr class ="divider"><td colspan="3"></td></tr>
                                <tr>
                                    <td class="titleDescuento" colspan="3">Descuentos</td>   
                                </tr>
                                <tr>
                                    <td>Ausencias</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.tardanzas.dinero|currency_ar}}</td>      
                                </tr>
                                <tr>
                                    <td>Compras</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.dinero|currency_ar}}</td>      
                                </tr>
    
                                <tr>
                                    <td>Adelantos/Descuestos</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.adelantos.dineroTotal|currency_ar}}</td>      
                                </tr>
                                <tr>
                                    <td>Otros</td>
                                    <td> - - - </td>
                                    <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_negativos|currency_ar }}</td>
                                </tr>
                                <tr class="subTotalWrapper">
                                    <td colspan="2">Sub-total de descuentos</td> 
                                    <td>{{recibo.info_total_de_comision.descuentoTotal|currency_ar}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="totalComisionadoWrapper">
                            <p>TOTAL COMISIONADO</p>
                            <p>{{recibo.info_total_de_comision.comision_total|currency_ar}}</p>
                        </div>
                        <div class="notaImportanteWrapper">
                            <p><span>Importante</span>: Estimado colaborador: Usted dispone de 10 días para realizar observaciones a la presente liquidación de honorarios. Luego de este plazo la misma se considera aprobada.</p>
                        </div>
                    </div>
                
                {% elif recibo.tipo_colaborador == "Gerente sucursal" %}
                    <div class="tittleConceptoWrapper">
                        <p>Conceptos por sucursal</p>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero comisionado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cuotas 0</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.cantidad_cuotas_0}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_cantidad_ventas_agencia|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 1</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas1.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas1.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 2</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas2.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas2.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 3</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas3.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas3.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 4</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas4.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas4.comision|currency_ar}}</td>
                            </tr>


                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>

                            {% comment %} <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>{{recibo.info_total_de_comision.detalle.cuotasX.comisionTotal_Cuotas}}</td>
                            </tr> {% endcomment %}
                        </tbody>
                    </table>

                    <div class="tittleConceptoWrapper">
                        <p>Conceptos propio</p>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Motos (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.comision|currency_ar}}</td>
    
                            </tr>
                            <tr>
                                <td>Combos/Soluciones (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Ventas (48/60 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.comision|currency_ar}}</td> 
                            </tr>
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_propias|currency_ar}} </td>
                            
                            </tr>
                            <tr>
                                <td>Otros premios</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_positivos|currency_ar }}</td>
                            </tr>                              
                            
                            <tr>
                                <td>Cuotas 1</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.cantidadCuotas1}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.comisionXCuotas1|currency_ar}}</td>
                            </tr>
                            
                            {% if recibo.tipo_colaborador == "Vendedor" %}
                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>
                            {% endif %}
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>{{recibo.info_total_de_comision.comision_bruta|currency_ar}}</td>
                            </tr>

                            <tr class ="divider"><td colspan="3"></td></tr>
                            <tr>
                                <td class="titleDescuento" colspan="3">Descuentos</td>   
                            </tr>
                            <tr>
                                <td>Ausencias</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.tardanzas.dinero|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Compras</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.dinero|currency_ar}}</td>      
                            </tr>

                            <tr>
                                <td>Adelantos/Descuestos</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.adelantos.dineroTotal|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Otros</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_negativos|currency_ar }}</td>
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total de descuentos</td> 
                                <td>{{recibo.info_total_de_comision.descuentoTotal|currency_ar}}</td>
                            </tr>

                        </tbody>
                    </table>
                    
                    <div class="totalComisionadoWrapper">
                        <p>TOTAL COMISIONADO</p>
                        <p>{{recibo.info_total_de_comision.comision_total|currency_ar}}</p>
                    </div>

                    <div class="notaImportanteWrapper">
                        <p><span>Importante</span>: Estimado colaborador: Usted dispone de 10 días para realizar observaciones a la presente liquidación. Luego de este plazo la misma se considera aprobada.</p>
                    </div>

                {% endif %}

            </div>
        
            <div id="firmas">
                <div>
                <p>Firma</p>
                </div>
                <div>
                    <p>Aclaracion y DNI</p>
                </div>
            </div>
        </div>

        <div class="reciboWrapper">
            <div class="recibo">
                <img class="logo" src="{% static 'images/logoElanelPDF.png' %}">
                <h1 class="tittleRecibo">Recibo</h1>
                <div class="divInfoWrapper"> 
                    <div class="infoUserWrapper">
                        <p>{{recibo.sucursal}}</p>
                    </div>
                    <div class="campaniaWrapper infoUserWrapper">
                        <p>{{recibo.campania}}</p>
                    </div>
                    <div class="infoUserWrapper">
                        <p>{{recibo.fecha}}</p>
                    </div>
                </div>
                
                
                <div class="colaboradorWrapper infoUserWrapper">
                    <p><strong>{{ recibo.tipo_colaborador }}</strong></p>
                    <p>{{ recibo.nombre }}</p>
                </div>
                
                
                
                {% if recibo.tipo_colaborador == "Supervisor"%}
                    <div class="tittleConceptoWrapper">
                        <p>Conceptos por equipo</p>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ventas del equipo</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.cantidadVentasXEquipo}}</td>
                                <td> - - - </td>
                            </tr>
                            <tr>
                                <td >Desempeño del equipo</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.productividadXVentasEquipo|currency_ar}} </td>
                            </tr>
                            <tr>
                                <td>Comision por cant. ventas</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.comision_subtotal|currency_ar}} </td>
                            </tr>
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_equipo|currency_ar}} </td>
                            </tr>

                            <tr>
                                <td>Premio por cant. ventas</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_cantidad_ventas_equipo|currency_ar}} </td>
                            </tr>

                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="tittleConceptoWrapper">
                        <p>Conceptos propio</p>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Motos (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.comision|currency_ar}}</td>
    
                            </tr>
                            <tr>
                                <td>Combos/Soluciones (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Ventas (48/60 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.comision|currency_ar}}</td> 
                            </tr>
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_propias|currency_ar}} </td>
                            
                            </tr>
                            <tr>
                                <td>Otros premios</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_positivos|currency_ar }}</td>
                            </tr>                              
                            
                            <tr>
                                <td>Cuotas 1</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.cantidadCuotas1}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.comisionXCuotas1|currency_ar}}</td>
                            </tr>
                            
                            {% if recibo.tipo_colaborador == "Vendedor" %}
                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>
                            {% endif %}
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>{{recibo.info_total_de_comision.comision_bruta|currency_ar}}</td>
                            </tr>

                            <tr class ="divider"><td colspan="3"></td></tr>
                            <tr>
                                <td class="titleDescuento" colspan="3">Descuentos</td>   
                            </tr>
                            <tr>
                                <td>Ausencias</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.tardanzas.dinero|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Compras</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.dinero|currency_ar}}</td>      
                            </tr>

                            <tr>
                                <td>Adelantos/Descuestos</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.adelantos.dineroTotal|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Otros</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_negativos|currency_ar }}</td>
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total de descuentos</td> 
                                <td>{{recibo.info_total_de_comision.descuentoTotal|currency_ar}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="totalComisionadoWrapper">
                        <p>TOTAL COMISIONADO</p>
                        <p>{{recibo.info_total_de_comision.comision_total|currency_ar}}</p>
                    </div>
                    <div class="notaImportanteWrapper">
                        <p><span>Importante</span>: Estimado colaborador: Usted dispone de 10 días para realizar observaciones a la presente liquidación de honorarios. Luego de este plazo la misma se considera aprobada.</p>
                    </div>
                {% elif recibo.tipo_colaborador == "Vendedor" %}
                    <div class="detalle">
                        <table>
                            <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Cantidad</th>
                                    <th>Dinero</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Motos (24/30 Cuotas)</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.cantidad_ventas}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.comision|currency_ar}}</td>
        
                                </tr>
                                <tr>
                                    <td>Combos/Soluciones (24/30 Cuotas)</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.cantidad_ventas}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.comision|currency_ar}}</td>
                                </tr>
                                <tr>
                                    <td>Ventas (48/60 Cuotas)</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.cantidad_ventas}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.comision|currency_ar}}</td> 
                                </tr>
                                <tr>
                                    <td>Premio por productividad</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_propias|currency_ar}} </td>
                                
                                </tr>
                                <tr>
                                    <td>Otros premios</td>
                                    <td>- - -</td>
                                    <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_positivos|currency_ar }}</td>
                                </tr>                              
                                
                                <tr>
                                    <td>Cuotas 1</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.cantidadCuotas1}}</td>
                                    <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.comisionXCuotas1|currency_ar}}</td>
                                </tr>
                                <tr>
                                    <td>Asegurado</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                                </tr>
                                <tr class="subTotalWrapper">
                                    <td colspan="2">Sub-total</td> 
                                    <td>{{recibo.info_total_de_comision.comisionado_sin_descuento|currency_ar}}</td>
                                </tr>

                                <tr class ="divider"><td colspan="3"></td></tr>
                                <tr>
                                    <td class="titleDescuento" colspan="3">Descuentos</td>   
                                </tr>
                                <tr>
                                    <td>Ausencias</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.tardanzas.dinero|currency_ar}}</td>      
                                </tr>
                                <tr>
                                    <td>Compras</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.dinero|currency_ar}}</td>      
                                </tr>
    
                                <tr>
                                    <td>Adelantos/Descuestos</td>
                                    <td> - - - </td>
                                    <td>{{recibo.info_total_de_comision.detalle.adelantos.dineroTotal|currency_ar}}</td>      
                                </tr>
                                <tr>
                                    <td>Otros</td>
                                    <td> - - - </td>
                                    <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_negativos|currency_ar }}</td>
                                </tr>
                                <tr class="subTotalWrapper">
                                    <td colspan="2">Sub-total de descuentos</td> 
                                    <td>{{recibo.info_total_de_comision.descuentoTotal|currency_ar}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="totalComisionadoWrapper">
                            <p>TOTAL COMISIONADO</p>
                            <p>{{recibo.info_total_de_comision.comision_total|currency_ar}}</p>
                        </div>
                        <div class="notaImportanteWrapper">
                            <p><span>Importante</span>: Estimado colaborador: Usted dispone de 10 días para realizar observaciones a la presente liquidación de honorarios. Luego de este plazo la misma se considera aprobada.</p>
                        </div>
                    </div>
                
                

                {% elif recibo.tipo_colaborador == "Gerente sucursal" %}
                    <div class="tittleConceptoWrapper">
                        <p>Conceptos por sucursal</p>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero comisionado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cuotas 0</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.cantidad_cuotas_0}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_cantidad_ventas_agencia|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 1</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas1.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas1.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 2</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas2.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas2.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 3</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas3.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas3.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Cuotas 4</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas4.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.rol.detalle.detalle_x_cuotas.cuotas4.comision|currency_ar}}</td>
                            </tr>


                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>

                            {% comment %} <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>{{recibo.info_total_de_comision.detalle.cuotasX.comisionTotal_Cuotas}}</td>
                            </tr> {% endcomment %}
                        </tbody>
                    </table>

                    <div class="tittleConceptoWrapper">
                        <p>Conceptos propio</p>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Dinero</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Motos (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_motos.comision|currency_ar}}</td>
    
                            </tr>
                            <tr>
                                <td>Combos/Soluciones (24/30 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_24_30_prestamo_combo.comision|currency_ar}}</td>
                            </tr>
                            <tr>
                                <td>Ventas (48/60 Cuotas)</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.cantidad_ventas}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.detalleVentasPropias.com_48_60.comision|currency_ar}}</td> 
                            </tr>
                            <tr>
                                <td>Premio por productividad</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.premios.detalle.premio_x_productividad_ventas_propias|currency_ar}} </td>
                            
                            </tr>
                            <tr>
                                <td>Otros premios</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_positivos|currency_ar }}</td>
                            </tr>                              
                            
                            <tr>
                                <td>Cuotas 1</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.cantidadCuotas1}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ventasPropias.detalle.comisionXCuotas1|currency_ar}}</td>
                            </tr>
                            
                            {% if recibo.tipo_colaborador == "Vendedor" %}
                            <tr>
                                <td>Asegurado</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.asegurado|currency_ar}}</td>      
                            </tr>
                            {% endif %}
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total</td> 
                                <td>{{recibo.info_total_de_comision.comision_bruta|currency_ar}}</td>
                            </tr>

                            <tr class ="divider"><td colspan="3"></td></tr>
                            <tr>
                                <td class="titleDescuento" colspan="3">Descuentos</td>   
                            </tr>
                            <tr>
                                <td>Ausencias</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.tardanzas.dinero|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Compras</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.cantidad}}</td>
                                <td>{{recibo.info_total_de_comision.detalle.ausencias_tardanzas.detalle.faltas.dinero|currency_ar}}</td>      
                            </tr>

                            <tr>
                                <td>Adelantos/Descuestos</td>
                                <td> - - - </td>
                                <td>{{recibo.info_total_de_comision.detalle.adelantos.dineroTotal|currency_ar}}</td>      
                            </tr>
                            <tr>
                                <td>Otros</td>
                                <td>- - -</td>
                                <td>{{ recibo.info_total_de_comision.detalle.ajustes.ajustes_negativos|currency_ar }}</td>
                            </tr>
                            <tr class="subTotalWrapper">
                                <td colspan="2">Sub-total de descuentos</td> 
                                <td>{{recibo.info_total_de_comision.descuentoTotal|currency_ar}}</td>
                            </tr>

                        </tbody>
                    </table>
                    
                    <div class="totalComisionadoWrapper">
                        <p>TOTAL COMISIONADO</p>
                        <p>{{recibo.info_total_de_comision.comision_total|currency_ar}}</p>
                    </div>

                    <div class="notaImportanteWrapper">
                        <p><span>Importante</span>: Estimado colaborador: Usted dispone de 10 días para realizar observaciones a la presente liquidación. Luego de este plazo la misma se considera aprobada.</p>
                    </div>

                {% endif %}
            </div>
        
            <div id="firmas">
                <div>
                <p>Firma</p>
                </div>
                <div>
                    <p>Aclaracion y DNI</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-break"></div> <!-- Salto de página -->
    {% endfor %}
    
    
        
</body>
</html>
