.caja
{
    display: flex;
    height: 85%;
}

.filters
{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.movimientos{
    width: 65%;
    height: 100%;   
    margin-left: 5rem;

}
.tittles{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around; 
    align-items: center;
    height: 100%; 
}

.tittlesWrapper > .tittles > li {
    color: white;
    font-size: clamp(1.3rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    padding: 1rem 0;
    width: 15%;
    text-align: center;
}
.tittlesWrapper > .tittles > li:nth-child(2){
    width: 35%;
}
.tittlesWrapper > .tittles > li:nth-child(3){
    width: 10%;
}

.movimientos > .tittlesWrapper{
    width: 100%;
    background-color: #3D7CD8;
    border-radius: 0.6rem;
    height: 8%;
}
.movimientos > .valuesWrapper{
    overflow-y: auto;
    height: 85%;
}
.valuesWrapper > .values > .mov
{
    display: flex;
    font-size: 1.4rem;
    justify-content: space-around;
    font-family: raleway;
    position: relative;
    padding: 1rem 0;
    width: 100%;
    color: rgb(241, 237, 237);
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.6rem;
}
.valuesWrapper > .values > .mov:hover
{
    background-color: #304361;
}
.valuesWrapper > .values > .mov > div
{
    width: 15%;
    text-align: center;
}
.valuesWrapper > .values > .mov > div:nth-child(2)
{
    width: 35%;
    text-align: center;
}
.valuesWrapper > .values > .mov > div:nth-child(3)
{
    width: 10%;
    text-align: center;
}


.mov > .code{
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    background-color: rgba(240, 248, 255, 0.158);
    width: 100%;
    padding: .3rem;
    text-align: center;
}
.mov > h1{
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
}



.resum{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.resum__cuenta{
    background-color: aliceblue;
    width: 80%;
    border-radius: 1rem;
    display: flex;
    padding:  1rem 0 ;
    text-align: center;
    margin: 0 auto;

}
.resum__cuenta__tipoCaja{
    width: 60%;

}
.resum__cuenta__saldo
{
    width: 40%;
}
.resum__cuenta > div > h4{
    border-top:1px black solid;
    padding: .2rem 2rem;
    font-size: clamp(1.2rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    padding: .6rem 0;

}
.resum__cuenta > div > h2{
    padding: 0rem 2rem .7rem 2rem;
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    font-family: raleway-semibold;

}

.modalFilters{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    opacity: 0;
    transition: opacity .3s ease;
}
.modalFilters.active
{
    visibility: visible;

}
.modalWrapperFilter{
    width: 50%;
    height: 60%;
    background-color: #203555;
    position: relative;
    padding: 5rem 4rem 0rem 4rem;
    border-radius: 1.5rem;
}

.buttonsFilters{
    width: 100%;
    display: flex;
    margin-right: 3rem;
    gap: 2rem;
    justify-content: flex-end;
    height: 4rem;
}
.buttonsFilters > a{
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-family: raleway-semibold;
    color: white;
    text-decoration: none;
    /* height: 75%; */
    width: 10%;
    min-width: fit-content;
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1753ED;
    border-radius: 0.6rem;
}
.buttonNewMov{
    width: 10%;
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: transparent;
    min-width: fit-content;
    color: white;
    outline: none;
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 0.6rem;
    cursor: pointer;
    border: 2px solid #1753ED;
}
.buttonFilterWrapper{
    width: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#openFilters{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 2%;
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: #1753ED;
    color: white;
    outline: none;
    border-color: transparent;
    border-radius: 0.6rem;
    cursor: pointer;
}

.buttonsFilters > .buttonFilterWrapper >  a#clear_filters{
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
    font-family: raleway-semibold;
    margin-top: .3rem;
    color: rgba(255, 255, 255, 0.856);
    outline: none;
    text-align: center;
    cursor: pointer;
    margin-right: 1%;
    position: absolute;
    display: none;
    top: 100%;
}
.buttonsFilters > .buttonFilterWrapper >  a#clear_filters.show{
    display: block;
}

.wrapperselectType,.wrapperSelectIngresoEgreso,.wrapperselectCobrador,.wrapperselectSucursal{
    width: 40%;
}

/* CALENDARIO */
.wrapperCalendario{
    display: flex;
    flex-basis: 100%;
    gap: 1.5rem;
}
.calendarFilter{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 5rem;
    align-items: center;
    position: relative;
}

.fromDate,.toDate{
    width: 35%;
    position: relative;
}
.calendar_button
{
    background-color: white;
    border-radius: .6rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem;
    cursor: pointer;
    /* margin: 0 auto; */
}
.fromDate > h3,.toDate > h3
{
    font-family: raleway-semibold;
    font-size: 1.4rem;
    color: white;
    margin-bottom: .4rem;
    margin-left: .2rem;
}
#fromMonth_year, #toMonth_year
{
    font-family: raleway-semibold;
    font-size: 1.4rem; 
}
.calendar_button > img{
    width: 2rem;
    height: 2rem;
}
.calendar_button > h3{
    font-family: raleway-semibold;
    font-size: clamp(1.2rem, 1vw, 1.3rem);
}
.calendar
{
    border-radius: 1rem;
    width: 22rem;
    position: absolute;
    margin-top: .4rem;
    overflow: hidden;
    height: 0rem;
    background-color: white;
}


.fromDate > .calendar
{
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}
.toDate > .calendar
{
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.calendar.active
{
    padding: 0.2rem 1.3rem;
    height: fit-content;
    min-height: 24rem;
}
.mes
{
    display: flex;
    justify-content: space-between;
    
    margin-top: 1rem;
    font-size: 1.4rem;
    align-items: center;
}
.button__change_month > button
{
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
}
.button__change_month > button > img{
    width: 2.3rem;
    height: 2.3rem;
}
.dias
{
    margin-top: 1rem;
}
.dias > ul > li{
    width: calc(100% / 7);
    text-align: center;
    padding-top: .7rem;
    position: relative;
    height: 2rem;
    cursor: pointer;
    font-family: raleway-semibold;
}

.dias > .fromDatenumbers > li::before,
.dias > .toDatenumbers > li::before
{
    content: "";
    position: absolute;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: .6rem;
    z-index: -1;
}


.dias > .fromDatenumbers > li:hover::before,
.dias > .toDatenumbers > li:hover::before
{
    background-color: rgba(0, 0, 0, 0.336);
}


.dias > .fromDatenumbers > li.active::before,
.dias > .toDatenumbers > li.active::before
{
    background-color: rgba(19, 16, 224, 0.575);
}


.tags
{
    font-size: 1.1rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.fromDatenumbers,.toDatenumbers
{
    font-size: 1.1rem;
    display: flex;
    list-style: none;
    font-family: raleway-semibold;
    flex-wrap: wrap;
}

#submitFilter
{
    width: 20%;
    height: 3rem;
    position: absolute;
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: #1753ED;
    color: white;
    outline: none;
    border-color: transparent;
    border-radius: .6rem;
    cursor: pointer;
    top: 125%;
}
#submitFilter > img{
    width: 2rem;
    height: 2rem;
    /* filter: invert(1); */
}
#closeFormFilter{
    position: absolute;
    right: 3%;
    top: 3%;
    outline: none;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;

}
#closeFormFilter > img{
    width: 3rem;
    /* height: 2rem; */
    filter: invert(1);
}


/* FIltro por ingreso y egreso */
.wrapperSelectIngresoEgreso{
    width: 35%;
}
.wrapperSelectIngresoEgreso > h3{
    font-family: raleway-semibold;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 0.4rem;
    margin-left: 0.2rem;
}
.selectEgreso_Ingreso
{
    display: flex;
    gap: 1rem;
    align-self: flex-end;
}
.selectEgreso_Ingreso > input{
    display: none;
}
.selectEgreso_Ingreso > label{
    font-size: clamp(1.2rem, 1.1vw, 1.4rem);
    padding: 0 0.8rem;
    height: 3rem;
    border-radius: 0.6rem;
    min-width: 7rem;
    width: 40%;
    text-align: center;
    font-family: raleway-semibold;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selectEgreso_Ingreso > label.active{
    background-color: #3D7CD8;
    color: white;
}
.selectTypePayments > input{
    z-index: 6;
}
.selectTypePayments > .options{
    z-index: 5;
}

.selectCobrador > input{
    z-index: 4;
}
.selectCobrador > .options{
    z-index: 3;
}

.selectSucursal > input{
    z-index: 2;
}
.selectSucursal > .options{
    z-index: 1;
}

/* FIlTROS SELECTS */
.selectInputFilter{
    position: relative;
}
.selectInputFilter > h3{
    font-family: raleway-semibold;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 0.4rem;
    margin-left: 0.2rem;
}
.selectInputFilter > input{
    background-color: white;
    font-family: raleway-semibold;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    position: relative;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    text-indent: 1rem;
    border: none;
}
.selectInputFilter > .options{
    list-style: none;
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    padding-top: 1rem;
    font-family: raleway-semibold;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.952);
    height: 0rem;
    /* max-height: 13rem; */
    overflow: hidden;
    position: absolute;
    top: 75%;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    transition: .2s height ease;
    overflow-y: auto;
}
.selectInputFilter > .options.active
{
    height: 13rem ;
}

.selectInputFilter > .options > li{
    cursor: pointer;
    width: 100%;
    padding: 1rem 0;
    padding-left: 0.8rem;

}
.selectInputFilter > .options > li:hover{
    background: #30436127;
}
.selectInputFilter > .options > li.itemPicked{
    background: #30436127;
}



/* MODAL CUOTA */
.main_modalCuota{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    opacity: 0;
    transition: opacity .3s ease;
}
.main_modalCuota.active{
    visibility: visible;
}
.background
{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal{
    width: 50%;
    /* height: 50%; */
    background-color:#fff;
    border-radius: 1rem;
    position: absolute;
    visibility: hidden;
}

.modal > .tittleModal{
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
}
.modal > .tittleModal > h3{
    font-size: clamp(2rem, 1.7vw, 3rem);
    font-family: raleway-semibold;
    color: #3D7CD8;
}
.modal > .tittleModal > button{
    outline: none;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}
.modal > .tittleModal > button > img{
    width: 3rem;
    /* filter: invert(1); */
}

.modal > .modal_information{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap:1rem ;
    row-gap: .8rem;
    padding: 1.5rem 2rem;
    padding-top: 0;
}
.modal > .modal_information > .wrapperData{
    width: 30%;
}


.wrapperData > .backgroundInput{
    height: 3rem;
    background-color: rgba(253,253,253,0.07);
    border: 1.3px solid #3D7CD8;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: 80%;
    padding: 0rem 2rem 0rem 1rem;
}
.wrapperData > h2{
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: 'raleway-semibold';
    margin-bottom: .3rem;
    margin-left: .3rem;
}
.wrapperData > .backgroundInput > h2{
    font-size: clamp(1.2rem, 1.2vw, 1.3rem);
    font-family: 'raleway-semibold';
    color: rgba(0, 0, 0, 0.93);
}

/* TEXTO DE FILTROS */
.wrapperFiltroTexto{
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
.wrapperFiltroTexto > h3{
    color: white;
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: 'raleway-semibold';
}
.wrapperFiltroTexto > ul{
    list-style: none;
    margin-top: 1rem;
}

.wrapperFiltroTexto .fitroItem{
    font-size: clamp(1.2rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    color: rgba(255, 255, 255, 0.756);
    margin-bottom: .7rem;
}

.wrapperFiltroTexto .fitroItem > strong{
    font-size: clamp(1.2rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    color: white;
}




/* PAGINACION DE MOVIMIENTOS */
#pagination_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


#pagination_container > button
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5% 3%;
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: transparent;
    color: white;
    outline: none;
    border-radius: 0.6rem;
    cursor: pointer;
    border: 2px solid #1753ED;
}
#pagination_container > button.blocked{
    background-color: #3f4653d4!important;
    pointer-events: none;
    border: 0px solid transparent;
}

#pagination_container > .cuotasPages{
    color: white;
    font-size: 1.6rem;
    font-family: raleway-semibold;
}


/* MODAL DE NUEVO INGRESO O EGRESO*/
.main_modalNewEgresoIngreso{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    opacity: 0;
    transition: opacity .3s ease;
}
.main_modalNewEgresoIngreso.active{
    visibility: visible;
}
.background__newEgresoIngreso
{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal_newEgresoIngreso{
    width: 50%;
    /* height: 50%; */
    background-color:#fff;
    border-radius: 1rem;
    position: absolute;
    padding-bottom: 1.4rem;
}
.modal_newEgresoIngreso > .tittleModal{
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
}
.modal_newEgresoIngreso > .tittleModal > h3{
    font-size: clamp(2rem, 1.7vw, 3rem);
    font-family: raleway-semibold;
    color: #3D7CD8;
}
.modal_newEgresoIngreso > .tittleModal > button{
    outline: none;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}
.modal_newEgresoIngreso > .tittleModal > button > img{
    width: 3rem;
    /* filter: invert(1); */
}

.modal_newEgresoIngreso > .modal_form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap:1rem ;
    row-gap: .8rem;
    padding: 1.5rem 2rem;
    padding-top: 0;
}
.modal_newEgresoIngreso > .modal_information > .wrapperInput{
    width: 30%;
}
#formNewIngresoEgreso > div.wrapperInput{
    position: relative;
}
#formNewIngresoEgreso > div.wrapperInput > .select{
    position: absolute;
    height: 0;
    overflow-y: auto;
    top: 80%;
    transition: all .4s ease;
    width: 91%;
    z-index: 4;
    background: #203555;
    border-radius: 0.5rem;
    max-height: 13rem;
}
#formNewIngresoEgreso > div.wrapperInput > .select::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Color del pulgar de la barra de desplazamiento (transparente) */
}
  
#formNewIngresoEgreso > div.wrapperInput > .select::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* Color del fondo de la barra de desplazamiento (transparente) */
}
#formNewIngresoEgreso > div.wrapperInput >#tipoComprobanteMov ~ .select {
    z-index: 5;
}
#formNewIngresoEgreso > div.wrapperInput >#tipoIdentificacionMov ~ .select {
    z-index: 4;
}
#formNewIngresoEgreso > div.wrapperInput >#tipoMonedaMov ~ .select {
    z-index: 3;
}
#formNewIngresoEgreso > div.wrapperInput >#metodoPagoMov ~ .select {
    z-index: 2;
}

#formNewIngresoEgreso > div.wrapperInput > .select > li:first-child {
    padding-top: 2rem;
}
#formNewIngresoEgreso > div.wrapperInput > .select > li{
    padding: 1rem;
    font-family: raleway;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
#formNewIngresoEgreso > div.wrapperInput > .select > li.itemPicked{
    background: #304361;
}
#formNewIngresoEgreso > div.wrapperInput > .select > li:hover
{
    background: #304361;
}
.modal_newEgresoIngreso > .modal_form > .wrapperInput > .inputEgresoIngreso{
    height: 3rem;
    position: relative;
    background-color: rgba(253,253,253);
    border: 1.3px solid #3D7CD8;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    outline: none;
    width: 90%;
    padding-right: 0.2rem;
    text-indent: 1.4rem;
}
.modal_newEgresoIngreso > .modal_form > .wrapperInput > #tipoComprobanteMov{
    z-index: 6;
}
.modal_newEgresoIngreso > .modal_form > .wrapperInput > #tipoIdentificacionMov{
    z-index: 5;
}
.modal_newEgresoIngreso > .modal_form > .wrapperInput > #tipoMonedaMov{
    z-index: 4;
}
.modal_newEgresoIngreso > .modal_form > .wrapperInput > #metodoPagoMov{
    z-index: 3;
}
#fechaMov{
    background-color: #3f46535c!important;
    pointer-events: none;
}
.modal_newEgresoIngreso > .modal_form > .wrapperInput > h2{
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: 'raleway-semibold';
    margin-bottom: .3rem;
    margin-left: .3rem;
}
.modal_newEgresoIngreso > #confirmMovimiento{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: #1753ED;
    color: white;
    outline: none;
    border-color: transparent;
    border-radius: 0.6rem;
    cursor: pointer;
    margin-left: 2rem;
}
.wrapperButtonInforme {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    
}

.wrapperButtonInforme > a{
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: #1753ED;
    color: white;
    text-decoration: none;
    width: 10%;
    min-width: fit-content;
    padding: 2% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1753ED;
    border-radius: 0.6rem;
    margin-bottom: .7rem;
}

.wrapperSelectAdelanto_Premio{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
.wrapperSelectAdelanto_Premio > div > input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 3rem; 
    height: 3rem;
    border: 1px solid #1753ED;
    border-radius: .6rem; 
    outline: none;
    cursor: pointer;
}
.wrapperSelectAdelanto_Premio > div{
    display: flex;
    height: 3rem;
    align-items: center;
    gap: .5rem;
    
}
.wrapperSelectAdelanto_Premio > div > input:checked {
    background-color: #1753ED;
    border-color: #1753ED; 
}

.wrapperSelectAdelanto_Premio > div > label{
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: 'raleway-semibold';
    cursor: pointer;
}


