.wrapper_content {
    /* padding: 2rem; */
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titleHeader {
    font-size: clamp(1.6rem, 1.3vw, 2rem);
    font-family: raleway;
    color: var(--white-color-800);
    letter-spacing: .06rem;
    padding: .5rem 0;
}

.wrapperHeader {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
    flex-direction: column;
    padding: 2rem;
    max-height: 80rem;
    flex: 0 0 auto;
    background-color: var(--blue-1);
    border-bottom: 1px solid var(--white-800-20);
}

.wrapperMessage.alert {
    width: 100%;
    padding: 1rem;
    border: 2px solid #FFA000;
    border-radius: .6rem;
    /* background: rgba(255, 255, 255, .1); */
    cursor: pointer;
}

.wrapperMessage.alert h3 {
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    font-family: raleway-semibold;
    color: #FFA000;
}

.wrapperMessage.alert h3>strong {
    font-size: clamp(1.3rem, 1.2vw, 1.7rem);
    text-decoration: underline;
}

.wrapperMessage.alert h3>span {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    opacity: .8;
}

.wrapperMessage.alert:hover {
    background: rgba(255, 255, 255, .1);
}

.wrapperManageLiquidacion {
    /* opacity: .3; */
    box-sizing: border-box;
    padding: 1rem 2rem;
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    transition: height 300ms ease;
}

.wrapperManageLiquidacion.active {
    pointer-events: all;
    opacity: 1;
}

.wrapperHeader>.wrapperInputsSearchs {
    display: flex;
    column-gap: 1.5rem;
    width: 60%;
    max-width: 60rem;
}

.wrapperInputsSearchs>div {
    width: 50%;
}

.wrapperInputsSearchs>div>h3 {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-family: raleway;
    color: var(--white-800-50);
    margin-bottom: .5rem;
    padding-left: .3rem;

}

.wrapperInputsSearchs>div>.containerInputAndOptions>img {
    filter: invert(1);
}

.wrapperButtonsActions.hidden {
    display: none;
}

.wrapperButtonsActions {
    display: flex;
    column-gap: 1rem;
    align-items: flex-end;
}

.wrapperButtonsActions>#previsualizarButton {
    font-size: clamp(1rem, 1vw, 1.5rem);
    height: fit-content;
    font-family: raleway-semibold;
    background-color: transparent;
    color: var(--blue-4);
    outline: none;
    padding: .8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--blue-4);
}

.wrapperButtonsActions>#liquidarButton {
    font-size: clamp(1rem, 1vw, 1.5rem);
    height: fit-content;
    font-family: raleway-semibold;
    background-color: transparent;
    color: var(--white-color-800);
    padding: .8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid var(--third-color); */
    border: none;
    background-color: var(--blue-4);
    border-radius: 0.6rem;
    text-decoration: none;
    cursor: pointer;
}

.colaboradoresWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

.colaboradoresWrapper>h3 {
    font-size: clamp(1.3rem, 1.2vw, 1.8rem);
    font-family: raleway-semibold;
    color: white;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: .5rem 0;
}

/* .colaboradoresWrapper>div {
    margin: 1rem 0;
    display: flex;
} */

.selectTipoColaborador {
    width: 100%;
    flex: 1 1;
}

.selectTipoColaborador>div {
    width: 100%;
    max-width: 35rem;
    min-width: 20rem;
    margin-top: 1rem;
}

.selectTipoColaborador>div>label {
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: .8rem 1.2rem;
    cursor: pointer;
    /* border: 1px solid var(--primary-color); */
    border-radius: .6rem;
    width: 100%;
    display: block;
}

.selectTipoColaborador>div>label:hover {
    color: var(--third-color);
    background-color: var(--primary-color);
}

.selectTipoColaborador>div>input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.selectTipoColaborador>div>input:checked+label {
    color: var(--third-color);
    background-color: var(--primary-color);
}

.colaboradores {
    width: 80%;
    max-height: 85%;
    flex: 1;
    border-radius: .6rem;
    max-width: 100rem;
    display: flex;
    gap: 2rem;
}

.colaboradores>.searchFilter>input {
    width: 50%;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: #304361;
    border: 2px solid var(--third-color);
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    text-indent: 1rem;
    outline: none;
    box-sizing: border-box;
    color: var(--third-color);
}

.listColaboradoresWrapper {
    border-radius: .6rem;
    box-sizing: border-box;
    /* padding: 1rem; */
    background-color: var(--blue-1);
    border: 1px solid var(--white-800-20);
    height: 100%;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

}

.listColaboradoresWrapper>.tittlesWrapper {
    width: 100%;
    background-color: var(--blue-2);
    padding: 1rem 2rem;
}

.listColaboradoresWrapper>.tittlesWrapper>.tittles {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.listColaboradoresWrapper>.tittlesWrapper>.tittles>li {
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);
    font-family: raleway-semibold;
    box-sizing: border-box;
    flex: 1 1 40%;
    color: var(--white-800-50);
}

.listColaboradoresWrapper>.tittlesWrapper>.tittles>li:nth-child(2) {
    width: 20%;
}

/* .listColaboradoresWrapper>.tittlesWrapper>.tittles>li:nth-child(3) {
    width: 20%;
} */
.listColaboradoresWrapper>.valuesWrapper {
    overflow-y: auto;
    height: 100%;
    position: relative;
}

.listColaboradoresWrapper>.valuesWrapper.preValues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listColaboradoresWrapper>.valuesWrapper>h3#textPreValuesColaboradores {
    position: absolute;
    font-size: clamp(1.4rem, 1.4vw, 2rem);
    font-family: raleway;
    color: var(--white-800-80);
}

.listColaboradoresWrapper>.valuesWrapper>h3#textPreValuesColaboradores.hidden {
    display: none;
}

.listColaboradoresWrapper>.valuesWrapper>.values>.ente {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-around;
    font-family: raleway;
    position: relative;
    padding: 1rem 0;
    width: 100%;
    color: rgb(241, 237, 237);
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.6rem;
}

.listColaboradoresWrapper>.valuesWrapper>.values>.ente>div {
    width: 50%;
    text-align: center;
}

.listColaboradoresWrapper>.valuesWrapper>.values>li {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    font-family: raleway-semibold;
    position: relative;
    padding: 1.3rem 2rem;
    width: 100%;
    color: var(--third-color);
    border-bottom: 1px solid var(--white-800-20);
}

.listColaboradoresWrapper>.valuesWrapper>.values>li>div {
    /* width: 40%; */
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    flex: 1 1 40%;
    align-items: center;

}

.listColaboradoresWrapper>.valuesWrapper>.values>li>div>.type_user {
    padding: .5rem 1rem;
    background-color: #304361;
    border-radius: 1rem;
}


.resumen_actions_wrapper {
    width: 100%;
    max-height: 10%;
    padding: 1.8rem 2rem;
    justify-content: space-between;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: var(--blue-1);
    border-radius: .8rem;
    border: 1px solid var(--white-800-20);
}

.resumen_actions_wrapper>div#totalComisionesTextColaboradores_wrapper {
    width: 20%;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.resumen_actions_wrapper>div#totalComisionesTextColaboradores_wrapper>h2 {
    font-size: clamp(1.5rem, 1.2vw, 1.8rem);
    font-family: raleway;
    color: var(--white-color-800);
}

.resumen_actions_wrapper>div#totalComisionesTextColaboradores_wrapper>h3 {
    font-size: clamp(1.5rem, 1.2vw, 1.8rem);
    font-family: raleway-semibold;
    color: var(--blue-4);

}


.administradoresWrapper {
    margin: 1.5rem 0
}

.administradoresWrapper>h3 {
    font-size: clamp(1.3rem, 1.2vw, 1.8rem);
    font-family: raleway-semibold;
    color: white;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: .5rem 0;
}

.administradoresWrapper .colaboradoresWrapper>h4 {
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    font-family: raleway-semibold;
    color: white;
}

.colaboradoresWrapper>div.listAdmins {
    background-color: #fff;
    border-radius: .6rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem 0;
    display: block;
}

.listAdmins>.tittlesWrapper {
    width: 100%;
    height: 8%;
}

.listAdmins>.tittlesWrapper>.tittles {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.listAdmins>.tittlesWrapper>.tittles>li {
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);
    font-family: raleway-semibold;
    padding: 1rem 0;
    width: 30%;
    box-sizing: border-box;
    padding-left: 2rem;
    color: var(--primary-color);
}

.listAdmins>.tittlesWrapper>.tittles>li:nth-child(1) {
    width: 40%;
}

.listAdmins>.valuesWrapper>.values>li {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-around;
    font-family: raleway-semibold;
    position: relative;
    padding: 1rem 0;
    width: 100%;
}

.listAdmins>.valuesWrapper>.values>li>div {
    width: 30%;
    padding-left: 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.listAdmins>.valuesWrapper>.values>li>div:nth-child(1) {
    width: 40%;
    padding-left: 2rem;
    box-sizing: border-box;
}

.listAdmins>.valuesWrapper>.values>li>div>input[type="number"]::-webkit-inner-spin-button,
.listAdmins>.valuesWrapper>.values>li>div>input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.listAdmins>.valuesWrapper>.values>li>div>input {
    width: 60%;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    border: 2px solid var(--third-color);
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    text-indent: 1rem;
    outline: none;
    box-sizing: border-box;
}

.administradoresWrapper>div>.resumenWrapper>div {
    width: 40%;
}

#formNewAjuste>.wrapperTittle {
    margin-bottom: 1.2rem;
}

#formNewAjuste>.wrapperTittle>h3 {
    font-size: clamp(1.7rem, 1.3vw, 2.1rem);
    font-family: 'raleway';
    color: var(--white-color-800);
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

#formNewAjuste>.wrapperTittle>h3>span {
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--blue-4);
    background-color: var(--blue-1);
    padding: .5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
    border: 1px solid var(--white-800-20);
}

#formNewAjuste>.wrapperButtonsSelectTipoAjuste {
    display: flex;
    width: 50%;
    gap: 1rem;
    flex-wrap: wrap;
}

#formNewAjuste>.wrapperButtonsSelectTipoAjuste>div {
    width: 48%;
    min-width: 10rem;
    text-align: center;
    border-radius: .6rem;
}

#formNewAjuste>.wrapperButtonsSelectTipoAjuste>div>label {
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: transparent;
    border: 1px solid var(--blue-4);
    color: var(--blue-4);
    padding: .8rem 1.2rem;
    cursor: pointer;
    border-radius: .6rem;
    width: 100%;
    display: block;
}

#formNewAjuste>.wrapperButtonsSelectTipoAjuste>div>label:hover {
    color: var(--white-color-800);
    background-color: var(--blue-4);
}

#formNewAjuste>.wrapperButtonsSelectTipoAjuste>div>input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

#formNewAjuste>.wrapperButtonsSelectTipoAjuste>div>input:checked+label {
    color: var(--white-color-800);
    background-color: var(--blue-4);
}

/* .selectTipoColaborador>div>input:checked {
    background-color: #fff;
} */
#formNewAjuste>.wrapperInputDinero {
    width: 50%;
    display: flex;
    gap: .3rem;
    flex-direction: column;
    margin-top: 1rem;

}

#formNewAjuste>.wrapperInputDinero>h3 {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-family: raleway;
    color: var(--white-800-50);
    margin-bottom: .5rem;
    padding-left: .3rem;
}

#formNewAjuste>.wrapperInputObservaciones {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    margin-top: 1rem;
}

#formNewAjuste>.wrapperInputObservaciones>h3 {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-family: raleway;
    color: var(--white-800-50);
    margin-bottom: .5rem;
    padding-left: .3rem;
}

/* 
#formNewAjuste>.wrapperInputObservaciones>textarea {
    border: 2px solid var(--secundary-color);
    font: clamp(1.2rem, 1.2vw, 1.4rem) raleway;
    background-color: transparent;
    border-radius: .6rem;
    outline: none;
    padding: 1rem;
    width: 100%;
    height: 100%;
} */

.tingle-btn {
    font-size: clamp(1.2rem, 1.1vw, 1.5rem) !important;
    font-family: raleway-semibold !important;
}

.wrapperComisionColaborador {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.iconInfoMore {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.iconInfoMore>img {
    width: 100%;
    height: 100%;
    /* filter: invert(1); */
}

/* ------------------------------- */

/* #region Modal more info de comision */
.wrapperDetalleLiquidacion {
    padding: 1rem;
}

.subDetalleGroup {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.subDetalleGroup>div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.subDetalleGroup>div>p {
    display: flex;
    flex-direction: column;
    font-size: clamp(1.1rem, 1.1vw, 1.4rem);
    font-family: 'raleway';
    color: var(--white-800-50);
    width: 30%;

}

.subDetalleGroup>div>p>strong {
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    font-family: 'raleway';
    color: var(--white-color-800);
}


.textCenter {
    text-align: center;
    color: #666;
    font-style: italic;
}

.wrapperDetalleLiquidacion>.titleDetalleLiquidacion {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.wrapperDetalleLiquidacion>.titleDetalleLiquidacion>h2 {
    font-size: clamp(1.8rem, 1.4vw, 2.4rem);
    font-family: 'raleway';
    color: var(--white-color-800);
}

.wrapperDetalleLiquidacion>.titleDetalleLiquidacion>p {
    font-size: clamp(1.3rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    color: var(--blue-4);
    background-color: var(--blue-1);
    padding: .5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
    border: 1px solid var(--white-800-20);
}

.wrapperDetalleLiquidacion>.subDetalleGroup {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: column; */
    gap: 1rem;
    margin: 1rem 0;
}

.wrapperDetalleLiquidacion .subDetalleGroup>h3 {
    font-size: clamp(1.4rem, 1.2vw, 1.8rem);
    font-family: raleway-semibold;
    color: var(--blue-3);
    background-color: var(--blue-1);
    padding: .6rem 1rem;
    margin-bottom: .5rem;
    flex: 1 1 100%;
    border-radius: .5rem;
}

.wrapperDetalleLiquidacion>.subDetalleGroup>p {
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    font-family: raleway;
    color: var(--white-color-800);
    padding: 0rem 2rem;
    /* width: 45%; */
    /* flex: 1 1 45%; */
    /* padding: .5rem; */
}

.wrapperDetalleLiquidacion>.resumenTotalComision {
    padding: 1rem 2rem;
    background: var(--blue-1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--blue-2);
}

.wrapperDetalleLiquidacion>.resumenTotalComision>p {
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);
    font-family: raleway-semibold;
    color: var(--blue-4);
    background-color: var(--blue-1);
    padding: .5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
    border: 1px solid var(--white-800-20);
}

.wrapperDetalleLiquidacion>.resumenTotalComision>h3 {
    font-size: clamp(1.3rem, 1.2vw, 1.5rem);
    font-family: raleway;
    color: var(--white-800-80);
}


.listColaboradoresWrapper>.wrapperTittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
}

.listColaboradoresWrapper>.wrapperTittle>h3 {
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);
    font-family: raleway;
    color: var(--white-color-800);
    letter-spacing: .06rem;
}

.searchColaboradores {
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;
    min-width: 25rem;
    max-width: 35rem;
}

.searchColaboradores>img {
    position: absolute;
    filter: invert(1);
    width: 1.5rem;
    left: 1rem;
}

.searchColaboradores>input.input-read-write-default {
    position: absolute;
    font-size: clamp(1.2rem, 1.1vw, 1.4rem);
    font-family: raleway-semibold;
    text-indent: 4rem;
    color: var(--white-800-80);
}

.detalle_by_agencia {
    margin-top: 1rem;
}

.detalle_by_agencia>h3 {
    font-size: clamp(1.4rem, 1.3vw, 1.7rem);
    font-family: raleway;
    color: var(--white-color-800);
    margin-bottom: 1rem;
}

.messageBackground {
    font-size: clamp(1.3rem, 1.2vw, 1.5rem) !important;
    font-family: raleway !important;
    color: var(--white-800-50) !important;
}

.subTotalAgenciaGerente {
    flex: 1 1 100%;
    background-color: var(--blue-2);
    padding: 1rem 1.5rem;
    border-radius: .6rem;
}

#containerMessageSure>h2 {
    font-size: clamp(1.3rem, 1.2vw, 1.5rem);
    font-family: raleway;
    color: var(--white-color-800);
}