.wrapper_content {
    padding: 4rem;
    display: flex;
    flex-flow: column;
    row-gap: 3rem;
    position: relative;
}

body {
    overflow: hidden;
}

.wrapper_tittle>h1 {
    font-size: clamp(3rem, 3vw, 5rem);
    font-family: raleway-bold;
    color: var(--third-color);
}

.wrapperEdicionPorcentaje #editarProcentajeButton {
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-bold;
    color: var(--secundary-color);
    background-color: var(--third-color);
    border-radius: .6rem;
}

.wrapperEdicionPorcentaje>.wrapperFormAutorizacion {
    display: none;
    background-color: var(--third-color);
    padding: 1.3rem;
    border-radius: .6rem;
}

.wrapperEdicionPorcentaje #guardarAutorizado,
.wrapperEdicionPorcentaje #cancelarAutorizado {
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-bold;
    border-radius: .6rem;

}

.wrapperEdicionPorcentaje #inputAutorizacion {
    margin: .5rem 0;
}

.wrapperFormAutorizacion label {
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-bold;
    color: var(--background-color);
}

/* #region Formulario de adjudicacion */
#form_create_sale {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
    position: relative;
}

#form_create_sale>div {
    display: flex;
    flex-direction: column;
    position: relative;
}

#form_create_sale>div>div {
    position: relative;
    display: flex;
    align-items: center;
}

#form_create_sale>div>div>input {
    text-indent: 2.5rem;

}


#form_create_sale input {
    height: 3rem;
    font-family: raleway;
    color: var(--third-color);
    background-color: var(--background-color);

}

p.iconValueInput {
    position: absolute;
    font-family: raleway-bold;
    margin-left: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: var(--third-color);

}

.textInputP {
    padding-left: 2.2rem;
}

/* #region Z INDEX INPUTS */

#form_create_sale #wrapperTipoProducto img.iconDesplegar {
    z-index: 21;
    filter: invert(1);
}

#form_create_sale #wrapperTipoProducto input {
    position: relative;
    z-index: 20;
}

#form_create_sale #wrapperTipoProducto ul.options {
    z-index: 19;
}

#form_create_sale #wrapperProducto img.iconDesplegar {
    z-index: 18;
    filter: invert(1);
}

#form_create_sale #wrapperProducto input {
    position: relative;
    z-index: 17;
}

#form_create_sale #wrapperProducto ul.options {
    z-index: 16;
}

#form_create_sale #wrapperNroSolicitud img.iconDesplegar {
    z-index: 15;
    filter: invert(1);
}

#form_create_sale #wrapperNroSolicitud input {
    position: relative;
    z-index: 14;
}

#form_create_sale #wrapperNroSolicitud ul.options {
    z-index: 13;
}

#form_create_sale #wrapperModalidad img.iconDesplegar {
    z-index: 12;
    filter: invert(1);
}

#form_create_sale #wrapperModalidad input {
    position: relative;
    z-index: 11;
}

#form_create_sale #wrapperModalidad ul.options {
    z-index: 10;
}

#form_create_sale #wrapperAgencia img.iconDesplegar {
    z-index: 9;
    filter: invert(1);
}

#form_create_sale #wrapperAgencia input {
    position: relative;
    z-index: 8;
}

#form_create_sale #wrapperAgencia ul.options {
    z-index: 7;
}

#form_create_sale #wrapperVendedor img.iconDesplegar {
    z-index: 6;
    filter: invert(1);
}

#form_create_sale #wrapperVendedor input {
    position: relative;
    z-index: 5;
}

#form_create_sale #wrapperVendedor ul.options {
    z-index: 4;
}

#form_create_sale #wrapperSupervisor img.iconDesplegar {
    z-index: 3;
    filter: invert(1);
}

#form_create_sale #wrapperSupervisor input {
    position: relative;
    z-index: 2;
}

#form_create_sale #wrapperSupervisor ul.options {
    z-index: 1;
}
/*#endregion*/

#form_create_sale>#wrapperProducto,
#form_create_sale>#wrapperAgencia,
#form_create_sale>#wrapperSupervisor,
#form_create_sale>#wrapperVendedor{
    grid-column: 2 span;
}

#form_create_sale>#wrapperObservaciones {
    grid-column: 1/2 span;
}

#form_create_sale>#wrapperProducto.desactive {
    pointer-events: none;
}

#form_create_sale>div#wrapperCantidadCuotasPagadas>div,
#form_create_sale>div#wrapperSumaCuotasPagadas>div {
    background-color: #3f4653d4 !important;
    pointer-events: none;
    border: 2px solid #1c2d45b8 !important;
    max-height: 3.5rem;
    min-height: 2.8rem;
    border: 2px solid var(--secundary-color);
    font: clamp(1.2rem, 1.2vw, 1.4rem) raleway;
    position: relative;
    border-radius: 1rem;
    width: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
    height: 3rem;
    color: var(--third-color);
    display: flex;
    align-items: center;
}

#form_create_sale>#wrapperProducto.desactive input {
    background-color: #393e4c;
    border-color: #243247;
}

#form_create_sale>#wrapperProducto.desactive img {
    display: none;
}



#form_create_sale>div>textarea {
    padding: 1rem;
    text-indent: unset;
    max-height: none;
    font-family: raleway;
    color: var(--third-color);
}

#form_create_sale>div>label {
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
    font-family: raleway-semibold;
    color: var(--third-color);
    width: fit-content;
    padding-left: 0.7rem;
    padding-bottom: 0.3rem;
}

#form_create_sale input[type="number"]::-webkit-inner-spin-button,
#form_create_sale input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




.not_ed {
    background-color: #3f4653d4 !important;
    pointer-events: none;
    border: 2px solid #1c2d45b8 !important;
}


/* #endregion */

/* INPUTS DESIGN */
.wrapperButtons {
    display: flex;
    align-self: flex-end;
    margin-top: auto;
    gap: 1rem;
}

.wrapperButtons>a,
.wrapperButtons>button {
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
}

#form_create_sale p.message-error {
    position: absolute;
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    color: #ff7b7b;
    padding: 0.3rem .6rem;
    left: 0;
    top: 100%;
    border-radius: 0.6rem;
    white-space: nowrap;
}

button#enviar:disabled {
    opacity: 0.5;
    pointer-events: none;
}