.wrapper_content
{
    padding-left: 5rem;
    overflow-x: hidden;
    position: relative;
}
.wrapper_input{
    display: flex;
    flex-flow: column;
    height: 6rem;
    width: fit-content;
}
.wrapper_tittle{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3rem;

}
.wrapper_tittle > h1 {
    font-size: clamp(3rem, 3vw, 6rem);
    font-family: raleway;
    color: white;
    margin-left: 1rem;
    letter-spacing: .1rem;
}


.wrapper_input > input
{
    height: 3.1rem;
    
    background-color: rgba(253,253,253,0.07);
    border: 3px solid #3D7CD8;
    border-radius: 1rem;
    outline: none;
    text-indent: 1.2rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway;
    color: white;
}
.wrapper_input > label
{
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
    font-family: raleway-semibold;
    color: white;
    width: fit-content;
    padding-left: .7rem;
    padding-bottom: .3rem;
}

/* INPUTS DESIGN */
#form_create_customer{
    display: flex;
    width: 85%;
    /* height: 60%; */
    flex-wrap: wrap;
    align-content:start ;
    column-gap: 4rem;
    row-gap: 2rem;
    margin-top: 5rem;
}
#form_create_customer > .inputWrapper {
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    position: relative;
}
#form_create_customer > .inputWrapper > input{
    height: 3rem;
    width: 100%;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: rgba(253,253,253,0.07);
    border: 2px solid #3D7CD8;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 0rem 2rem 0rem 1rem;
    outline: none;
    color: white;
}
/* #form_create_customer > .inputsWrapper{} */
#form_create_customer > .inputWrapper > label{
    color: white;
    display: block;
    font-size: 1.3rem;
    font-family: raleway-semibold;
    margin-bottom: 0.3rem;
    height: fit-content;
}
#form_create_customer > .inputWrapper > p{
    position: absolute;
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    color: #ff7b7b;
    padding: 0.3rem 1rem;
    top: 100%;
    left: -3%;
    border-radius: 0.6rem;
    white-space: nowrap;
}

/* INPUTS DESIGN */
#id_nro_cliente{
    background-color: #3f4653d4!important;
    pointer-events: none;
    border: 2px solid #1c2d45b8!important;
}

#form_create_customer > #id_nro_clientew, #form_create_customer > #id_fec_nacimientow, #form_create_customer > #id_cod_postalw{
    width: 12%;
}
#form_create_customer > #id_nombrew, #form_create_customer > #id_domicw, #form_create_customer > #id_ocupacionw{
    width: 35%;
}
#form_create_customer > #id_locw, #form_create_customer > #id_provw{
    width: 25%;
}

.wrapperButtons{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
#save_customer{
    padding: 1rem 3rem;
    color: white;
    font-size: 1.6rem;
    font-family: raleway-semibold;
    background-color: #1753ED;
    border-radius: 1rem;
    letter-spacing: .04rem;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}
.wrapperButtons > #cancelar{
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
    background-color: #ed1717;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_create_customer input[type="number"]::-webkit-inner-spin-button,
#form_create_customer input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
