.wrapper_content {
    padding-left: 5rem;
    overflow-x: hidden;
    padding: 5rem;
    display: flex;
    flex-flow: column;
}

.not_ed {
    background-color: #3f4653d4 !important;
    pointer-events: none;
    border: 2px solid #1c2d45b8 !important;
}

.input-select-custom {
    background-color: var(--background-color);
    color: var(--third-color);
}

.containerIcon_Input {
    position: relative;
    display: flex;
    align-items: center;
}

p.iconValueInput {
    position: absolute;
    font-family: raleway-bold;
    margin-left: 1rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: var(--third-color);

}

.wrapper_tittle {
    padding-bottom: 3rem;
}

.wrapper_tittle>h1 {
    font-size: clamp(3rem, 3vw, 5rem);
    font-family: raleway-bold;
    color: var(--third-color);
}

#form_create_sale {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
    position: relative;
    padding: 3rem 0;
}

#form_create_sale>div {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 25rem;
}

#form_create_sale>#wrapperProducto.desactive input {
    background-color: #393e4c;
    border-color: #243247;
}

#form_create_sale>#wrapperProducto.desactive img {
    display: none;
}


#form_create_sale>div>p {
    position: absolute;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    color: #ff7b7b;
    padding: 0.3rem .5rem;
    left: 0;
    top: 100%;
    border-radius: 0.6rem;
}

#form_create_sale>div>input {
    color: var(--third-color);
    height: 3.3rem;
    background-color: #1B1A27;
}

#form_create_sale div.containerIcon_Input>input {
    color: var(--third-color);
    text-indent: 2.2rem;
}

.iconDesplegar {
    filter: invert(1);
}

/* #region Z-INDEX de los inputs selects*/

#form_create_sale>#wrapperTipoProducto .iconDesplegar {
    z-index: 9;
}

#form_create_sale>#wrapperTipoProducto #tipoProductoInput {
    z-index: 8;
}

#form_create_sale>#wrapperTipoProducto .options {
    z-index: 7;
}

#form_create_sale>#wrapperProducto .iconDesplegar {
    z-index: 9;
}

#form_create_sale>#wrapperProducto #productoInput {
    z-index: 8;
}

#form_create_sale>#wrapperProducto .options {
    z-index: 7;
}

#form_create_sale>#wrapperModalidad .iconDesplegar {
    z-index: 9;
}

#form_create_sale>#wrapperModalidad #id_modalidad {
    z-index: 8;
}

#form_create_sale>#wrapperModalidad .options {
    z-index: 7;
}

#form_create_sale>#wrapperVendedor .iconDesplegar {
    z-index: 6;
}

#form_create_sale>#wrapperVendedor #id_vendedor {
    z-index: 5;
}

#form_create_sale>#wrapperVendedor .options {
    z-index: 4;
}

#form_create_sale>#wrapperSupervisor .iconDesplegar {
    z-index: 3;
}

#form_create_sale>#wrapperSupervisor #id_supervisor {
    z-index: 2;
}

#form_create_sale>#wrapperSupervisor .options {
    z-index: 1;
}

/* #endregion */


#form_create_sale>div>textarea.input-read-write-default {
    padding: 1.2rem;
    text-indent: 0;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway;
    color: var(--third-color);
    max-height: unset;
}

#form_create_sale>div>label {
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
    font-family: raleway-semibold;
    color: var(--third-color);
    width: fit-content;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
}

#form_create_sale input[type="number"]::-webkit-inner-spin-button,
#form_create_sale input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* INPUTS DESIGN */

#wrapperButtons {
    display: flex;
    gap: 1rem;
    margin-top: auto;
    align-self: end;
}

#wrapperButtons>#enviar,
#wrapperButtons>#cancelar {
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
}


#form_create_sale>div>.select {
    position: absolute;
    height: 0;
    overflow-y: auto;
    top: 80%;
    transition: all .4s ease;
    width: 100%;
    background: white;
    border-radius: 0.5rem;
    max-height: 13rem;
}


#form_create_sale>div>.select>li {
    padding: 1rem;
    font-family: raleway;
    font-size: 1.4rem;
    color: black;
}

#form_create_sale>div>.select>li:first-child {
    padding-top: 2rem;
}

#form_create_sale>div>.select>li:hover {
    background-color: #3d7bd867;
    cursor: pointer;
}

#form_create_sale>div>.select::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

#form_create_sale>div>.select::-webkit-scrollbar-thumb {
    background: #0b386289;
    border-radius: 1rem;
}


/* DISEÑO DE INPUTS */

#wrapperProducto,
#wrapperVendedor,
#wrapperSupervisor {
    grid-column: span 2;
}

#wrapperObservaciones {
    grid-column: span 2;
    grid-row: span 2;
}

#id_producto.desactive {
    background-color: #3f4653d4 !important;
    pointer-events: none;
    border: 2px solid #1c2d45b8 !important;
}

#id_importe,
#id_tasa_interes,
#id_intereses_generados,
#id_importe_x_cuota,
#id_paquete,
#id_total_a_pagar,
#id_primer_cuota,
#id_anticipo,
#id_nro_orden {
    background-color: #3f4653d4 !important;
    pointer-events: none;
    border: 2px solid #1c2d45b8 !important;
}