* {
    box-sizing: border-box;
}

.wrapper_content {
    padding: 5rem;
}

.wrapper_tittle {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.wrapper_tittle>h1 {
    font-size: clamp(3rem, 3vw, 5rem);
    ;
    font-family: raleway-bold;
    color: white;
}

#form_create_user {
    width: 100%;
}

#form_create_user>div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: .8rem 2rem;
    gap: 1rem;
    max-width: 140rem;
}

#form_create_user>h2 {
    color: var(--third-color);
    font-family: raleway-semibold;
    font-size: clamp(1.5rem, 1.5vw, 3rem);
    width: 100%;
    background-color: var(--fourth-color);
    /* background-color: #1754ed32; */
    padding: .8rem 2rem;
    border-radius: .6rem;
    border-bottom: 2px solid #ffffffa0;
    margin: 1rem 0;
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
    font-family: raleway-semibold;
    font-size: clamp(1.3rem, 1.1vw, 2rem);

}
.inputWrapper > label{
    font-size: clamp(1.3rem, 1.0vw, 1.5rem);
    font-family: raleway-semibold;
    color: var(--third-color);
    padding-left: .6rem;
    padding-bottom: .3rem;

}

.inputWrapper.grow1 {
    flex: 1 2 14rem;
    max-width: 18rem;

}

.inputWrapper.grow2 {
    flex: 2 2 20rem;
    max-width: 23rem;

}

.inputWrapper.grow3 {
    flex: 3 2 25rem;
    max-width: 30rem;
}

#xpLaboralWrapper {
    min-width: 80%;
}

.inputWrapper>input {
    height: 3rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    display: flex;
    align-items: center;
    color: var(--third-color);
    padding: .2rem;
}

.inputWrapper>textarea {
    padding: 1rem;
    color: var(--third-color);
    max-height: unset;
    text-indent: unset;
}

#familiares {
    min-width: 80%;
}

#familiares>.familiar {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#familiares>.familiar>input {
    height: 2.9rem;
    width: 33%;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway;
    background-color: #304361;
    border: 2px solid var(--third-color);
    border-radius: .6rem;
    display: flex;
    align-items: center;
    padding: .6rem;
    text-indent: 1rem;
    outline: none;
    color: white;
}

#agregar_familiar_button {
    padding: .8rem 1.1rem;
    color: white;
    font-size: clamp(1.2rem, 1.1vw, 1.5rem);
    max-width: fit-content;
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    border-radius: .6rem;
    letter-spacing: .04rem;
    outline: none;
    border-color: transparent;
    cursor: pointer;
    /* margin-top: 1rem; */
}

.inputWrapper>input.selectInput {
    position: relative;
    z-index: 2;
}

.inputWrapper>.select {
    position: absolute;
    height: 0;
    max-height: 20rem;
    overflow-y: auto;
    top: 70%;
    /* left: 3px; */
    transition: all .4s ease;
    width: 100%;
    z-index: 1;
    background: white;
    border-radius: 0.5rem;
    /* border: 3px solid var(--third-color); */
}

.inputWrapper>.select>li {
    padding: 1rem;
    font-family: raleway;
    font-size: 1.4rem;
    color: black;
}

.inputWrapper>.select>li:first-child {
    padding-top: 3rem;
}

.inputWrapper>.select>li:hover {
    background-color: #3d7bd867;
    cursor: pointer;
}

.inputWrapper>.select::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

.inputWrapper>input[type=number]::-webkit-outer-spin-button,
.inputWrapper>input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#form_create_user>div.datosLogisticosWrapper {
    display: flex;
}

#form_create_user>div.datosLogisticosWrapper>.inputsObligatorios {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 140rem;
}

#form_create_user>div.datosLogisticosWrapper>.inputsObligatorios.active {
    width: 60%;
}

#form_create_user>div.datosLogisticosWrapper>.inputsObligatorios.supervisorPicked {
    width: 60%;
}

#sucursalInput{
    background-color: var(--background-color);
    color: var(--third-color);
    z-index: 4;
}

#sucursalInput+ul.options{
    z-index: 3;
    background-color: var(--background-color);
}

#rangoInput{
    background-color: var(--background-color);
    color: var(--third-color);
    z-index: 2;
}

#rangoInput+ul.options{
    z-index: 1;
    background-color: var(--background-color);
}

#vendedoresWrapper {
    display: none;
    width: 40%;
    max-width: 30rem;
}

#vendedoresWrapper.active {
    display: unset;
}

#vendedoresWrapper>.textContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.textContainer>h3 {
    color: white;
    font-family: raleway-semibold;
    font-size: clamp(1.3rem, 1.1vw, 2rem);
}

#vendedoresWrapper>.listVendedores {
    height: 20rem;
    background-color: #304361;
    border-radius: .6rem;
    overflow: auto;
}

#itemsVendedores>ul {
    list-style: none;
}

#itemsVendedores>ul>li>input {
    display: none;
}

#itemsVendedores>ul>li>input:checked~label {
    background-color: #1754ed53;

}

#itemsVendedores>ul>li>label {
    color: white;
    display: block;
    width: 100%;
    padding: 1.2rem;
    font-family: raleway-semibold;
    cursor: pointer;
    font-size: clamp(1.3rem, 1.1vw, 2rem);
}

#itemsVendedores>ul>li:hover {
    background-color: #1754ed53;
}

#saveButton {
    padding: 1rem 3rem;
    color: white;
    font-size: 1.6rem;
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    border-radius: 1rem;
    letter-spacing: .04rem;
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

#cancelar {
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
    background-color: #ed1717;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapperButtons {
    display: flex;
    column-gap: 1rem;
    margin: 3rem;
    justify-content: flex-end;
}