.wrapper_content {
    /* padding: 5rem; */
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}
.wrapper{
    overflow: hidden;
}
.wrapper_input {
    display: flex;
    flex-flow: column;
    height: 6rem;
    width: fit-content;
}

.titleHeaderWrapper {
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
    padding: 2rem 3.5rem;
    flex: 0 0 auto;
    background-color: var(--blue-1);
    border-bottom: 1px solid var(--white-800-20);
    align-items: center;
}

.titleHeaderWrapper>h1 {
    font-size: clamp(3rem, 1.6vw, 5rem);
    font-family: raleway-bold;
    color: var(--white-color-800);
    letter-spacing: .06rem;
}

.titleHeaderWrapper img{
    width: 3vw;
    height: 3vw;
    min-width: 3.5rem;
    min-height: 3.5em;
    max-width: 6rem;
    max-height: 6rem;
}


.wrapper_input>input {
    height: 3.1rem;

    background-color: rgba(253, 253, 253, 0.07);
    border: 3px solid var(--third-color);
    border-radius: 1rem;
    outline: none;
    text-indent: 1.2rem;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway;
    color: white;
}

.wrapper_input>label {
    font-size: clamp(1.4rem, 1.3vw, 1.5rem);
    font-family: raleway-semibold;
    color: white;
    width: fit-content;
    padding-left: .7rem;
    padding-bottom: .3rem;
}

/* INPUTS DESIGN */
#form_create_customer {
    display: grid;
    flex: 1 1 auto;
    min-height: 0;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    width: 100%;
    box-sizing: border-box;
    align-content: start;
    column-gap: 4rem;
    row-gap: 4rem;
    padding: 4rem;
    padding-bottom: 0;
    position: relative;
    max-width: 130rem;
}

#form_create_customer>.inputWrapper {
    position: relative;
    min-width: 25rem;
}

#form_create_customer>.inputWrapper>input {
    display: flex;
    align-items: center;
    margin-top: .4rem;
    color: var(--third-color);
}

#form_create_customer>.inputWrapper>label {
    color: var(--third-color);
    box-sizing: border-box;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    height: fit-content;
}

#form_create_customer>.inputWrapper>p {
    position: absolute;
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    color: #ff7b7b;
    padding: 0.3rem .6rem;
    left: 0;
    border-radius: 0.6rem;
    white-space: nowrap;
}

#form_create_customer p.message-error {
    position: relative;
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    color: #ff7b7b;
    padding: 0.3rem .6rem;
    left: 0;
    border-radius: 0.6rem;
    white-space: pre-wrap;
}

/* #region  Grid inputs config */

#form_create_customer>.inputWrapper#wrapperNombre,
#form_create_customer>.inputWrapper#wrapperDomicilio,
#form_create_customer>.inputWrapper#wrapperOcupacion {
    grid-column: span 2;
}

/* #endregion */



.wrapperButtons {
    display: flex;
    column-gap: 1rem;
    align-self: end;
    width: 100%;
    padding: 0rem 4rem;
    padding-bottom: 4rem;
}

.delete-button-default,
.add-button-default {

    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    padding: .3rem;
}

.wrapperButtons>#cancelar {
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
    background-color: #ed1717;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_create_customer input[type="number"]::-webkit-inner-spin-button,
#form_create_customer input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}