.wrapper_content
{
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;
}

/*#region HEADER BUTTONS  */
.wrapperButtonManageVenta{
    width: 100%;
    display: flex;
    height: 7%;
    column-gap: 2rem;
    justify-content: flex-end;
}

/* #region Estilos de boton de baja */
.wrapperButtonManageVenta > .buttonDeBaja > #baja{
    box-sizing: border-box;
    padding: 1rem 2.3rem;
    font-family: raleway-semibold;
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    background-color: #ed1717;
    color: white;
    border: none;
    border-radius: .6rem;
    outline: none;
    cursor: pointer;
}
/* #endregion */

/*#region Estilos de boton adjudicacion */

.wrapperButtonManageVenta > .selectAdjudicacion{
    position: relative;
}
.wrapperButtonManageVenta > .selectAdjudicacion > .selectedOption
{
    box-sizing: border-box;
    padding: 1rem 2.3rem;
    background-color: var(--primary-color);
    gap: 1rem;
    width: 100%;
    border-radius: .6rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapperButtonManageVenta > .selectAdjudicacion > .selectedOption > h2{
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--third-color);

}
.wrapperButtonManageVenta >  .selectAdjudicacion > .options
{
    list-style: none;
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    max-height: 0rem;    
    overflow: hidden;  
    position:absolute;
    top: 75%;
    z-index: 1;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
.wrapperButtonManageVenta > .selectAdjudicacion > .options.active{
    max-height: none;
}
.wrapperButtonManageVenta > .selectAdjudicacion > .options > a
{
    margin-left: .8rem;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 1rem 0;
}
.wrapperButtonManageVenta > .selectAdjudicacion > .options> a:first-child
{
    margin-top: 1rem;
}
.wrapperButtonManageVenta > .selectAdjudicacion > .options > a:hover
{
    color: var(--third-color);
}
/* #endregion */

/* #region Estilos de demas botones */
.wrapperButtonManageVenta > .buttonChangePack, .wrapperButtonManageVenta > .buttonChangeTitularidad{
    padding: .8rem 2.3rem;
    box-sizing: border-box;
} 
.buttonChangePack > a, .buttonChangeTitularidad > a{
    text-decoration: none;
    color: var(--third-color);
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
}
.buttonChangePack:hover, .buttonChangeTitularidad:hover{
    background-color: rgba(23, 84, 237, 0.07);
}

/* #endregion */
/* #endregion */

/* WRAPPER INFORMATION */
.wrapper_information
{
    width: 65%;
    padding-left: 6rem ;
}
.information
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 5rem;
}
.wrapper_information > h1{
    color: white;
    font-size:clamp(3rem, 3vw, 5rem);
    font-family: raleway-bold;
    margin: 2.3rem 2rem;
    margin-bottom: .8rem;
    margin-left: 0;
}

.inputs > h2
{
    color: white;
    font-size: 1.3rem;
    font-family: raleway-semibold;
    margin-bottom: .3rem;
}


/* INPUTS */
#n_solicitud,#n_orden
{
    flex-basis:23%;
}


#supervisor,#vendedor,#producto,#paquete{
    flex-basis: 48%;
}



#anticipo,#fec_inscripcion,#primer_cuota,#total_pagar,#montoXCuota,#modalidad
{
    flex-basis: 23%;
}


.inputs > div{
    height: 3rem;
    background-color: rgba(253,253,253,0.07);
    border: 2px solid var(--third-color);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 0rem 2rem 0rem 1rem;
    /* min-width: clamp(15rem, 9vw, 19rem);   */
}


.inputs > div > h3{
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: 'raleway-semibold';
    color: white;
}



.wrapper_cuotas
{
    width: 35%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.wrapper_cuotas.adjudicado{
    justify-content: center;
}
.wrapper_cuotas.enBaja{
    justify-content: center;
}
.wrapper_cuotas.enBaja >.cuotas{
    height: 70%;
    width: 80%;
    background-color: rgb(247 245 241 / 93%);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.wrapper_cuotas.enBaja >.cuotas > h1{
    font-size: clamp(1.8rem, 1.6vw, 2.5rem);
    font-family: raleway-bold;
    text-align: center;
    color: var(--third-color);

}
.wrapper_cuotas.enBaja >.cuotas > h2{
    font-size: clamp(1.4rem, 1.3vw, 2.2rem);
    font-family: raleway-bold;
    text-align: center;
    width: 90%;
    margin-top: .5rem;
}

.checkAdj{
    color: white;
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: raleway-bold;
    /* margin: 2.3rem 2rem; */
    margin-left: 0;
}
#cuotasForm
{
    background-color: white;
    width: 80%;
    border-radius: 1rem;
    height: 45rem;
    position: relative;
}




.tipo_pago
{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: white;
}
.tipo_pago.active
{
    z-index: 2;
    border-radius: 1rem;
}
.containerDetalleCuota
{
    position: relative;
    text-align: center;
    padding: 1.3rem 0;
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
    font-family: raleway;
}

#closeTipoPago{
    position: absolute;
    top: .5rem;
    right: .9rem;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    height: fit-content;
    cursor: pointer;

}
#closeTipoPago:hover{
    transform: scale(0.95);
}
#descuentoCuota{
    position: absolute;
    top: .5rem;
    left: .9rem;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    height: fit-content;
    cursor: pointer;
    display: none;

}
#descuentoCuota:hover{
    transform: scale(0.95);
}

.descuentoCuota
{
    position: fixed;
    /* right: 105%; */
    top: 0;
    padding: 1rem;
    width: 80%;
    background: white;
    border-radius: 0.6rem;
    display: none;
}
.descuentoCuota.active
{
    display: unset;
}
.wrapperDescuentoCuota
{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.descuentoCuota > h3
{
    text-align: start;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    margin-bottom: .4rem;
    margin-left: .1rem;
    font-family: raleway-semibold;

}
.wrapperDescuentoCuota > input
{
    background-color: white;
    width: 70%;
    height: 1.5rem;
    padding: 0.6rem;
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    border: 2px solid #3d7bd8d5;
    border-radius: 0.6rem;
    outline: none;
}

.wrapperDescuentoCuota > input[type="number"]::-webkit-inner-spin-button,
.wrapperDescuentoCuota > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapperDescuentoCuota > button
{
    width: 40%;
    height: 3rem;
    color: white;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border-color: transparent;
    letter-spacing: .04rem;
    cursor: pointer;
}



.cuotaPicked{
    font-size: clamp(1.2rem, 1.8vw, 3rem);
    font-family: raleway-bold;
    color: var(--third-color);
    margin-top:2rem;
    margin-bottom: .4rem;
}

.typesPayments{
    display: flex;
    min-height: 4rem;
    border: 2px solid var(--third-color);
    border-radius: .3rem;

}
.typesPayments > label
{
    width: 50%;
    font-size: clamp(1.2rem, 1.1vw, 2rem);
    font-family: raleway-semibold;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.typesPayments > label.active
{
    background-color: var(--third-color);
    color: white;
}

.typesPayments > input
{
    display: none;
}

.methodPayments{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.methodPayments > ul{
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.methodPayments > ul > li{
    padding: 0.8rem;
    font-size: clamp(1.2rem, 1.1vw, 1.4rem);
    font-family: raleway-semibold;
    border: 2px solid #3d7bd8d5;
    border-radius: 0.6rem;
}
.methodPayments > ul > li.picked{
    animation: escalar 0.1s linear; 
    background-color: #3d7bd860;

}

.methodPayments > ul > li:hover{
    background-color: #3d7bd860;
    cursor: pointer;
}
.selectCobradorWrapper
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
.selectCobradorWrapper >h4{
    font-size: clamp(1.2rem, 1.1vw, 1.4rem);
    font-family: raleway-semibold;
    margin-bottom: .2rem;
}
.cobradorSelectedWrapper
{
    background-color: white;
    width: 70%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: .6rem;
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    border: 2px solid #3d7bd8d5;
    border-radius: 0.6rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.cobradoresList
{
    width: 75%;
    padding-top: .6rem;
    margin: 0 auto;
    list-style: none;
    background-color: white;
    border-radius: 0.6rem;
    position: absolute;
    top: 80%;
    height: 0rem;
    overflow: auto;
    /* transition: .3s height ease; */
    z-index: 1;
}
.cobradoresList::-webkit-scrollbar{
    width: 4px;
    border-radius: 5px;
}
.cobradoresList::-webkit-scrollbar-thumb{
  background: #585858;
  border-radius: 1rem;
}

.cobradoresList.active
{
    border: 2px solid #3d7bd8d5;
    height: 9rem;
}

.cobradoresList > li
{
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    padding: .7rem .6rem;
    cursor: pointer;
}
.cobradoresList > li:hover
{
    background-color: #3043615d;
}
.selectMotivoWrapper{
    width: 100%;
    position: relative;
    margin: 1rem 0;
}
.selectMotivoWrapper > h4{
    font-family: raleway-semibold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.motivoSelectedWrapper{
    background-color: white;
    width: 90%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    font-size: clamp(.9rem, 1vw, 1.1em);
    font-family: raleway-semibold;
    border: 1px solid #3d7bd8d5;
    border-radius: 0.6rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.motivosList{
    width: 90%;
    /* padding: 1rem; */
    padding: 0.6rem;
    margin: 0 auto;
    list-style: none;
    background-color: white;
    border-radius: 0.6rem;
    position: absolute;
    top: 70%;
    height: 0rem;
    overflow: auto;
    /* transition: .3s height ease; */
    z-index: 1;
}
.motivosList > li:first-child{
    padding-top: 1.5rem;

}
.motivosList > li{
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    padding:  .5rem 0;
    cursor: pointer;
}
.motivosList > li:hover{
    color:var(--third-color);

}


.motivosList.active{
    border: 1px solid #3d7bd8d5;
    height: 9rem;
}

.pickedAmount
{
    width: 100%;
    margin-bottom: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.pickedAmount.active
{
    display: flex;
}

.pickedAmount > h4{
    font-size: clamp(1.2rem, 1.1vw, 1.4rem);
    font-family: raleway-semibold;
    margin-bottom: 0.2rem;
}

.pickedAmount > input
{
    background-color: white;
    width: 70%;
    height: 1.5rem;
    padding: 0.6rem;
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    border: 2px solid #3d7bd8d5;
    border-radius: 0.6rem;
    outline: none;
}


.buttonSubmitWrapper
{
    width: 100%;
    display: flex;
    justify-content: center;    
    margin-top: 2rem;
}

#sendPayment.blocked
{
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.445);
}

#amountParcial.invalido{
    border: 2px solid rgba(255, 0, 0, 0.616);
}
.errorMessageSendBaja{
    font-family: raleway-semibold;
    font-size: 1.3rem;
    color: #ed1717;
    margin-top: .5rem;
}

#dineroRestante
{
    font-size: clamp(1.2rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    color: rgba(255, 0, 0, 0.726);
    margin-top: 0.2rem;
}
#sendPayment
{
    width: 50%;
    height: 3rem;
    color: white;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    border-radius: .5rem;
    border-color: transparent;
    letter-spacing: .04rem;
    cursor:pointer;
}
#sendPayment:hover{
    transition: .1s all ease;
    transform: scale(1.02);
}

.cuotas_list{
    list-style: none;
    max-height: 100%;
    overflow-y: auto;
}
.cuotas_list::-webkit-scrollbar{
    width: 4px;
    border-radius: 5px;
}
.cuotas_list::-webkit-scrollbar-thumb{
    background: #0b386289;
    border-radius: 1rem;
}
.cuota{
    display: flex;
    width: 100%;
    height: 4rem;
    padding: .3rem 0;
    align-items: center;
    border-bottom: 1px solid var(--third-color);
    position: relative;
    
}

.cuota:hover{
    background-color: rgba(0, 0, 0, 0.137);
    cursor: pointer;
}
.cuota.pagoBloqueado:hover{
    cursor:default;
    pointer-events: none;
}
.cuota.pagoBloqueado > label
{
    cursor: default;
    pointer-events: none;
}

.marca{
    width: 12%;
    height: 80%;
    background-color: rgb(248, 244, 10);
    border-radius: .5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marca > img{
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}
.marca.pago{
    background-color: rgb(7, 240, 7);
    
}
.marca.atrasado{
    background-color: rgb(240, 7, 7);
}
.marca.pagoParcial{
    background-color: rgb(240, 139, 7);
}
.marca.pagoBloqueado{
    background-color: transparent;

}
.marca.pagoBloqueado > img{
    display: unset;
}
.cuota.pagoBloqueado{
    background-color: rgb(54 53 51 / 18%);
    
}

.textAtrasado
{
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    font-family: raleway-bold;
    color: rgb(240, 7, 7);
    margin-left: 1.3rem;
}

.cuota > input{
   display:none;
}
.cuotas{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 38rem;
}
.cuotas > h3 
{
    color: white;
    font-size: 2rem;
    font-family: raleway-bold;
    margin-bottom: 1rem;
}
.cuota > label{
    color:black;
    font-size: 1.5rem;
    font-family: raleway-semibold;
    padding-left: 2rem;
    cursor: pointer;
}

.cuotaSuccess
{
    position: absolute;
    bottom: 2rem;
    display: flex;
    left: 100%;
    background-color: #fff;
    padding: .8rem 1.5rem;
    align-items: center;
    border-radius: 1rem;
    min-width: fit-content;
    transition: 1s all ease;

}
.cuotaSuccess.active{
    left: -20%;
}
.cuotaSuccess > img{
    width: 3rem;
    margin-right: 1.5rem;
}
.cuotaPagada
{
    font-size: clamp(1.2rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
    white-space: nowrap
}
.cuotaPagada > strong{
    color: var(--primary-color);
}


/* Boton de status */
.buttonStatusVentas{
    margin: 2.3rem 2rem;
    display: flex;
    gap: 1rem;
    width: 80%;
    height: 3.6rem;
    justify-content: space-between;
    position: relative;
}
/* .selectAdjudicacion{
    width: 55%;
} */

.buttonChangePack{
    border: 2px solid var(--primary-color);
    /* width: 45%; */
    height: 90%;
    border-radius: 0.6rem;
    /* position: absolute; */
    z-index: 2;
    right: 105%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.buttonChangeTitularidad{
    border: 2px solid var(--primary-color);
    /* width: 55%; */
    height: 90%;
    border-radius: 0.6rem;
    /* position: absolute; */
    z-index: 2;
    right: 157%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .buttonDeBaja{
    width: 40%;
    height: 100%;
    position: relative;
} */
.buttonDeBaja > .formConfirmWrapper.block::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000083;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
.buttonDeBaja > .formConfirmWrapper{
    position: absolute;
    background-color: #fff;
    z-index: 6;
    width: 23rem;
    padding: .8rem 2rem;
    right: 110%;
    top: -10%;
    border-radius: .5rem;
    display: none;
    height: auto;
}
.buttonDeBaja > .formClave{
    position: absolute;
    background-color: #fff;
    z-index: 6;
    width: 18rem;
    padding: .8rem 2rem;
    padding-right: .5rem;
    right: 350%;
    top: -10%;
    border-radius: .5rem;
    display: none;
}
.buttonDeBaja > .formConfirmWrapper.active{
    display: block;
}
.buttonDeBaja > .formClave.active{
    display: block;
}
.buttonDeBaja > .formConfirmWrapper > form > .inputPorcentajeWrapper{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.buttonDeBaja > .formConfirmWrapper > form > .inputPorcentajeWrapper > .input{
    width: 100%;
}
.inputPorcentajeWrapper > .input  p{
    font-family: raleway-semibold;
    font-size: 1.4rem;
}
 .input > #inputPorcentaje{
    margin-top: 0.3rem;
    display: flex;
    width: 80%;
    gap: 2rem;
    align-items: center;
}
.input > #inputPorcentaje > div{
    position: relative;
    width: 25%;
}
.input > #inputPorcentaje > div> p{
    position: absolute;
    top: 16%;
    right: 0;
}
.input > #inputPorcentaje > div.editPorcentajeWrapper{
    width: 50%;
}
.input > #inputPorcentaje > div.editPorcentajeWrapper > button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(1.2rem, 1vw, 1.4rem);
    font-family: 'raleway-semibold';
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid var(--third-color);
    outline: none;
    padding: 0.2rem 1rem;
    cursor: pointer;
}
.input > #inputPorcentaje > div.editPorcentajeWrapper > button > img{
    width: 1.8rem;
}
.input > #inputPorcentaje >div>input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.input > #inputPorcentaje > div>input{
    font-family: raleway-semibold;
    font-size: 1.3rem;
    border: var(--primary-color) .8px solid;
    border-radius: .3rem;
    padding: .2rem;
    width: 100%;
    outline: none;
    height: 1.7rem;
    background-color: rgb(54 53 51 / 18%);
    cursor: default;
}

#formBaja > .motivoBaja > textarea{
    width: 90%;
    resize: none;
    outline: none;
    padding: 0.3rem .7rem;
    border-radius: 0.5rem;
    border: 1px solid var(--third-color);
    font-family: raleway-semibold;
    font-size: 1.2rem;
    margin-bottom: .8rem;
}
#formBaja > .motivoBaja > h3
{
    font-family: raleway-semibold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}


.buttonDeBaja > .formConfirmWrapper > form > .confirmWrapper{
    height: 100%;
}
.buttonDeBaja > .formConfirmWrapper > form > .confirmWrapper > h3{
    font-family: raleway-semibold;
    font-size: 1.3rem;
    margin-bottom: .6rem;
}
.buttonDeBaja > .formConfirmWrapper > form > .confirmWrapper > #yesConfirm{
    font-family: raleway-semibold;
    font-size: 1.4rem;
    background-color: transparent;
    /* border-color: transparent; */
    border: #00000083 .7px solid;
    border-radius: .3rem;
    width: 30%;
    height: 2rem;
    cursor: pointer;
}
.buttonDeBaja > .formConfirmWrapper > form > .confirmWrapper > #noConfirm{
    font-family: raleway-semibold;
    font-size: 1.4rem;
    color: white;
    background-color: #ed1717;
    border-color: transparent;
    /* border: #000000ab .5px solid; */
    border-radius: .3rem;
    width: 30%;
    height: 2rem;
    cursor: pointer;
}

.inputClaveWrapper > p{
    font-family: raleway-semibold;
    font-size: 1.4rem;
}
.inputClaveWrapper > #inputClave{
    width:85%;
    margin: .5rem 0;

}
.inputClaveWrapper > #inputClave > p{
    font-family: raleway-semibold;
    font-size: 1.3rem;
    color: #ed1717;
}

.inputClaveWrapper > #inputClave > input{
    font-family: raleway-semibold;
    font-size: 1.3rem;
    border: var(--primary-color) 0.8px solid;
    border-radius: 0.3rem;
    padding: 0.2rem;
    width: 100%;
    outline: none;
    height: 1.7rem;
}

.inputClaveWrapper > #inputClave>input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
.confirmClaveWrapper >#confirm{
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    width: 40%;
    color: white;
    border-radius: 0.6rem;
    cursor: pointer;
    border-color: transparent;
    padding: .4rem .8rem;
    min-width: 8rem;
}
.confirmClaveWrapper >#notConfirm{
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    background-color: #ed1717;
    width: 40%;
    color: white;
    border-radius: 0.6rem;
    cursor: pointer;
    border-color: transparent;
    padding: .4rem .8rem;
    min-width: 8rem;
}

.wrapperSelectAdjudicacion
{
    position: relative;
    height: 100%;
}
.wrapperSelectAdjudicacion > h3{
    font-family: raleway-semibold;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 0.4rem;
    margin-left: 0.2rem;
}




.selectedOption >img{
   width: 2rem;
   filter: invert(1);
}


.changeTitularidadWrapper{
    width: 100%;
    border-top: 1px #ffffff85 solid;
    margin-top: 1rem;
    height: 20rem;
    overflow: auto;
}

.changeTitularidadWrapper::-webkit-scrollbar{
    width: 4px;
    border-radius: 5px;
}
.changeTitularidadWrapper::-webkit-scrollbar-thumb{
  background: #585858;
  border-radius: 1rem;
}
.changeTitularidadWrapper > h2{
    font-size: clamp(1.6rem, 1.5vw, 2.1rem);
    font-family: raleway-semibold;
    color: white;
    margin-left: .4rem;
    margin-bottom: .9rem;
    margin-top: 1.5rem;
}
.changeItem{
    background-color: rgb(41 40 40 / 91%);
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 1rem;
    border-radius: .8rem;
    min-height: fit-content;
    margin-bottom: 1rem;
}
.changeItem > .names >img{
    width: 3rem;
    transform: rotate(180deg);
}

.changeItem > .names > a{
    color: white;
    text-decoration: none;
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    width: fit-content;
}
.changeItem > .names > a:hover{
    transition: .1s all ease;
    transform: scale(0.98);
}

.changeItem > .names > a:last-child{
    color: rgba(255, 255, 255, 0.464);
}

.changeItem > .names{
    width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




.changeItem > .changeItemInformation{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.changeItem > .changeItemInformation > h3{
    color: var(--third-color);

    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    margin-bottom: .4rem;
}
.changeItem > .changeItemInformation > h3 > strong{
    color: white;

    margin-left: .5rem;
}
#verPDFTitularidad{
    position: absolute;
    right: 2rem;
    top: .2rem;
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    color: white;
    padding-bottom: .1rem;
    text-decoration:none;
    border-bottom: 1px solid white;
}
#verPDFTitularidad:hover{
    color:var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    
}




/* ANIMATIONS */
@keyframes escalar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.94);
    }
    100% {
      transform: scale(1);
    }
  }