.wrapper_content {
    overflow: hidden;
    box-sizing: border-box;
    padding: 3vh;
}



/*#region HEADER BUTTONS  */
.wrapperButtonManageVenta {
    width: 100%;
    display: flex;
    height: 7%;
    column-gap: 2rem;
    justify-content: flex-end;
}

.wrapperButtonManageVenta>div {
    height: fit-content;
}

/* #region Estilos de boton de baja */
.wrapperButtonManageVenta>.buttonDeBaja>#baja {
    box-sizing: border-box;
    padding: 1rem 2.3rem;
    font-family: raleway-semibold;
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    background-color: #ed1717;
    color: white;
    border: none;
    border-radius: .6rem;
    outline: none;
    cursor: pointer;
}

/* #endregion */

/*#region Estilos de boton adjudicacion */

.wrapperButtonManageVenta>.selectAdjudicacion {
    position: relative;
}

.wrapperButtonManageVenta>.selectAdjudicacion>.selectedOption {
    box-sizing: border-box;
    padding: 1rem 2.3rem;
    background-color: var(--primary-color);
    gap: 1rem;
    width: 100%;
    border-radius: .6rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapperButtonManageVenta>.selectAdjudicacion>.selectedOption>h2 {
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--third-color);

}

.wrapperButtonManageVenta>.selectAdjudicacion>.options {
    list-style: none;
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    max-height: 0rem;
    overflow: hidden;
    position: absolute;
    top: 75%;
    z-index: 1;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.wrapperButtonManageVenta>.selectAdjudicacion>.options.active {
    max-height: none;
}

.wrapperButtonManageVenta>.selectAdjudicacion>.options>a {
    margin-left: .8rem;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 1rem 0;
}

.wrapperButtonManageVenta>.selectAdjudicacion>.options>a:first-child {
    margin-top: 1rem;
}

.wrapperButtonManageVenta>.selectAdjudicacion>.options>a:hover {
    color: var(--third-color);
}

/* #endregion */

/* #region Estilos de demas botones */
.wrapperButtonManageVenta>.buttonChangePack,
.wrapperButtonManageVenta>.buttonChangeTitularidad {
    padding: .8rem 2.3rem;
    box-sizing: border-box;

}

.buttonChangePack>a,
.buttonChangeTitularidad>a {
    text-decoration: none;
    color: var(--third-color);
    font-size: clamp(1.4rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
}

.buttonChangePack:hover,
.buttonChangeTitularidad:hover {
    background-color: rgba(23, 84, 237, 0.07);
}

/* #endregion */

/* #endregion */


.wrapperBase {
    display: flex;
    flex-wrap: wrap;
    height: 93%;
    box-sizing: border-box;
    margin-top: 4rem;
}

/*#region  WRAPPER INFORMATION */
.wrapper_information {
    width: 70%;
    box-sizing: border-box;
}

.information {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.4rem;
    box-sizing: border-box;

}

.wrapper_information>h1 {
    color: white;
    font-size: clamp(3rem, 3vw, 5rem);
    font-family: raleway-bold;
    margin-bottom: 1rem;
    box-sizing: border-box;

}

.inputs>h2 {
    color: var(--third-color);
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    font-family: raleway-semibold;
    margin-bottom: .3rem;
    box-sizing: border-box;
}


/* INPUTS */
#n_solicitud,
#n_orden {
    flex-basis: 23%;
}


#supervisor,
#vendedor,
#producto,
#paquete {
    flex-basis: 48%;
}



#anticipo,
#fec_inscripcion,
#primer_cuota,
#total_pagar,
#montoXCuota,
#modalidad {
    flex-basis: 23%;
}


.inputs>div {
    box-sizing: border-box;
    padding: .8rem 1.5rem;
    background-color: rgba(253, 253, 253, 0.07);
    border: 2px solid var(--third-color);
    border-radius: 1rem;
    display: flex;
    align-items: center;
}


.inputs>div>h3 {
    font-size: clamp(1.2rem, 1.2vw, 1.8rem);
    font-family: 'raleway-semibold';
    color: white;
}

/* #endregion */


/* #region WRAPPER CUOTAS */
.wrapper_cuotas {
    width: 30%;
    height: 90%;
    min-height: 35rem;
    max-height: 65rem;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.wrapper_cuotas>.wrapperTittleCuotas {
    margin-bottom: .6rem
}

.wrapper_cuotas>.wrapperTittleCuotas>h3 {
    font-size: clamp(2rem, 1.8vw, 3rem);
    font-family: raleway-bold;
    color: var(--third-color);
}

.wrapper_cuotas.adjudicado,
.wrapper_cuotas.enBaja {
    justify-content: center;
}

.wrapperDetalleEstadoVenta {
    box-sizing: border-box;
    width: 100%;
    height: 95%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wrapperCuotasList {
    color: var(--third-color);
    position: relative;
    background-color: var(--third-color);
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.wrapperCuotasList::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

.wrapperCuotasList::-webkit-scrollbar-thumb {
    background: #000000c0;
    border-radius: 1rem;
}

.wrapperCuotasList>.cuotas_list {
    list-style: none;
    padding: .8rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.wrapperCuotasList>.cuotas_list>.cuota {
    display: flex;
    column-gap: 2rem;
    box-sizing: border-box;
    width: 100%;
    padding: .6rem 0;
    align-items: center;
    border-radius: .8rem;
    position: relative;
}




.wrapperCuotasList>.cuotas_list>.cuota.Bloqueado {
    background-color: rgb(54 53 51 / 18%);

}

.wrapperCuotasList>.cuotas_list>.cuota>input {
    display: none;
}

.wrapperCuotasList>.cuotas_list>.cuota>h4 {
    color: var(--background-color);
    font-size: clamp(1.4rem, 1.2vw, 1.8rem);
    font-family: raleway-semibold;
    cursor: pointer;
}

.wrapperCuotasList>.cuotas_list>.cuota>.marca {
    width: 9%;
    /* Esto hace que sea un cuadrado  */
    aspect-ratio: 1 / 1;
    border-radius: .5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;

}

.wrapperCuotasList>.cuotas_list>.cuota>.marca.Pendiente {
    background-color: rgb(248, 244, 10);

}

.wrapperCuotasList>.cuotas_list>.cuota.Pagado {
    cursor: default;
    pointer-events: none;
}

.wrapperCuotasList>.cuotas_list>.cuota>.marca.Pagado {
    background-color: rgb(7, 240, 7);
}

.wrapperCuotasList>.cuotas_list>.cuota>.marca.Atrasado {
    background-color: rgb(240, 7, 7);
}

.wrapperCuotasList>.cuotas_list>.cuota>.marca.Parcial {
    background-color: rgb(240, 139, 7);
}

.wrapperCuotasList>.cuotas_list>.cuota>.marca.Bloqueado {
    background-color: transparent;
    background-size: contain;
}

.wrapperCuotasList>.cuotas_list>.cuota:hover {
    background-color: rgba(0, 0, 0, 0.137);
    cursor: pointer;
}

.wrapperCuotasList>.cuotas_list>.cuota.Bloqueado {
    cursor: default;
    pointer-events: none;
}


.wrapperCuotasList>.cuotas_list>.cuota.pagoBloqueado>h4 {
    cursor: default;
    pointer-events: none;
}

/* #endregion */

/* #region FORM PAY CUOTA */

#payCuotaForm {
    padding: 1.5rem;
    box-sizing: border-box;
    position: absolute;
    overflow-y: auto;
    right: -100%;
    top: 0;
    background-color: var(--third-color);
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
}

#payCuotaForm::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

#payCuotaForm::-webkit-scrollbar-thumb {
    background: #000000c0;
    border-radius: 1rem;
}

#payCuotaForm.active {
    right: 0%;
}

.descuentoWrapperBackground {
    position: absolute;
    width: 100%;
    z-index: 20;
    border-bottom: 2px solid var(--secundary-color);
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000058;
}

.descuentoWrapperBackground>div {
    padding: 2rem;
    box-sizing: border-box;
    border-bottom: 2px solid var(--secundary-color);
    background-color: var(--third-color);
}

.descuentoWrapperBackground>div>h3 {
    font-size: clamp(1.2rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--background-color);
    margin-bottom: .4rem;
}

.descuentoWrapperBackground>div>#descuentoCuotaForm>.buttonsActionsDescuentoWrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.descuentoWrapperBackground>div>#descuentoCuotaForm>#dineroDescuento {
    width: 80%;

}

.descuentoWrapperBackground>div>#descuentoCuotaForm>#dineroDescuento::-webkit-inner-spin-button,
.descuentoWrapperBackground>div>#descuentoCuotaForm>#dineroDescuento::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#descuentoCuotaForm>.buttonsActionsDescuentoWrapper>#closeFormDescuento {
    color: var(--background-color);
    font-size: clamp(1.1rem, 1vw, 1.5rem);
    padding: .8rem 1.5rem;

}

#descuentoCuotaForm>.buttonsActionsDescuentoWrapper>#submitDescuento {
    font-size: clamp(1.1rem, 1vw, 1.5rem);
    padding: .8rem 1.5rem;
}

.buttonsActions {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonsActions>button {
    background-color: transparent;
    outline: none;
    border: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.buttonsActions>button>img {
    width: 100%;
}

#payCuotaForm>.cuotaPicked {
    font-size: clamp(2.2rem, 1.9vw, 3rem);
    font-family: raleway-bold;
    color: var(--secundary-color);
    margin-top: 2rem;
    margin-bottom: .4rem;
    text-align: center;
}

#payCuotaForm>.typesPayments>h3 {
    font-size: clamp(1.4rem, 1.4vw, 2rem);
    font-family: raleway-semibold;
    color: var(--background-color);
    text-align: center;
}

#payCuotaForm>.typesPayments>.wrapperChoices {
    display: flex;
    column-gap: 1rem;
    margin-top: .5rem;
    justify-content: center;
}

#payCuotaForm>.typesPayments>.wrapperChoices>.choice {
    width: 50%;
    box-sizing: border-box;
    padding: .6rem 0rem;
    border-radius: .6rem;
    border: 1px solid var(--secundary-color);
    font-size: clamp(1.3rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
    text-align: center;
    cursor: pointer;
}

#payCuotaForm>.typesPayments>.wrapperChoices>.choice h3 {
    font-size: clamp(1.3rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--background-color);
    cursor: pointer;
}

#payCuotaForm>.typesPayments>.wrapperChoices>.choice:hover {
    cursor: pointer;
}


#payCuotaForm>.typesPayments>.wrapperChoices>.choice:hover {
    background-color: var(--secundary-color);
    color: var(--third-color);
}

#payCuotaForm>.typesPayments>.wrapperChoices>.choice.active {
    background-color: var(--secundary-color);
}

#payCuotaForm>.typesPayments>.wrapperChoices>.choice.active h3,
#payCuotaForm>.typesPayments>.wrapperChoices>.choice:hover h3 {
    color: var(--third-color);
}


#payCuotaForm>.typesPayments>.choice.active {
    background-color: var(--secundary-color);
    color: var(--third-color);
}

#payCuotaForm>.typesPayments>.wrapperChoices>.choice input {
    display: none;
}

#payCuotaForm>.pickedAmount {
    position: relative;
    margin-top: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    /* display: none; */
}

#payCuotaForm>.pickedAmount.active {
    display: unset;
}

#payCuotaForm>.pickedAmount>h4 {
    font-size: clamp(1.3rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--background-color);
}

#payCuotaForm>.pickedAmount>input {
    width: 100%;
}

#payCuotaForm>.wrapperSelect {
    width: 80%;
    margin: 0 auto;
}

#payCuotaForm>.wrapperSelect>h3 {
    font-size: clamp(1.3rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--background-color);
    margin-top: 1rem;
}

#payCuotaForm>#selectWrapperSelectCobrador>.containerInputAndOptions>img {
    z-index: 6;
}

#payCuotaForm>#selectWrapperSelectCobrador>.containerInputAndOptions>input {
    z-index: 5;
}

#payCuotaForm>#selectWrapperSelectCobrador>.containerInputAndOptions>.options {
    z-index: 4;
}

#payCuotaForm>#selectWrapperSelectTypePayments>.containerInputAndOptions>img {
    z-index: 3;
}

#payCuotaForm>#selectWrapperSelectTypePayments>.containerInputAndOptions>input {
    z-index: 2;
}

#payCuotaForm>#selectWrapperSelectTypePayments>.containerInputAndOptions>.options {
    z-index: 1;
}

.wrapperButtonPayCuota {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    left: 0;
}

.wrapperButtonPayCuota>button#sendPayment {
    padding: .8rem 4rem;
    width: fit-content;
    height: fit-content;
    font-size: clamp(1.3rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
}

/* .wrapperButtonPayCuota>#sendPayment {} */

.payCuotaStatus {
    width: 95%;
    height: 10%;
    max-height: 6rem;
    min-height: 3rem;
    box-sizing: border-box;
    border-radius: .8rem;
    position: absolute;
    bottom: -6rem;
    padding: 1rem;
    background: var(--background-color);
    border: 3px solid var(--primary-color);
    /* border: 3px solid #ed1717; */
    display: flex;
    column-gap: 2rem;
    align-items: center;
    transition: .7s all ease;
}

.payCuotaStatus.active {
    bottom: 1rem;
}

.payCuotaStatus>img {
    width: 8%;
    max-width: 3rem;
    min-width: 2rem;
}

.payCuotaStatus>h2 {
    font-size: clamp(1.3rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
    color: var(--third-color);
}

/* #endregion */


/* .wrapper_cuotas.enBaja>.cuotas {
    height: 70%;
    width: 80%;
    background-color: rgb(247 245 241 / 93%);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_cuotas.enBaja>.cuotas>h1 {
    font-size: clamp(1.8rem, 1.6vw, 2.5rem);
    font-family: raleway-bold;
    text-align: center;
    color: var(--third-color);

}

.wrapper_cuotas.enBaja>.cuotas>h2 {
    font-size: clamp(1.4rem, 1.3vw, 2.2rem);
    font-family: raleway-bold;
    text-align: center;
    width: 90%;
    margin-top: .5rem;
}

.checkAdj {
    color: white;
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: raleway-bold;
    margin-left: 0;
}
 */


/* .descuentoCuota {
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 80%;
    background: white;
    border-radius: 0.6rem;
    display: none;
}

.descuentoCuota.active {
    display: unset;
}

.wrapperDescuentoCuota {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.descuentoCuota>h3 {
    text-align: start;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    margin-bottom: .4rem;
    margin-left: .1rem;
    font-family: raleway-semibold;

}

.wrapperDescuentoCuota>input {
    background-color: white;
    width: 70%;
    height: 1.5rem;
    padding: 0.6rem;
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    border: 2px solid #3d7bd8d5;
    border-radius: 0.6rem;
    outline: none;
}

.wrapperDescuentoCuota>input[type="number"]::-webkit-inner-spin-button,
.wrapperDescuentoCuota>input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapperDescuentoCuota>button {
    width: 40%;
    height: 3rem;
    color: white;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border-color: transparent;
    letter-spacing: .04rem;
    cursor: pointer;
}
 */


.selectMotivoWrapper {
    width: 100%;
    position: relative;
    margin: 1rem 0;
}

.selectMotivoWrapper>h4 {
    font-family: raleway-semibold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.motivoSelectedWrapper {
    background-color: white;
    width: 90%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    font-size: clamp(.9rem, 1vw, 1.1em);
    font-family: raleway-semibold;
    border: 1px solid #3d7bd8d5;
    border-radius: 0.6rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.motivosList {
    width: 90%;
    /* padding: 1rem; */
    padding: 0.6rem;
    margin: 0 auto;
    list-style: none;
    background-color: white;
    border-radius: 0.6rem;
    position: absolute;
    top: 70%;
    height: 0rem;
    overflow: auto;
    /* transition: .3s height ease; */
    z-index: 1;
}

.motivosList>li:first-child {
    padding-top: 1.5rem;

}

.motivosList>li {
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    padding: .5rem 0;
    cursor: pointer;
}

.motivosList>li:hover {
    color: var(--third-color);

}


.motivosList.active {
    border: 1px solid #3d7bd8d5;
    height: 9rem;
}



.buttonSubmitWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#sendPayment.blocked {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.445);
}

#amountParcial.invalido {
    border: 2px solid rgba(255, 0, 0, 0.616);
}

.errorMessageSendBaja {
    font-family: raleway-semibold;
    font-size: 1.3rem;
    color: #ed1717;
    margin-top: .5rem;
}

#dineroRestante {
    font-size: clamp(1.2rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    color: rgba(255, 0, 0, 0.726);
    margin-top: 0.2rem;
}

#sendPayment:hover {
    transition: .1s all ease;
    transform: scale(1.02);
}









.textAtrasado {
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    font-family: raleway-bold;
    color: rgb(240, 7, 7);
    margin-left: 1.3rem;
}



.cuotas {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 38rem;
}

.cuotas>h3 {
    color: white;
    font-size: 2rem;
    font-family: raleway-bold;
    margin-bottom: 1rem;
}



.cuotaSuccess {
    position: absolute;
    bottom: 2rem;
    display: flex;
    left: 100%;
    background-color: #fff;
    padding: .8rem 1.5rem;
    align-items: center;
    border-radius: 1rem;
    min-width: fit-content;
    transition: 1s all ease;

}

.cuotaSuccess.active {
    left: -20%;
}

.cuotaSuccess>img {
    width: 3rem;
    margin-right: 1.5rem;
}

.cuotaPagada {
    font-size: clamp(1.2rem, 1.3vw, 1.6rem);
    font-family: raleway-semibold;
    white-space: nowrap
}

.cuotaPagada>strong {
    color: var(--primary-color);
}


/* Boton de status */
.buttonStatusVentas {
    margin: 2.3rem 2rem;
    display: flex;
    gap: 1rem;
    width: 80%;
    height: 3.6rem;
    justify-content: space-between;
    position: relative;
}

/* .selectAdjudicacion{
    width: 55%;
} */

.buttonChangePack {
    border: 2px solid var(--primary-color);
    /* width: 45%; */
    height: 90%;
    border-radius: 0.6rem;
    /* position: absolute; */
    z-index: 2;
    right: 105%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.buttonChangeTitularidad {
    border: 2px solid var(--primary-color);
    /* width: 55%; */
    height: 90%;
    border-radius: 0.6rem;
    /* position: absolute; */
    z-index: 2;
    right: 157%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .buttonDeBaja{
    width: 40%;
    height: 100%;
    position: relative;
} */
.buttonDeBaja>.formConfirmWrapper.block::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000083;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.buttonDeBaja>.formConfirmWrapper {
    position: absolute;
    background-color: #fff;
    z-index: 6;
    width: 23rem;
    padding: .8rem 2rem;
    right: 110%;
    top: -10%;
    border-radius: .5rem;
    display: none;
    height: auto;
}

.buttonDeBaja>.formClave {
    position: absolute;
    background-color: #fff;
    z-index: 6;
    width: 18rem;
    padding: .8rem 2rem;
    padding-right: .5rem;
    right: 350%;
    top: -10%;
    border-radius: .5rem;
    display: none;
}

.buttonDeBaja>.formConfirmWrapper.active {
    display: block;
}

.buttonDeBaja>.formClave.active {
    display: block;
}

.buttonDeBaja>.formConfirmWrapper>form>.inputPorcentajeWrapper {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.buttonDeBaja>.formConfirmWrapper>form>.inputPorcentajeWrapper>.input {
    width: 100%;
}

.inputPorcentajeWrapper>.input p {
    font-family: raleway-semibold;
    font-size: 1.4rem;
}

.input>#inputPorcentaje {
    margin-top: 0.3rem;
    display: flex;
    width: 80%;
    gap: 2rem;
    align-items: center;
}

.input>#inputPorcentaje>div {
    position: relative;
    width: 25%;
}

.input>#inputPorcentaje>div>p {
    position: absolute;
    top: 16%;
    right: 0;
}

.input>#inputPorcentaje>div.editPorcentajeWrapper {
    width: 50%;
}

.input>#inputPorcentaje>div.editPorcentajeWrapper>button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(1.2rem, 1vw, 1.4rem);
    font-family: 'raleway-semibold';
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid var(--third-color);
    outline: none;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

.input>#inputPorcentaje>div.editPorcentajeWrapper>button>img {
    width: 1.8rem;
}

.input>#inputPorcentaje>div>input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input>#inputPorcentaje>div>input {
    font-family: raleway-semibold;
    font-size: 1.3rem;
    border: var(--primary-color) .8px solid;
    border-radius: .3rem;
    padding: .2rem;
    width: 100%;
    outline: none;
    height: 1.7rem;
    background-color: rgb(54 53 51 / 18%);
    cursor: default;
}

#formBaja>.motivoBaja>textarea {
    width: 90%;
    resize: none;
    outline: none;
    padding: 0.3rem .7rem;
    border-radius: 0.5rem;
    border: 1px solid var(--third-color);
    font-family: raleway-semibold;
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

#formBaja>.motivoBaja>h3 {
    font-family: raleway-semibold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}


.buttonDeBaja>.formConfirmWrapper>form>.confirmWrapper {
    height: 100%;
}

.buttonDeBaja>.formConfirmWrapper>form>.confirmWrapper>h3 {
    font-family: raleway-semibold;
    font-size: 1.3rem;
    margin-bottom: .6rem;
}

.buttonDeBaja>.formConfirmWrapper>form>.confirmWrapper>#yesConfirm {
    font-family: raleway-semibold;
    font-size: 1.4rem;
    background-color: transparent;
    /* border-color: transparent; */
    border: #00000083 .7px solid;
    border-radius: .3rem;
    width: 30%;
    height: 2rem;
    cursor: pointer;
}

.buttonDeBaja>.formConfirmWrapper>form>.confirmWrapper>#noConfirm {
    font-family: raleway-semibold;
    font-size: 1.4rem;
    color: white;
    background-color: #ed1717;
    border-color: transparent;
    /* border: #000000ab .5px solid; */
    border-radius: .3rem;
    width: 30%;
    height: 2rem;
    cursor: pointer;
}

.inputClaveWrapper>p {
    font-family: raleway-semibold;
    font-size: 1.4rem;
}

.inputClaveWrapper>#inputClave {
    width: 85%;
    margin: .5rem 0;

}

.inputClaveWrapper>#inputClave>p {
    font-family: raleway-semibold;
    font-size: 1.3rem;
    color: #ed1717;
}

.inputClaveWrapper>#inputClave>input {
    font-family: raleway-semibold;
    font-size: 1.3rem;
    border: var(--primary-color) 0.8px solid;
    border-radius: 0.3rem;
    padding: 0.2rem;
    width: 100%;
    outline: none;
    height: 1.7rem;
}

.inputClaveWrapper>#inputClave>input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.confirmClaveWrapper>#confirm {
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    width: 40%;
    color: white;
    border-radius: 0.6rem;
    cursor: pointer;
    border-color: transparent;
    padding: .4rem .8rem;
    min-width: 8rem;
}

.confirmClaveWrapper>#notConfirm {
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-family: raleway-semibold;
    background-color: #ed1717;
    width: 40%;
    color: white;
    border-radius: 0.6rem;
    cursor: pointer;
    border-color: transparent;
    padding: .4rem .8rem;
    min-width: 8rem;
}

.wrapperSelectAdjudicacion {
    position: relative;
    height: 100%;
}

.wrapperSelectAdjudicacion>h3 {
    font-family: raleway-semibold;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 0.4rem;
    margin-left: 0.2rem;
}




.selectedOption>img {
    width: 2rem;
    filter: invert(1);
}


.changeTitularidadWrapper {
    width: 100%;
    border-top: 1px #ffffff85 solid;
    margin-top: 1rem;
    height: 20rem;
    overflow: auto;
}

.changeTitularidadWrapper::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

.changeTitularidadWrapper::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 1rem;
}

.changeTitularidadWrapper>h2 {
    font-size: clamp(1.6rem, 1.5vw, 2.1rem);
    font-family: raleway-semibold;
    color: white;
    margin-left: .4rem;
    margin-bottom: .9rem;
    margin-top: 1.5rem;
}

.changeItem {
    background-color: rgb(41 40 40 / 91%);
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 1rem;
    border-radius: .8rem;
    min-height: fit-content;
    margin-bottom: 1rem;
}

.changeItem>.names>img {
    width: 3rem;
    transform: rotate(180deg);
}

.changeItem>.names>a {
    color: white;
    text-decoration: none;
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    width: fit-content;
}

.changeItem>.names>a:hover {
    transition: .1s all ease;
    transform: scale(0.98);
}

.changeItem>.names>a:last-child {
    color: rgba(255, 255, 255, 0.464);
}

.changeItem>.names {
    width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




.changeItem>.changeItemInformation {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.changeItem>.changeItemInformation>h3 {
    color: var(--third-color);

    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    margin-bottom: .4rem;
}

.changeItem>.changeItemInformation>h3>strong {
    color: white;

    margin-left: .5rem;
}

#verPDFTitularidad {
    position: absolute;
    right: 2rem;
    top: .2rem;
    font-size: clamp(1.4rem, 1.2vw, 1.5rem);
    font-family: raleway-semibold;
    color: white;
    padding-bottom: .1rem;
    text-decoration: none;
    border-bottom: 1px solid white;
}

#verPDFTitularidad:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

}




/* ANIMATIONS */
@keyframes escalar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.94);
    }

    100% {
        transform: scale(1);
    }
}