.filters {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;

}

.filters form#formFilter {
    width: 70%;
    display: flex;
    gap: 1.5rem;
}

.filters div.filtersActionWrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.filters div.filtersActionWrapper>div#wrapperSucursal {
    width: 30%;
}


.filters div.filtersActionWrapper>div#wrapperSucursal .iconDesplegar {
    z-index: 5;
    filter: invert(1);
}

.filters div.filtersActionWrapper>div#wrapperSucursal #sucursalInput {
    z-index: 4;
    background-color: var(--background-color);
    color: var(--third-color);
}

.filters div.filtersActionWrapper>div#wrapperSucursal .options {
    z-index: 3;
}


.filters div.filtersActionWrapper>div.searchActionWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
}


.filters div.filtersActionWrapper>div.searchActionWrapper>img {
    position: absolute;
    /* rotate: -90deg; */
    filter: invert(1);
    width: 1.8rem;
    right: 2%;
    z-index: 6;
}


.filters div.filtersActionWrapper>div.searchActionWrapper>input {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway;
    color: var(--third-color);
    position: relative;
    padding: 1rem 0;
    z-index: 2;
}

.filters>div.buttonsActionsWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
    width: 30%;
}

.filters>div.buttonsActionsWrapper>* {
    font-size: clamp(1.3rem, 1.2vw, 1.5rem);
    color: var(--third-color);
    padding: 1rem 3rem;
}


.informationWrapper {
    height: 85%;
    width: 100%;
    padding: 3rem;
    padding-top: 0;
    overflow: auto;
}

table.information {
    width: 100%;
    table-layout: auto;
}

table.information tr>* {
    padding: 1rem;
    text-align: center;
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    color: var(--third-color);
    font-family: raleway-semibold;
    white-space: nowrap;
}



table.information>tbody>tr>td>p {
    font-size: clamp(1.3rem, 1vw, 1.5rem);
    font-family: raleway;
    white-space: nowrap;
}

table.information>tbody>tr:hover {
    background-color: #304361;
    cursor: pointer;
}

table.information>thead {
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 18rem;
    background-color: var(--fourth-color);
    border-radius: .8rem;
}






table.information tr>*:first-child {
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;

}


table.information tr>*:last-child {
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
}


.information {
    /* height: 88%; */
    width: 100%;
    /* display: flex; */
    overflow-x: auto;
    overflow-y: none;
}

.information::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    border-radius: 5px;
}

.information::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 1rem;
}

.tittles {
    display: flex;
    /* column-gap: calc(100% / 6); */
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.information>.tittlesWrapper {
    width: 100%;
    background-color: var(--fourth-color);
}

.tittlesWrapper>.tittles>li {
    color: white;
    font-size: 1.6rem;
    font-family: raleway-semibold;
    padding: 1rem 0;
    width: 16.6%;
    text-align: center;
}

.valuesWrapper>.values>a {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-around;
    font-family: raleway;
    position: relative;
    padding: 1rem 0;
    width: 100%;
    color: var(--third-color);
    cursor: pointer;
    text-decoration: none;
}

.valuesWrapper>.values>a:hover {
    background-color: #304361;
}

.valuesWrapper>.values>a>div {
    width: 16.6%;
    text-align: center;
}

/*#region Import clientes  */
.tingle-btn--primary.disabled {
    pointer-events: none;
    opacity: .7;
}


.tittleModal {
    font-family: raleway-bold;
    color: var(--primary-color);
    font-size: clamp(2.4rem, 1.6vw, 4rem);
}

.tingle-btn {
    font-family: raleway-semibold !important;
    color: var(--third-color) !important;
    font-size: clamp(1.3rem, 1.1vw, 1.5rem) !important;
    border-radius: .6rem !important;

}

#importForm {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#importForm>.inputWrapper {
    width: 40%;
}

#importForm .labelInput {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: 'raleway-semibold';
    margin-bottom: .3rem;
    margin-left: .3rem;
    color: var(--background-color);
}

.containerSelectFile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.containerSelectFile>label {
    color: var(--background-color);
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
}

.containerSelectFile>#nameFile {
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-family: 'raleway';
    color: var(--background-color);
}

#messageStatusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#messageStatusContainer > img{
    min-width: 5rem;
    width: 35%;
    max-width: 13rem;
    /* min-height: 5rem;
    min-height: 35%; */
}

#messageStatusContainer > h2{
    font-size: clamp(1.4rem, 1.3vw, 2rem);
    font-family: 'raleway-semibold';
    color: var(--background-color);
}

#importForm>#agenciaWrapper .iconDesplegar {
    z-index: 3;
}

#importForm>#agenciaWrapper #agenciaInput {
    z-index: 2;
}

#importForm>#agenciaWrapper .options {
    z-index: 1;
}

/*#endregion  */

#buttonCleanFilter{
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    font-family: 'raleway-semibold';
    color: var(--third-color);
    text-align: right;
    display: block;
    padding: 1rem;
    display: none;
}

#buttonCleanFilter.active{
    display: block;
}