.wrapper_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
}
.header_section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem 3.5rem;
  flex: 0 0 auto;
  background-color: var(--blue-1);
  border-bottom: 1px solid var(--white-800-20);
}
.header_section .titleHeaderWrapper {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-right: auto;
}
.header_section .titleHeaderWrapper h1 {
  font-size: clamp(3rem, 1.6vw, 5rem);
  font-family: raleway-bold;
  color: var(--white-color-800);
  letter-spacing: 0.06rem;
  padding: 0.5rem 0;
}

.header_section .titleHeaderWrapper img {
  width: 3vw;
  height: 3vw;
  min-width: 3.5rem;
  min-height: 3.5rem;
  max-width: 6rem;
  max-height: 6rem;
}

.informationWrapper {
  flex: 1 1 auto;
  padding: 1rem 3rem;
}

#create_customer {
  padding: 1.6rem 4rem;
  color: white;
  font-size: 1.6rem;
  font-family: raleway-semibold;
  background-color: var(--primary-color);
  height: fit-content;
  text-decoration: none;
  border-radius: 1rem;
  letter-spacing: 0.04rem;
  margin-left: 2rem;
}

.information {
  height: 88%;
  width: 100%;
  /* display: flex; */
  overflow-x: auto;
  overflow-y: none;
}

.information::-webkit-scrollbar {
  width: 2px;
  height: 5px;
  border-radius: 5px;
}
.information::-webkit-scrollbar-thumb {
  background: var(--third-color);
  border-radius: 1rem;
}

.tittles {
  display: flex;
  /* column-gap: calc(100% / 6); */
  list-style: none;
  width: 100%;
  justify-content: space-around;
}
.information > .tittlesWrapper {
  width: 100%;
  background-color: var(--third-color);
}

.tittlesWrapper > .tittles > li {
  color: white;
  font-size: 1.6rem;
  font-family: raleway-semibold;
  padding: 1rem 0;
  width: 16.6%;
  text-align: center;
}

.valuesWrapper > .values > a {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-around;
  font-family: raleway;
  position: relative;
  padding: 1rem 0;
  width: 100%;
  color: rgb(241, 237, 237);
  cursor: pointer;
  text-decoration: none;
}

.valuesWrapper > .values > a:hover {
  background-color: #304361;
}

.valuesWrapper > .values > a > div {
  width: 16.6%;
  text-align: center;
}
