.filters {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3rem 4rem;
}

.filters>div {
    position: relative;
    display: flex;
    width: 40%;
    height: 3.2rem;
    flex-flow: column;
    justify-content: center;
    color: white;
    font-family: raleway;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: 3rem;
}

.filters>div>img {
    position: absolute;
    /* rotate: -90deg; */
    filter: invert(1);
    width: 1.8rem;
    right: 2rem;
    z-index: 6;
}


.customer {
    height: 3.1rem;
    width: 100%;
    z-index: 2;
}

#create_customer {
    font-size: clamp(1.3rem, 1.1vw, 1.5rem);
    padding: 1rem 3rem;
}

#customer_search {
    color: var(--third-color);
    height: 3.4rem;
}


.information {
    height: 88%;
    width: 100%;
    /* display: flex; */
    overflow-x: auto;
    overflow-y: none;
}

.information::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    border-radius: 5px;
}

.information::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 1rem;
}

.tittles {
    display: flex;
    /* column-gap: calc(100% / 6); */
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.information>.tittlesWrapper {
    width: 100%;
    background-color: var(--fourth-color);
}

.tittlesWrapper>.tittles>li {
    color: white;
    font-size: 1.6rem;
    font-family: raleway-semibold;
    padding: 1rem 0;
    width: 16.6%;
    text-align: center;
}

.valuesWrapper>.values>a {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-around;
    font-family: raleway;
    position: relative;
    padding: 1rem 0;
    width: 100%;
    color: rgb(241, 237, 237);
    cursor: pointer;
    text-decoration: none;
}

.valuesWrapper>.values>a:hover {
    background-color: #304361;
}

.valuesWrapper>.values>a>div {
    width: 16.6%;
    text-align: center;
}