.filters {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;

}


.filters>div.searchActionWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}


.filters>div.searchActionWrapper>img {
    position: absolute;
    /* rotate: -90deg; */
    filter: invert(1);
    width: 1.8rem;
    right: 2%;
    z-index: 6;
}


.filters>div.searchActionWrapper>input {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway;
    color: var(--third-color);
    position: relative;
    padding: 1rem 0;
    z-index: 2;
}

.filters>div.buttonsActionsWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
}

.filters>div.buttonsActionsWrapper > * {
    font-size: clamp(1.3rem, 1.2vw, 1.5rem);
    color: var(--third-color);
    padding: 1rem 3rem;
}


.informationWrapper{
    height: 85%;
    width: 100%;
    padding: 3rem;
    padding-top: 0;
    overflow: auto;
}

table.information {
    width: 100%;
    table-layout: auto;
    height: 100%;
}
table.information tr > *{
    padding: 1rem;
    text-align: center;
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    color: var(--third-color);
    font-family: raleway-semibold;
}



table.information > tbody > tr > td{
    font-size: clamp(1.3rem, 1vw, 1.5rem);
    font-family: raleway;
} 
table.information > tbody > tr:hover{
    background-color: #304361;
    cursor: pointer;
}

table.information > thead{
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 18rem;
    background-color: var(--fourth-color);
    border-radius: .8rem;
    height: 15%;
}

table.information > tbody {
    height: 85%;
}



table.information tr > *:first-child{
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    
} 


table.information tr > *:last-child{
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem ;
} 



.information::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    border-radius: 5px;
}

.information::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 1rem;
}

.tittles {
    display: flex;
    /* column-gap: calc(100% / 6); */
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.information>.tittlesWrapper {
    width: 120%;
    background-color: var(--fourth-color);
}

.tittlesWrapper>.tittles>li {
    color: var(--third-color);
    font-size: 1.6rem;
    font-family: raleway-semibold;
    padding: 1rem 0;
    width: 20%;
    text-align: center;
}

.valuesWrapper {
    width: 120%;
}

.valuesWrapper>.values>a {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-around;
    font-family: raleway;
    position: relative;
    padding: 1rem 0;
    width: 100%;
    color: rgb(241, 237, 237);
    cursor: pointer;
    text-decoration: none;
}

.valuesWrapper>.values>a:hover {
    background-color: #304361;
}

.valuesWrapper>.values>a>div {
    width: 20%;
    text-align: center;
}

.context-menu{
    background-color: aliceblue;
    padding: 2rem;
}

#formNewDescuento{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

#tittleModalEgresoIngreso{
    color: var(--secundary-color);
    font-size: clamp(2rem, 1.6vw, 3rem);
    font-family: raleway-semibold;
}
.tingle-modal-box__footer > button{
    color: var(--third-color);
    font-size: clamp(1.5rem, 1.2vw, 1.8rem);
    font-family: raleway-semibold;
    border-radius: .6rem;
}

#formNewDescuento > .wrapperInput{
    display: flex;
    flex-direction: column;
}

#formNewDescuento > .wrapperInput >input{
    height: 3.1rem;
}

#formNewDescuento .labelInput{
    color: var(--background-color);
    font-size: clamp(1.5rem, 1.2vw, 1.8rem);
    font-family: raleway-semibold;
}

#formNewDescuento>#selectWrapperSelectTypePayments .iconDesplegar {
    z-index: 6;
}

#formNewDescuento>#selectWrapperSelectTypePayments #metodoPagoInput {
    z-index: 5;
}

#formNewDescuento>#selectWrapperSelectTypePayments .options {
    z-index: 4;
}

#formNewDescuento>#selectWrapperSelectCampania .iconDesplegar {
    z-index: 3;
}

#formNewDescuento>#selectWrapperSelectCampania #campaniaInput {
    z-index: 2;
}

#formNewDescuento>#selectWrapperSelectCampania .options {
    z-index: 1;
}
