.wrapper {
  display: flex;
  height: 100vh;
  background-color: var(--blue-0);
}

/* ASIDE ACTIVE*/
aside.menu {
  width: 15vw;
  min-width: 8rem;
  border-right: 1px solid var(--white-800-20);
}

.tittleAsideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .7rem;
  padding: 2rem;
}

.tittleAsideWrapper>.logoWrapper {
  width: 50%;
}

.tittleAsideWrapper>.logoWrapper>img {
  width: 100%;
}

.tittleAsideWrapper>h3.tittleAside {
  font-size: clamp(1.3rem, 1.2vw, 1.6rem);
  font-family: raleway;
  color: var(--white-color-800);
}

.aside-item-perfil {
  padding: 2rem;
  border-bottom: 1px solid var(--white-800-20);
  border-top: 1px solid var(--white-800-20);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
}

.aside-item-perfil>.circleNombre {
  background-color: var(--blue-3);
  color: var(--white-800-80);
  font-family: raleway-semibold;
  font-size: clamp(1.1rem, 1.1vw, 1.4rem);
  padding: .8rem;
  border-radius: 50%;
}

.aside-item-perfil>.nombreUsuarioWrapper {
  font-family: raleway;
  font-size: clamp(1.1rem, 1.1vw, 1.4rem);
  color: var(--white-800-80);
}

#menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#menu>ul>li {
  position: relative;
  display: flex;
  align-items: center;
}

#menu>ul>li:hover {
  background-color: var(--blue-3);
  cursor: pointer;
  border-left: 2px solid var(--white-800-50);
}

.button_menu-wrapper {
  height: 7%;
  margin-top: 1rem;
  margin-left: 2.7rem;
  display: flex;
  align-items: center;
}

.list > li.in_path {
  background-color: var(--blue-3);
}

#menu>.list>li.add_user {
  margin-top: auto;
}

#menu>.list>li>a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  font-size: clamp(1.2rem, 1.1vw, 1.5rem);
  font-family: raleway-semibold;
  color: var(--white-color-800);
  width: 100%;
  padding: 1.5rem;
}

#menu>.list>li>a>img {
  padding: 0 1rem;
}




.wrapper_content {
  width: 100%;
  height: 100%;
  /* overflow-y: auto; */
}

#perfil ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#perfil>ul>li {
  position: relative;
  display: flex;
  align-items: center;
}

#perfil>ul>li:hover {
  background-color: var(--blue-3);
  cursor: pointer;
  border-left: 2px solid var(--white-800-50);
}

#perfil>.list>li.in_path {
  background-color: var(--blue-3);
}

#perfil>.list>li.add_user {
  margin-top: auto;
}

#perfil>.list>li>a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  font-size: clamp(1.2rem, 1.1vw, 1.5rem);
  font-family: raleway-semibold;
  color: var(--white-color-800);
  width: 100%;
  padding: 1.5rem;
}

#perfil>.list>li>a>img {
  padding: 0 1rem;
}