.wrapper_content {
    padding: 4rem;
}

.filters {
    width: 100%;
    align-items: center;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}


.searchFilter {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 30rem;
    width: 30%;
}

.filters>h2 {
    font-size: clamp(1.3rem, 1.2vw, 2.3rem);
    font-family: raleway-bold;
    color: var(--third-color);
    flex-basis: 100%;
    padding-bottom: .6rem;
    letter-spacing: .1rem;
}

.filters .searchFilter>input#nro_ordenInput {
    color: var(--third-color);
    z-index: 2;
    font-size: clamp(1.2rem, 1.1vw, 1.8rem);

    padding: .5rem;
}
#submitFormVenta{
    padding: .5rem 1rem;
}
#submitFormVenta:disabled{
    opacity: .5;
    pointer-events: none;
}

.searchFilter>img {
    position: absolute;
    filter: invert(1);
    width: 1.8rem;
    right: 2rem;
    z-index: 6;
}

#create_customer {
    color: var(--third-color);
    font-size: 1.6rem;
    padding: 1rem 3rem;
}

.accountWrapper {
    display: flex;
    width: 100%;
}

.operations {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.operationsWrapper {
    width: 100%;
}

.operationsList {
    width: 100%;
    height: 100%;
    list-style: none;
    border-radius: 1rem;
}

.operationsList .messageInfoVacio {
    font-size: clamp(1.5rem, 1.8vw, 3rem);
    font-family: raleway;
    color: var(--third-color);
    opacity: .5;
    text-align: center;
}

.operationItem {
    border-radius: 1rem;
    background: var(--third-color);
    width: 90%;
    max-width: 120rem;
    margin-bottom: 1.4rem;
}

.informationUser {
    height: 100%;
    width: 30%;
    /* padding: 0 2rem; */
    padding-left: 2rem;

}



.attributes {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 1.2rem;
    margin: 2rem 0rem;
}

.operationItem>.nameStatus>h1 {
    font-size: clamp(2rem, 1.8vw, 3rem);
    font-family: raleway-bold;
}

.operationItem>.nameStatus>h3 {
    font-size: clamp(1.2rem, 1.2vw, 1.6rem);
    font-family: raleway-bold;
}

.operationItem>.nameStatus {
    display: flex;
    align-items: center;
}

.operationItem>.nameStatus>.iconStatus {
    width: 5%;
    max-width: 5rem;
    min-width: 2rem;
}

.operationItem>.nameStatus>.iconProducto {
    width: 10%;
    margin-right: 1.5rem;
    max-width: 9rem;
    min-width: 5rem;
}

#downloadPDF {
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: raleway-semibold;
    color: var(--background-color);
    margin-left: 1rem;
}

.attributes>div.information {
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
    width: 45%;
    border-radius: .6rem;
    align-items: center;
    border: 2px solid var(--secundary-color);
}



.attributes>div.information>h3,
.attributes>div.information>h2 {
    font-size: clamp(1.1rem, 1.1vw, 1.4rem);
    color: var(--backgorund-color);
    font-family: raleway-semibold;
}

.attributes>div.information#cliente_information {
    flex-basis: 92%;

}

.iconsAttributes {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.operationItem .buttonSimulacro {
    width: 20%;
}

.operationItem .buttonSimulacro>h3 {
    font-size: clamp(1.2rem, 1.2vw, 1.6rem);

}