.wrapper_content {
    padding: 2rem;
    box-sizing: border-box;
}

.sucursalItem {
    width: 80%;
    background-color: #fff;
    margin-bottom: 1.4rem;
    border-radius: .7rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.sucursalItem>h2 {
    font-size: clamp(1.8rem, 1.5vw, 2.2rem);
    font-family: raleway-semibold;
    color: var(--primary-color);
}

.containerInputs {
    display: flex;
    gap: 1rem;
    margin: .7rem 0rem;
    width: 100%;
    flex-wrap: wrap;
}

.wrapperInput {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.wrapperInput.hora {
    width: 15%;
}


.wrapperInput:first-child {
    width: 40%;
}

.wrapperInput>label {
    display: block;
    font-size: clamp(1.3rem, 1vw, 1.5rem);
    font-family: raleway-semibold;
    margin-bottom: .3rem;
    /* color:var(--primary-color);  */
}

.wrapperInput>input {
    width: 100%;
    box-sizing: border-box;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: #3043615e;
    color: #000000c2;
    border: 2px solid var(--third-color);
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    padding: .6rem;
    text-indent: 1rem;
    outline: none;
    pointer-events: none;
}

.wrapperInput>input.open {
    color: var(--background-color);
    pointer-events: unset;
    background-color: transparent;
    border: 2px solid var(--primary-color);

}

.wrapperInput .pseudo-input-select-wrapper {
    background-color: #3043615e;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: #000000c2;
    pointer-events: none;
    border: none;
}

.wrapperInput .pseudo-input-select-wrapper.open {
    background-color: var(--third-color);
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: var(--background-color);
    pointer-events: unset;
    border: 2px solid var(--primary-color);
}


.wrapperInputNew {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.wrapperInputNew.hora {
    width: 15%;
}

.wrapperInputNew>label {
    display: block;
    font-size: clamp(1.3rem, 1vw, 1.5rem);
    font-family: raleway-semibold;
    margin-bottom: .3rem;
    /* color:var(--primary-color);  */
}

.wrapperInputNew>input {
    width: 100%;
    box-sizing: border-box;
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    border: 2px solid var(--third-color);
    background-color: #3043615e;
    color: #000000c2;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    padding: .6rem;
    text-indent: 1.2rem;
    outline: none;
}

.wrapperInputNew>input.open {
    color: var(--background-color);
    pointer-events: unset;
    background-color: transparent;
    border: 2px solid var(--primary-color);

}

.buttonsActions {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.deleteSucursal {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: var(--third-color);
}

#buttonStopAddSucursal {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: var(--background-color);
}

.enableForm,
.uploadForm,
#buttonConfirmAddSucursal {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: var(--third-color);
}

.desableForm {
    color: var(--background-color);
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
}

#buttonAddSucursal {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    color: var(--third-color);
    width: 20%;
    padding: 1.2rem .9rem;
    cursor: pointer;
}

#buttonAddSucursal.blocked {
    display: none;
}

.div {
    width: 2rem;
    height: 2rem;
    background-color: red;
}

.desableForm,
.uploadForm {
    display: none;
}

.desableForm.active,
.uploadForm.active {
    display: flex;
}

.div.active {
    background-color: green;

}

.formSucursal {
    position: relative;
}


#addSucursalForm #selectWrapperSelectGerente img.iconDesplegar {
    z-index: 21;
}

#addSucursalForm #selectWrapperSelectGerente .pseudo-input-select-wrapper {
    position: relative;
    z-index: 20;
    background-color: var(--third-color);

}

#addSucursalForm #selectWrapperSelectGerente ul.options {
    z-index: 19;
}

.sucursalItem:not(.enable)>.formSucursal #selectWrapperSelectGerente ul.options {
    display: none;
}

.sucursalItem:not(.enable)>.formSucursal #selectWrapperSelectGerente img.iconDesplegar {
    display: none;
}

.sucursalItem.enable .wrapperSelectFilter img.iconDesplegar {
    z-index: 21;
}

.sucursalItem.enable .wrapperSelectFilter .pseudo-input-select-wrapper {
    position: relative;
    z-index: 20;
    background-color: var(--third-color);

}

.sucursalItem.enable .wrapperSelectFilter ul.options {
    z-index: 19;
}

.sucursalItem .buttonsActions>.button-default-style {
    color: var(--background-color);
}

.modalConfirmacion h2 {
    font-size: clamp(1.3rem, 1.2vw, 2rem);
    font-family: raleway-semibold;
    color: var(--background-color);
}

/* .modalConfirmacion button {
    font-size: clamp(1.2rem, 1.1vw, 1.6rem);
    font-family: raleway-semibold;
} */

.modalConfirmacion .tingle-modal-box__footer {
    display: flex;
    gap: 1rem;
}

.tingle-modal-box__footer>button {
    font-family: raleway-semibold;
    font-size: clamp(1.2rem, 1.1vw, 1.6rem);

}

.modalConfirmacion .tingle-modal-box__footer .button-default-style {
    color: var(--background-color);
}

.tingle-modal-box__footer>button.button-default-style {
    color: var(--background-color);
}

.modalResponse .messageReponseModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-family: raleway-semibold;
    font-size: clamp(1.4rem, 1.3vw, 1.8rem);
}

.modalResponse .messageReponseModal>img {
    width: 3vw;
    min-width: 4rem;
    max-width: 6rem;

}