.wrapper_content {
    padding: 5rem;
}

.headersPanelsWrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.headersPanelsWrapper>div {
    border: 1px solid var(--third-color);
    padding: 1rem 2rem;
    opacity: .7;
    cursor: pointer;
    border-radius: .6rem;
}

.headersPanelsWrapper>div.active {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    opacity: 1;
}

.headersPanelsWrapper>div>h2 {
    font-size: clamp(1.5rem, 1.3vw, 1.8rem);
    font-family: raleway-semibold;
    color: var(--third-color);
}

#formNewProuducto {
    display: flex;
    justify-content: center;
}

#formNewProuducto>.panel {
    width: 70%;
    display: none;
}

#formNewProuducto>.panel.active {
    display: unset;
}

#formNewProuducto>.panel>table {
    width: 100%;
    margin-bottom: 2rem;

}

#formNewProuducto>.panel>table>thead {
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 18rem;
    background-color: var(--fourth-color);
    border-radius: .6rem;
}

#formNewProuducto>.panel>table>thead tr>* {
    padding: 1rem;
    text-align: center;
    font-size: clamp(1.3rem, 1.2vw, 1.6rem);
    color: var(--third-color);
    font-family: raleway-semibold;
}

#formNewProuducto>.panel>table tr>*:last-child {
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
}

#formNewProuducto>.panel>table tr>*:first-child {
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
}

#formNewProuducto>.panel>table>tbody>tr>td {
    padding: 1rem;
}

#formNewProuducto>.panel>table>tbody>tr>td input {
    padding: .6rem;
    color: var(--third-color);
    font-family: raleway-semibold;
    background-color: var(--background-color);
}

#formNewProuducto>.panel>table>tbody>tr>td input#paquete {
    padding: .8rem;
    background-color: rgba(255, 255, 255, 0.171);

}

#rowNewFormProduct .containerInputAndOptions>.iconDesplegar {
    filter: invert(1);
    z-index: 4;
}

#rowNewFormProduct .containerInputAndOptions>input {
    z-index: 3;
}

#rowNewFormProduct.containerInputAndOptions>ul.options {
    z-index: 2;
}