@page {
    size: A4 landscape; /* Fuerza el papel A4 horizontal */
    margin: 3mm;        /* Márgenes */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0; /* Deja que @page controle el margen */
  padding: 0;
}

/* Contenedor que muestra el Original y Duplicado uno al lado del otro */
.reciboPairWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.divInfoWrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 15px;
  margin-bottom: 5px;
  font-weight: bold;

}
.subTotalWrapper {
    background-color: #0000002d;
}
table {
    /* border-spacing: 0 8px; */
    width: 100%;
    /* border: 1px solid #000; */
}
table  td{
    width: 200px;
}
table  td:nth-child(2){
    width: 100px;
}
table  td:nth-child(3){
    width: 100px;
}

#firmas {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 500px;
    /* margin-top: 50px; */
    bottom: 20px;
    /* left: 0; */
}

#firmas>div {
    /* padding: 5px; */
    border-top: 1px solid #00000079;
    width: 35%;
    text-align: center;
    font-size: 10px;
    /* font-weight: 500; */
}
.notaImportanteWrapper{
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.notaImportanteWrapper > p{
    font-size: 11px;
}
.notaImportanteWrapper > p > span{
    font-weight: bold;
    text-decoration: underline;
}

.totalComisionadoWrapper {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 5px;
    /* height: 13px; */
    padding: 0 10px;
    border: 1px solid #00000079;
}

.tittleConceptoWrapper> p,
.titleDescuento > p {
    background-color: #00000034;
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
    padding: 2px 0;
    /* height: 30px; */
    /* margin-top: 5px; */
    /* margin-bottom: 2px; */
    font-weight: bold;
}
.titleDescuento{
    background-color: #00000034;
    width: 100%;
    padding: 2px 0;
    font-weight: bold;
}


.divInfoWrapper > .infoUserWrapper{
    margin-left: 10px;
}
.reciboPairWrapper >.reciboWrapper:nth-child(2){
    margin-left: 20px;
}
.infoUserWrapper.colaboradorWrapper {
    display: flex;
    justify-content: center;
    height: 15px;
    align-items: center;
    border: 1px solid #00000079;
}
.infoUserWrapper.colaboradorWrapper > p:nth-child(2){
    margin-left: 15px;
}
.reciboWrapper {
  width: 500px; /* cada uno ocupa ~ la mitad del ancho */
  border: 1px solid #00000030; /* opcional, para ver contorno */
  padding: 10px;
  height: 760px;
  box-sizing: border-box;
  /* margin: 0 auto; */
}

.logo {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.tittleRecibo {
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  /* margin: 10px 0; */
  border-bottom: 1px solid #00000079;
}

.infoUserWrapper {
  text-align: center;
  /* margin: 5px 0; */
}

/* Salto de página */
.page-break {
  page-break-after: always;
}
