@page {
    size: A4 ; /* Papel horizontal */
    margin: 3mm;        /* Márgenes */
}

.logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.reciboWrapper {
    display: inline;
    height: 100%;
}

.divInfoWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
}
body {
    /* border: 1px solid #000; */
    padding: 20px;
    font-size: 14px;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.infoUserWrapper p {
    font-size: 16px;
    font-weight: bold;
    margin: 0 2rem;
}

.tittleConceptoWrapper,
.titleDescuento {
    background-color: #00000034;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
}

.infoUserWrapper.colaboradorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #00000079;
}

.colaboradorWrapper>p:nth-child(2) {
    margin-left: 20px;
}


.tittleRecibo {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #00000079;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.divider {
    height: 20px;
}


.subTotalWrapper {
    background-color: #0000002d;
}

.subTotalWrapper td {
    padding: 5px;
}

.totalComisionadoWrapper {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #00000079;
}

#firmas {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#firmas>div {
    padding: 5px;
    border-top: 1px solid #00000079;
    width: 35%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

table {
    border-spacing: 0 8px;
    width: 100%;
    /* border: 1px solid #000; */
}

.notaImportanteWrapper{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}
.notaImportanteWrapper > p{
    font-size: 14px;
}
.notaImportanteWrapper > p > span{
    font-weight: bold;
    text-decoration: underline;
}

/* CSS para salto de página */
.page-break {
    page-break-after: always;
}
