@page {
  size: landscape;
  /* size: Letter; Change from the default size of A4 */
  margin: 0.3cm;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: raleway-bold;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: raleway-semibold;
  src: url("../fonts/Raleway-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: raleway-regular;
  src: url("../fonts/Raleway-Regular.ttf");
}

:root {
  --background-color: #1B1A27;
  --primary-color: #1753ED;
  --secundary-color: #105fa6;
  --third-color: #FAF8FF;
  --fourth-color: #546FFF;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-feature-settings: "pnum" on, "lnum" on;
}

body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

.tittleOfSections {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-size: 3rem;
}

body>h2 {
  color: var(--secundary-color);
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  width: 100%;
  border-bottom: var(--secundary-color) 1px solid;

}

.auditoriasTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  background-color: #fff;
}

.auditoriasTable th,
.auditoriasTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 1.3rem;

}

.auditoriasTable th {
  background-color: var(--secundary-color);
  color: var(--third-color);
  font-weight: bold;
}

.auditoriasTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.nestedAuditoriasTable {
  width: 100%;
  border-collapse: collapse;
}

body>h4 {
  color: var(--secundary-color);
  /* margin-top: 4rem; */
  margin-bottom: .5rem;
  font-size: 1.5rem;
  width: 100%;
}

.nestedAuditoriasTable th,
.nestedAuditoriasTable td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
  font-size: 14px;
}

.nestedAuditoriasTable th {
  background-color: #34495e;
  color: white;
  font-weight: bold;
}

.nestedAuditoriasTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.nestedAuditoriasTable tbody tr:hover {
  background-color: #eef6fc;
}

/* Ensuring nested tables take full width */
.nestedAuditoriasTable {
  table-layout: fixed;
}

.nestedAuditoriasTable td,
.nestedAuditoriasTable th {
  word-wrap: break-word;
}