.wrapper_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* #region filtros */
.filters {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 1rem; */
    box-sizing: border-box;
    flex-direction: column;
    padding: 2rem 3.5rem;
    flex: 0 0 auto;
    background-color: var(--blue-1);
    border-bottom: 1px solid var(--white-800-20);
}
.titleHeader {
    font-size: clamp(3rem, 1.6vw, 5rem);
    font-family: raleway-bold;
    color: var(--white-color-800);
    letter-spacing: .06rem;
    padding: .5rem 0;
}
.filters>form#formFilterVentas{
    width: 100%;
}

.filters>form#formFilterVentas>div {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 2rem;
}
.filters>form#formFilterVentas> div > .inputWrapper{
    width: 20%;
}


.filters>form#formFilterVentas .wrapperSelectFilter {
    width: 20%;
    min-width: 20rem;
    display: flex;
    gap: .4rem;
    flex-direction: column;
}

.filters>form#formFilterVentas .wrapperSelectFilter img{
    z-index: 3;
    filter: invert(1);

}

.filters>form#formFilterVentas .wrapperSelectFilter input {
    background-color: var(--background-color);
    color: var(--third-color);
    z-index: 2;
}

.filters>form#formFilterVentas .wrapperSelectFilter .options{
    z-index: 1;
}


.filters>form#formFilterVentas label.labelInput {
    font-size: clamp(1.2rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    color: var(--third-color);
}
.filters .labelInput{
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-family: raleway;
    color: var(--white-800-50);
    margin-bottom: .5rem;
    padding-left: .3rem;
} 

.filters>form#formFilterVentas .wrapperSearchFilter {
    width: 30%;
    min-width: 20rem;
    display: flex;
    gap: .4rem;
    flex-direction: column;
}

.filters>form#formFilterVentas .wrapperSearchFilter>div {
    position: relative;
    display: flex;
    align-items: center;
}



.filters>form#formFilterVentas .wrapperSearchFilter>div>input {
    color: var(--white-800-80);
    z-index: 2;
    font-family: raleway-semibold;
    width: 100%;
}

.filters>form#formFilterVentas .wrapperSearchFilter>div>img {
    position: absolute;
    filter: invert(1);
    width: 1.8rem;
    right: 2rem;
    z-index: 6;
}



.filters #selectWrapperSelectAgencia>.containerInputAndOptions>img {
    filter: invert(1);
    z-index: 5;
}

.filters #selectWrapperSelectAgencia>.containerInputAndOptions>#sucursalInput {
    background-color: var(--background-color);
    color: var(--third-color);
    z-index: 4;
}

.filters #selectWrapperSelectAgencia>.containerInputAndOptions>.options {
    z-index: 3;
}

/* #endregion */


.accountWrapper {
    display: flex;
    column-gap: 2rem;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1rem 3.5rem;
}

.operations {
    width: 75%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.actionsWrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 23rem;
    max-width: 30rem;
}

.buttonsWrapper>#makeInforme {
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-family: raleway-semibold;
    background-color: var(--blue-accent-color);
    color: white;
    text-decoration: none;
    min-width: fit-content;
    padding: 2% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--blue-accent-color);
    border-radius: 0.6rem;
    margin-bottom: .7rem;
}

.countsAuditoriasWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.countsAuditoriasWrapper>.countItem {
    flex: 1 0 50%;
    
    margin-top: 1rem;
}

.countsAuditoriasWrapper>.countItem > h3{
    text-align: center;
    font-family: raleway-semibold;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    color: var(--third-color);
}

.countsAuditoriasWrapper>.countItem>.amountAuditorias {
    width: fit-content;
    padding: .3rem .8rem;
    border-radius: .5rem;
    background-color: var(--blue-accent-color);
    margin: 0 auto;
    margin-top: .3rem;
}
.operationsWrapper{
    padding-right: .7rem;
}
.ventaWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background-color: var(--blue-1);
    border: 1px solid var(--white-800-20);
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: .6rem;
}
.ventaWrapper > .statusWrapperShortInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--badge-bg, rgba(255, 255, 255, 0.10));
    backdrop-filter: blur(12px);
    border-radius: 1rem;
    width: fit-content;
    padding: .4rem .8rem;
}


.ventaWrapper > .statusWrapperShortInfo > p{
    font-family: raleway-semibold;
    font-size: clamp(1.1rem, 1.2vw, 1.5rem);
    color: var(--white-color-800);
}
.ventaWrapper > .statusWrapperShortInfo.a{
    background-color: var(--success-color-20);
    backdrop-filter: blur(10px);
}

.ventaWrapper > .statusWrapperShortInfo > .iconStatus{
    width: .1vw;
    height: .1vw;
    max-width: 2.3rem;
    min-width: 1.5rem;
    max-height: 2.3rem;
    min-height: 1.5rem;
    border-radius: 50%;
}
.ventaWrapper > .statusWrapperShortInfo > .iconStatus.a{
    background-color: var(--success-color);
}


.ventaWrapper > .statusWrapperShortInfo.d{
    background-color: var(--danger-color-50);
    backdrop-filter: blur(10px);
}

.ventaWrapper > .statusWrapperShortInfo > .iconStatus.d{
    background-color: var(--danger-color);
}

.ventaWrapper > .statusWrapperShortInfo.p{
    background-color: var(--warning-color-50);
    backdrop-filter: blur(10px);
}

.ventaWrapper > .statusWrapperShortInfo > .iconStatus.p{
    background-color: var(--warning-color);
}

.atributtes {
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
}

.wrapperShortInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    box-sizing: border-box;
}

.wrapperDetailInfo {
    max-height: 0px;
    height: 0px;
    transition: .1s all ease-out;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    opacity: 0;
    visibility: hidden;
}

.wrapperDetailInfo.active {
    visibility: unset;
    margin-top: 1rem;
    opacity: 1;
}

.formAuditoria {
    position: relative;
}

.wrapperShortInfo>.wrapperInfoAtributte {
    width: 30%;
}

.wrapperDetailInfo>.wrapperInfoAtributte {
    width: 30%;
}

.wrapperInfoAtributte>h1 {
    color: var(--white-800-80);
    font-size: clamp(1.3rem, 1.2vw, 2rem);
    font-family: raleway-semibold;
}

.wrapperInfoAtributte>h4 {
    font-size: clamp(1rem, 1vw, 1.7rem);
    font-family: raleway-bold;
    color: var(--blue-accent-color);
    padding: .4rem 0;
}

.displayDetailInfoButton {
    background-color: transparent;
    position: absolute;
    right: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    outline: none;
    border-color: transparent;
    border-radius: .6rem;
    padding: .2rem;
    cursor: pointer;
}
.displayDetailInfoButton:hover{
    background-color: var(--white-800-20);
}
/* .wrapperButtonsGrade {
    box-sizing: border-box;
    padding: 1rem;
    background-color: #0000001a;
    border-radius: 0.6rem;
    margin-top: 1rem;
} */

.wrapperButtonsGrade.selectedGrade {
    position: relative;
    pointer-events: none;
}

.backgroundSelect {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.6rem;
    background-color: #43414173;
}

.backgroundSelect.active {
    display: unset;
}

.operationItem {
    margin-bottom: 1rem;
}

.displayDetailInfoButton>img {
    /* filter: invert(1); */
    width: 100%;
    transform: rotate(90deg);
}

.displayDetailInfoButton>img.active {
    transform: rotate(-90deg);
}

.statusWrapper {
    margin-top: 1rem;
}

.operationsList {
    list-style: none;
}
.inline-loader{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.06);
}

.inline-loader.inline-loader--hidden{
    display: none;
}
.inline-loader--success{
    display: none;
}

.statusWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#containerModularForm > h2{
    color: var(--white-color-800);
    font-size: clamp(1.6rem, 1.3vw, 2rem);
    font-family: raleway-semibold;
    text-align: center;
}

.wrapperButtonsGrade{
    margin: 1.5rem 0;
}

.buttonsWrapper {
    display: flex;
    gap: .8rem;
    justify-content: center;
}
.buttonsWrapper>button.auditarButton{
    font-size: clamp(1.1rem, 1.1vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: .5rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: .6rem;
    cursor: pointer;
}

.buttonsWrapper>button.editarButton{
    font-size: clamp(1.1rem, 1.1vw, 1.4rem);
    font-family: raleway-semibold;
    background-color: transparent;
    color: var(--primary-color);
    padding: .5rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: .6rem;
    cursor: pointer;
}

.statusWrapper input {
    display: none;
}

.buttonsWrapper input {
    display: none;
}

.buttonsWrapper>label {
    padding: .8rem 1.5rem;
    border-radius: .6rem;
    cursor: pointer;
    color: var(--white-800-80);
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
    display: block;
    text-align: center;
    width: 40%;
}

.buttonsWrapper>label.selected {
    opacity: .5;
    pointer-events: none;
}
.operationsList .atributtes .buttonsWrapper>button{
    padding: .6rem 1.5rem;
}

label.desaprobarLabel {
    border: 1.3px solid var(--danger-color);

}

label.desaprobarLabel:hover {
    background-color: var(--danger-color);
}

.buttonsWrapper>input.desaprobarI:checked~label.desaprobarLabel {
    background-color: var(--danger-color);
    color: var(--third-color);
    border: 1px solid var(--danger-color);
}


label.aprobarLabel {
    border: 1.3px solid  var(--blue-accent-color);
}

label.aprobarLabel:hover {
    background-color: var(--blue-accent-color);
}

.buttonsWrapper>input.aprobarI:checked~label.aprobarLabel {
    background-color: var(--blue-accent-color);
    color: var(--third-color);
    border: 1px solid var(--blue-accent-color);
}

.wrapperInputComent{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.tingle-modal-box__footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.tingle-btn.buttonAuditControl{
    border-radius: .6rem;
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
}

.tingle-btn.tingle-btn--primary.buttonAuditControl:disabled{
    opacity: .5;
    pointer-events: none;
}


label#editar {
    background-color: rgba(61, 123, 216);
}

label#editar:hover {
    outline: 1.3px solid rgba(61, 123, 216, 0.85);
    box-shadow: 0 0 5px rgba(61, 123, 216, 0.9);
}

button#cancelarGrade {
    padding: 0.6rem 1.3rem;
    border-radius: 0.6rem;
    background-color: transparent;
    outline: none;
    border-color: transparent;
    cursor: pointer;
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
    border: 1px solid rgba(61, 123, 216);
}

.dotStatus {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
}

.dotStatus.pendiente {
    background-color: var(--third-color);
}

.dotStatus.aprobada {
    background-color: rgb(9, 213, 19);
}

.dotStatus.desaprobada {
    background-color: rgb(237, 20, 20);
}

.statusPostVenta {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.statusPostVenta>h3 {
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
}

.wrapperInputComent>label {
    font-size: clamp(1.1rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    color: var(--white-800-80);
    display: block;
    margin-bottom: .3rem;
    margin-top: .8rem;
    text-align: center;
}

/* .wrapperInputComent>textarea#comentarioInput {
    outline: none;
    width: 80%;
    box-sizing: border-box;
    padding: .8rem;
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
    border-radius: .6rem;
    border: #25242475 1px solid;
} */

.wrapperMessage {
    margin: .6rem 0;
    margin: 0.6rem 0;
    padding: 0.8rem;
    border-radius: 0.6rem;
    background-color: rgba(255, 255, 0, 0.842);
}

.wrapperMessage>h3 {
    font-size: clamp(1.1rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
}

.wrapperMessage>h3>span {
    font-family: raleway-bold;
    text-decoration: underline;
}

.wrapperButtonsSendItem>button {
    padding: .6rem 1.3rem;
    border-radius: .6rem;
    background-color: transparent;
    outline: none;
    border-color: transparent;
    cursor: pointer;
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
}

.wrapperButtonsSendItem>button#confirmComentario {
    background-color: rgba(61, 123, 216);
    color: white;
}

.wrapperButtonsSendItem>button#cancelarComentario {
    border: 1px solid rgba(61, 123, 216);
}

#auditoriaMessageWrapper {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #ffffffe9;
    border-radius: .6rem;
    opacity: 0;
    transition: 1s all ease;
}

#auditoriaMessageWrapper>h2 {
    font-size: clamp(1.1rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    color: rgb(237, 20, 20);
}

#auditoriaMessageWrapper>h2 {
    font-size: clamp(1.1rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
    color: var(--third-color);
}

#auditoriaMessageWrapper.active {
    opacity: 1;
}

.containerHistorialAuditorias {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerHistorialAuditorias>.infoCheckWrapper {
    padding: 1rem;
    border: var(--white-800-20) 1px solid;
    border-radius: .6rem;
    /* margin-bottom: .7rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.containerHistorialAuditorias>.infoCheckWrapper>div {
    width: 30%;
    text-align: center;
}

.containerHistorialAuditorias>.infoCheckWrapper>div:first-child {
    text-align: unset;
    margin-left: .6rem;
    max-height: 8rem;
    overflow-y: auto;
}

.containerHistorialAuditorias>.infoCheckWrapper>div:first-child::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
    background-color: #3043614c;
}

.containerHistorialAuditorias>.infoCheckWrapper>div:first-child::-webkit-scrollbar-thumb {
    background: #304361;
    border-radius: 1rem;
}
/* 
.containerHistorialAuditorias>.infoCheckWrapper>div>p {
    word-wrap: break-word;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
} */

.containerHistorialAuditorias>.infoCheckWrapper>div>p {
    word-wrap: break-word;
    color: var(--white-800-80);
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    font-family: raleway-semibold;
}

.wrapperComentarios>h4 {
    word-wrap: break-word;
    font-size: clamp(1.1rem, 1.2vw, 1.4rem);
    font-family: raleway-semibold;
}

.containerHistorialAuditorias>.infoCheckWrapper>div.wrapperUltimo {
    width: fit-content;
}

.containerHistorialAuditorias>.infoCheckWrapper>div.wrapperUltimo>p {
    font-family: raleway-semibold;
    font-size: clamp(1.2rem, 1.2vw, 1.5rem);
    color: var(--blue-accent-color);
    text-decoration: underline;
    text-decoration-color: var(--blue-accent-color);
}



#messageStatusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#messageStatusContainer>img {
    min-width: 5rem;
    width: 35%;
    max-width: 13rem;
}

#messageStatusContainer>h2 {
    font-size: clamp(1.4rem, 1.3vw, 2rem);
    font-family: 'raleway-semibold';
    color: var(--background-color);
}
.vt-empty{
    font-size: clamp(1.2rem, 1.2vw, 1.7rem);
    font-family: 'raleway-semibold';
    color: var(--white-800-80);
    text-align: center;
}