.wrapper_content {
    display: flex;
    flex-flow: column;
}

.filters {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3rem 4rem;
}

.filters>div {
    position: relative;
    display: flex;
    width: 40%;
    height: 3.2rem;
    flex-flow: column;
    justify-content: center;
    color: white;
    font-family: raleway;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: 3rem;
}

.filters>div>img {
    position: absolute;
    /* rotate: -90deg; */
    filter: invert(1);
    width: 1.8rem;
    right: 2rem;
    z-index: 6;
}

/* .tittleDo {
    padding: 1rem;
} */

.filters>h3 {
    font-size: clamp(1.7rem, 1.5vw, 2.4rem);
    font-family: raleway-semibold;
    color: var(--third-color);
}

.customer {
    color: var(--third-color);
    z-index: 2;
}

#formSelectCustomer {
    max-height: 80vh;
    overflow-y: auto;
}

.information {
    width: 100%;
    overflow-x: auto;
    overflow-y: none;
    /* Quita los bordes internos */
    border-collapse: collapse;

}

#formSelectCustomer::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    border-radius: 5px;
}

#formSelectCustomer::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 1rem;
}

.information>thead {
    background-color: var(--fourth-color);
    color: var(--third-color);
    font-family: raleway-semibold;
    font-size: clamp(1.3rem, 1.2vw, 1.7rem);
    text-align: center;
}

.information>thead>tr>th {
    padding: 1rem;
}


.information>tbody {
    color: var(--third-color);
    font-family: raleway-semibold;
    font-size: clamp(1.3rem, 1.1vw, 1.5rem);
    text-align: center;
}


.information>tbody>tr>td {
    padding: 1rem;
}

.information>tbody>tr {
    cursor: pointer;
    position: relative;
    text-align: center;
}

.information>tbody>tr:hover {
    background-color: #304361;
}

.information>tbody>tr>td>.checkbox_select_client {
    position: absolute;
    left: 2rem;

}


.buttonsWrapper {
    margin: auto 4rem 3rem 4rem;
    display: flex;
    justify-content: space-between;
}

.buttonsWrapper>h5.message_error {
    color: #ed1717;
    background: var(--third-color);
    font-family: raleway-semibold;
    font-size: clamp(1.6rem, 1.3vw, 2.3rem);
    padding: .8rem 3rem;
    border-radius: .6rem;
}

.buttonsWrapper>div {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.buttonsWrapper>div>* {
    font-family: raleway-semibold;
    font-size: clamp(1.3rem, 1.1vw, 1.5rem);
    color: var(--third-color);
}